<table id="inventory">
  <thead>
    <tr class="table-titles-inventories">
      <th> Código </th>
      <th> Descripción </th>
      <th> Color </th>
      <th> Línea </th>
      <th> Paquetes </th>
      <th> PxP </th>
      <th> Inventario </th>
      <th> Estatus </th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td> <%= show_non_blank_field(inventory.product.unique_code) %> </td>
        <td> <%= show_non_blank_field(inventory.product.description) %> </td>
        <td> <%= show_non_blank_field(inventory.product.exterior_color_or_design) %> </td>
        <td> <%= show_non_blank_field(inventory.product.line) %> </td>
        <td> <%= packages(inventory) %> </td>
        <td> <%= inventory.product.pieces_per_package %> </td>
        <td> <%= number_with_delimiter(inventory.quantity) %> </td>
        <td> <%= inventory_alert(inventory) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <%= javascript_include_tag 'inventory' %>
<% end %>
