<table id="inventory">
  <thead>
    <tr class="table-titles-inventories">
      <th> Código </th>
      <th> Descripción </th>
      <th> Color </th>
      <th> Línea </th>
      <th> Inventario </th>
      <% if !(current_user.store.store_type.store_type == 'tienda propia') %>
        <th> Costo </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
    <tr>
      <td> <%= show_non_blank_field(inventory.unique_code) %> </td>
      <td> <%= show_non_blank_field(inventory.description) %> </td>
      <td> <%= show_non_blank_field(inventory.exterior_color_or_design) %> </td>
      <td> <%= show_non_blank_field(inventory.line) %> </td>
      <td> <%= number_with_delimiter(inventory.quantity) %> </td>
      <% if !(current_user.store.store_type.store_type == 'tienda propia') %>
        <td> <%= number_to_currency(inventory.total_cost) %> </td>
      <% end %>
    </tr>
    <% end %>
    <tr>
      <td> - </td>
      <td> <strong> Total </strong> </td>
      <td> - </td>
      <td> - </td>
      <td>
        <strong>
          <%= number_with_delimiter(@total_quantity) %>
        </strong>
      </td>
      <% if !(current_user.store.store_type.store_type == 'tienda propia') %>
        <td>
          <strong>
            <%= number_to_currency(@total_cost) %>
          </strong>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'inventory' %>
<% end %>
