<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <%= javascript_include_tag 'data_tables' %>
<% end %>

<table id="inventory">
  <thead>
    <tr class="table-titles-inventories">
      <th> C贸digo </th>
      <th> Descripci贸n </th>
      <th> Color </th>
      <th> Inventario </th>
      <th> Hist贸rico (<%= current_user.store.months_in_inventory %> meses)</th>
      <th> Proyecci贸n (<%= current_user.store.months_in_inventory %> meses)</th>
      <th> Estatus </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td> <%= product.unique_code %> </td>
      <td> <%= product.description %> </td>
      <td> <%= product.exterior_color_or_design %> </td>
      <% set_inventory(product) %>
      <td> <%= set_inventory(product).quantity %> </td>
      <td> <%= sales_future(product) %> </td>
      <td> <%= sales_past(product) %> </td>
      <td> <%= inventory_alert(product) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
