<%= form_tag({ controller: 'inventories', action: 'get_report' }, method: 'get', class: 'form-data-tables') do %>

  <br /><br />

  <h2 class="blue-title">Por favor seleccione la fecha y el tipo de reporte</h2>

  <br /><br />

  <div class="field">
    <%= label_tag :tipo_de_reporte %>
    <%= select_tag :information, options_for_select([['Movimientos de inventario'], ['Ventas y movmientos'], ['Reporte de inventario']]) %>
  </div>

  <div class="field inventory-report hidden">
    <%= label_tag :corte_de_información %>
    <%= select_tag :what_final_date, options_for_select([['Al día de hoy'], ['Hasta una fecha']]) %>
  </div>

  <div class="field movements-report">
    <%= label_tag :opciones %>
    <%= select_tag :options, options_for_select([['Seleccionar día'], ['Mes actual'], ['Rango de fechas']]) %>
  </div>

  <div class="field">
    <%= label_tag :productos_en_el_reporte %>
    <%= select_tag :products, options_for_select([['Elegir producto'], ['Todos los productos']]) %>
  </div>

  <div class="field product-select-2 movements-report">
    <%= label_tag :seleccionar_producto %>
    <%= select_tag :product_list, options_for_select(@products, selected: @products.first), {include_blank: true, multiple: true, class: 'form-inside select2-products'} %>
  </div>

  <div class="field extra-margin-top">
    <%= label_tag :fecha_de_reporte, nil, class: 'date-field-report' %>
    <% if [1, 2].include?(current_user.store.id) %>
      <%= date_field_tag(:date, Date.today, options = {max: Date.today, min: Movement.where(store_id: current_user.store.id).order(:created_at).limit(1).pluck(:created_at).first.to_date }) %>
    <% else %>
      <%= date_field_tag(:date, Date.today, options = {max: Date.today, min: StoreMovement.where(store_id: current_user.store.id).order(:created_at).limit(1).pluck(:created_at).first.to_date }) %>
    <% end %>
  </div>

  <div class="group_fields hidden">
    <div class="field">
      <%= label_tag :fecha_inicial %>
      <% if [1, 2].include?(current_user.store.id) %>
        <%= date_field_tag(:initial_date, Date.today, options = {max: Date.today, min: Movement.where(store_id: current_user.store.id).order(:created_at).limit(1).pluck(:created_at).first.to_date }) %>
      <% else %>
        <%= date_field_tag(:initial_date, Date.today, options = {max: Date.today, min: StoreMovement.where(store_id: current_user.store.id).order(:created_at).limit(1).pluck(:created_at).first.to_date }) %>
      <% end %>
    </div>

    <div class="field">
      <%= label_tag :fecha_final %>
      <% if [1, 2].include?(current_user.store.id) %>
        <%= date_field_tag(:final_date, Date.today, options = {max: Movement.where(store_id: current_user.store.id).order(:created_at).limit(1).pluck(:created_at).first.to_date }) %>
      <% else %>
        <%= date_field_tag(:final_date, Date.today, options = {max: Date.today, min: min: StoreMovement.where(store_id: current_user.store.id).order(:created_at).limit(1).pluck(:created_at).first.to_date }) %>
      <% end %>
    </div>
  </div>

  <br /><br />

  <div class="actions">
    <%= submit_tag 'Ver reporte', class: 'main-button' %>
  </div>

  <br /><br />

<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'select2.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'select2.min' %>
  <%= javascript_include_tag 'es' %>
  <%= javascript_include_tag 'products_select' %>
  <%= javascript_include_tag 'reports' %>
<% end %>
