<%= render 'store_errors' %>

<%= form_for(@store) do |f| %>

<div class="field">
  <%= f.label :nombre_de_la_tienda %>
  <%= f.text_field :store_name %>
</div>

  <div class="field">
    <%= f.label :código_de_la_tienda %>
    <%= f.text_field :store_code %>
  </div>

  <div class="field">
    <%= f.label :tipo_de_tienda %>
    <%= f.select :store_type, options_for_select(['tienda propia','franquicia', 'corporativo']) %>
  </div>

  <div class="field">
    <%= f.label :descuento_autorizado %>
      <%= f.text_field :discount %>
  </div>

  <div class="field">
    <%= f.label :nombre_del_grupo_de_tiendas %>
    <%= f.select :discount, options_for_select(BusinessUnit.all.collect{|b| [b.name, b.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit :crear_tienda %>
  </div>

<% end %>
