<%= render 'store_errors' %>

<%= form_for(@store) do |f| %>

  <h2 class="info-title">Editar tienda</h2>
  <div class="form-container">

    <div class="form-inside-style">
      <%= f.label :nombre_de_la_tienda %>
      <%= f.text_field :store_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :código_de_la_tienda %>
      <%= f.text_field :store_code, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :tipo_de_tienda %>
      <%= f.select :store_type_id, options_for_select(StoreType.all.collect{|t| [t.store_type, t.id]}) %>
    </div>

    <div class="form-inside-style">
      <%= f.label :descuento_autorizado %>
        <%= f.text_field :discount, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :grupo_de_tiendas %>
      <%= f.select :business_unit_id, options_for_select(BusinessUnit.all.collect{|b| [b.name, b.id]}) %>
    </div>

  </div>

  <div class="button-container">
    <div class="actions">
    <%= f.submit 'Crear', class: 'main-button button-margin' %>
    </div>
  </div>

<% end %>

<%= link_to 'Regresar', :back %>
