<%= render 'store_errors' %>

<%= form_for(@store) do |f| %>

  <h2 class="info-title">Editar tienda</h2>
  <div class="form-container">

    <div class="form-inside-style">
      <%= f.label :nombre_de_la_tienda %>
      <%= f.text_field :store_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :código_de_la_tienda %>
      <%= f.text_field :store_code, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :tipo %>
      <%= f.select :type_of_person, options_for_select(['persona física', 'persona moral'], selected: @store.type_of_person) %>
    </div>

    <div class="form-inside-style">
      <%= f.label :tipo_de_tienda %>
      <%= f.select :store_type_id, options_for_select(StoreType.all.collect{|t| [t.store_type, t.id]}) %>
    </div>

    <h3>Datos de contacto</h3>

    <div class="form-inside-style">
      <%= f.label :primer_nombre %>
      <%= f.text_field :contact_first_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :segundo_nombre %>
      <%= f.text_field :contact_middle_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :apellido_paterno %>
      <%= f.text_field :contact_last_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :apellido_materno %>
      <%= f.text_field :second_last_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :correo_electrónico %>
      <%= f.email_field :email, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :teléfono_directo %>
      <%= f.text_field :direct_phone, maxlength: 10, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :extensión %>
      <%= f.text_field :extension, maxlength: 10, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :celular %>
      <%= f.text_field :cell_phone, maxlength: 10, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :empresa %>
      <%= f.select :business_unit_id, options_for_select(BusinessUnit.all.collect{|b| [b.name, b.id]}, selected: @store.business_unit_id) %>
    </div>

    <div class="form-inside-style">
      <%= f.label :grupo_de_negocios %>
      <%= f.select :business_group_id, options_for_select(BusinessGroup.all.collect{|b| [b.name, b.id]}, selected: @store.business_group_id) %>
    </div>

    <div class="button-container">
      <div class="actions">
        <%= f.submit :Guardar, class: 'main-button' %>
      </div>
    </div>
  </div>

<% end %>
