<table class="dataTableFour">
  <thead>
    <tr class="table-titles">
      <th>Código</th>
      <th>Nombre</th>
      <th>Tipo de tienda</th>
      <th>Empresa</th>
      <th>Usuarios</th>
      <th> Acciones </th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%=store.store_code %></td>
        <td><%=store.store_name %></td>
        <td><%=store.store_type.store_type %></td>
        <td><%=store.business_unit.name %></td>
        <td><%=store.users.count %></td>
        <td>
          <%= link_to store_path(store), class: 'link-extra-space' do %>
            <i class="fa fa-eye link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver"></i>
          <% end %>
          <%= link_to edit_store_path(store), class: 'link-extra-space' do %>
            <i class="fa fa-pencil-square-o link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Editar"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'dataTables'%>
