<div class="show-container" id="stores-container">
  <h2 class="info-title">
    <%= @store.store_code %> -
    <%= @store.store_name %>
  </h2>

  <p>
    <strong>Tipo de tienda: </strong>
    <%= @store.store_type.store_type %>
  </p>

  <p>
    <strong>Empresa: </strong>
    <%= @store.business_unit.name %>
  </p>

  <p>
    <strong>Grupo de negocios: </strong>
    <%= @store.business_group.name %>
  </p>

  <p>
    <strong>Tipo de persona: </strong>
    <%= @store.type_of_person %>
  </p>

  <h3 class="info-subtitle store-subtitle">Datos de contacto</h3>

  <p>
    <strong>Nombre del contacto:</strong>
    <%= @store.contact_first_name %> <%= @store.contact_middle_name %> <%= @store.contact_last_name %> <%= @store.second_last_name %>
  </p>

  <p>
    <strong>Correo: </strong>
    <%=@store.email %>
  </p>

  <p>
    <strong>Correo para comunicación: </strong>
    <%=@store.bill_email %>
  </p>

  <p>
    <strong>Teleléfono fijo: </strong>
    <%=@store.direct_phone %>
  </p>

  <p>
    <strong>Extensión: </strong>
    <%=@store.direct_phone %>
  </p>

  <% if @store.cell_phone.present?%>
    <p>
      <strong>Celular: </strong>
      <%=@store.cell_phone %>
    </p>
  <% end %>

  <p>
    <strong>Codigo de Instalacion: </strong>
    <%=@store.install_code %>
  </p>

  <p>
    <strong> ¿Cobranza activa?: </strong>
    <%= translate_collection(@store) %>
  </p>

  <p>
    <strong> Aviso de vencimiento de crédito: </strong>
    <%= @store.days_before %> días
  </p>

  <p>
    <strong> Aviso de después de vencimiento: </strong>
    <%= @store.days_after %> días
  </p>

  <p>
    <% if current_user.role.name == 'store-admin' %>
      <%= link_to 'Editar datos', edit_store_path(@store), class: 'space-between-links' %>
    <% end %>
    <% if @store.business_unit.billing_address.present? %>
      <%= link_to 'Datos de facturación', billing_address_path(id: @store.business_unit.billing_address), class: 'space-between-links' %>
    <% end %>
    <% if @store.delivery_address.present? %>
      <%= link_to 'Dirección de entrega principal', delivery_address_path(id: @store.delivery_address), class: 'space-between-links' %>
    <% end %>
    <% if current_user.role.name == 'platform-admin' %>
      <%= link_to 'Eliminar tienda', store_path(@store), class: 'red space-between-links', method: :delete, data: { confirm: '¿Está seguro que desea eliminar esta tienda?' } %>
    <% end %>
  </p>

</div>
