
<div class="info-container store-container">

  <h3 class="info-title">
    <%= @store.store_code %> -
    <%= @store.store_name %>
  </h3>

  <p class="info">
    <strong>Tipo de tienda: </strong>
    <%= @store.store_type.store_type %>
  </p>

  <p class="info">
    <strong>Empresa: </strong>
    <%= @store.business_unit.name %>
  </p>


  <p class="info">
    <strong>Grupo de negocios: </strong>
    <%= @store.business_group.name %>
  </p>

  <p class="info">
    <strong>Tipo de persona: </strong>
    <%= @store.type_of_person %>
  </p>


  <h4 class="info-subtitle store-subtitle">Datos de contacto</h4>

  <p class="info">
    <strong>Nombre del contacto:</strong>
    <%= @store.contact_first_name %> <%= @store.contact_middle_name %> <%= @store.contact_last_name %> <%= @store.second_last_name %>
  </p>

  <p class="info">
    <strong>Correo: </strong>
    <%=@store.email %>
  </p>

  <p class="info">
    <strong>Teleléfono fijo: </strong>
    <%=@store.direct_phone %>
  </p>

    <p class="info">
      <strong>Extensión: </strong>
      <%=@store.direct_phone %>
    </p>


  <p class="info">
    <strong>Celular: </strong>
    <%=@store.cell_phone %>
  </p>

  <p>
    <% if @store.business_unit.billing_address.present? %>
      <%= link_to 'Datos de facturación', billing_address_path(id: @store.business_unit.billing_address) %>
    <% end %>
    <% if @store.delivery_address.present? %>
      <%= link_to 'Dirección de entrega principal', delivery_address_path(id: @store.delivery_address) %>
    <% end %>
    <% if current_user.role.name == 'platform-admin' %>
      <%= link_to 'Eliminar tienda', store_path(@store), class: 'red', method: :delete, data: { confirm: '¿Está seguro que desea eliminar esta tienda?' } %>
    <% end %>
  </p>

</div>
