
<%= link_to 'Archivo de inventarios', stores_download_products_example_path %>

<%= link_to 'Archivo de clientes',  stores_download_prospects_example_path %>

<%= form_for(@store, url: {action: 'save_csv_files'}, method: :post) do |user_form| %>

  <h2 class="info-title">Actualizar datos de tienda</h2>
  <div class="form-container">

    <div class="form-inside-style">
      <%= user_form.label :archivo_de_clientes %>
      <%= user_form.file_field :prospects, accept: '.csv' %>
    </div>

    <% if @store.initial_inventory.blank? %>
      <div class="form-inside-style">
        <%= user_form.label :archivo_de_inventario %>
        <%= user_form.file_field :initial_inventory, accept: '.csv' %>
      </div>

    <% else %>
      <div class="form-inside-style">
        <%= user_form.label :archivo_de_inventario %>
        <%= user_form.file_field :current_inventory, accept: '.csv' %>
      </div>
    <% end %>

    <div class="button-container">
      <div class="actions extra-margin-top">
        <%= user_form.submit :subir_archivos, class: 'main-button' %>
      </div>
    </div>

  </div>

<% end %>
