<table id="delivery-services" class="table-display-details">
  <thead>
    <tr>
      <th colspan="12" class="table-titles"> Resumen de ventas <%= params[:date] %> </th>
    </tr>
    <tr>
      <th> Ticket </th>
      <th> Fecha </th>
      <th> Movimiento </th>
      <th> Tipo de guía </th>
      <th class="quantity-width"> Cantidad </th>
      <th> Subtotal </th>
      <th> Descuento </th>
      <th> IVA </th>
      <th> Total </th>
      <th> Costo de venta </th>
      <th> Margen $</th>
      <th> Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_services.each do |service_offered| %>
      <tr>
        <td> <%= service_offered.ticket.ticket_number %> </td>
        <td> <%= l service_offered.created_at.to_date %> </td>
        <td> <%= service_offered.service_type %> </td>
        <td> <%= service_offered.service.unique_code %> <%= service_offered.service.description %> </td>
        <td> <%= number_with_delimiter(service_offered.quantity) %> </td>
        <td> <%= number_to_currency(service_offered.subtotal) %> </td>
        <td> <%= number_to_currency(service_offered.discount_applied) %> </td>
        <td> <%= number_to_currency(service_offered.taxes) %> </td>
        <td> <%= number_to_currency(service_offered.total) %> </td>
        <td> <%= number_to_currency(service_offered.total_cost * 1.16) %> </td>
        <td> <%= number_to_currency(service_offered.total - (service_offered.total_cost * 1.16)) %> </td>
        <td>
          <%= link_to delivery_services_show_database_path(service_offered.delivery_service) do %>
            <i class="fa fa-cube link-to-show" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Datos de envío"></i>
          <% end %>

          <%= link_to delivery_services_show_report_path(service_offered) do %>
            <% if service_offered.total_cost == 0 %>
              <i class="fa fa-calculator link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Cambiar costo"></i>
            <% else %>
              <i class="fa fa-calculator link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ver costo y precio"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> <strong> Total </strong> </td>
      <td> <strong> <%= number_to_currency(@day_quantity) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_subtotal) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_discount) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_taxes) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_total) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_total_cost) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_total_margin) %> </strong> </td>
      <td> </td>
    </tr>
  </tbody>
</table>

<table class="hidden">
  <tbody>
    <tr>
      <td id="date"> <%= l Date.today, format: :short %> </td>
      <td id="store"> <%= current_user.store.store_name %> </td>
      <td id="hour"> <%= Time.now.strftime("%H:%M") %> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <%= javascript_include_tag 'delivery-services' %>
<% end %>
