<% if current_user.role.name == 'viewer' %>
  <table id="delivery-services" class="display-database-viewer">
<% else %>
  <table id="delivery-services" class="display-database-store">
<% end %>
  <thead>
    <tr>
      <% if current_user.role.name == 'viewer' %>
        <th colspan="12" class="table-titles"> Resumen de ventas <%= params[:date] %> </th>
      <% else %>
        <th colspan="11" class="table-titles"> Resumen de ventas <%= params[:date] %> </th>
      <% end %>
    </tr>
    <tr>
      <% if current_user.role.name == 'viewer' %>
        <th> Tienda </th>
      <% end %>
      <th> Ticket </th>
      <th class="hidden"> Ticket original </th>
      <th> Fecha </th>
      <th> Movimiento </th>
      <th> Tipo de guía </th>
      <th> Número de guía </th>
      <th> CP Envío </th>
      <th> CP Destino </th>
      <th> Peso </th>
      <th> Medidas </th>
      <th class="hidden"> Remitente </th>
      <th class="hidden"> Destinatario </th>
      <th class="hidden"> Contacto </th>
      <th class="hidden"> Teléfono fijo </th>
      <th class="hidden"> Celular </th>
      <th class="hidden"> Correo </th>
      <th class="hidden"> Dirección </th>
      <th> Acciones </th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_services.each do |delivery_service| %>
      <tr>
        <% if current_user.role.name == 'viewer' %>
          <td> <%= delivery_service.store.store_name %> </td>
        <% end %>
        <td> <%= delivery_service.service_offered.ticket.ticket_number %> </td>
        <td class="hidden"> <%= delivery_service.service_offered.ticket.parent&.ticket_number %> </td>
        <td> <%= l delivery_service.created_at.to_date %> </td>
        <td> <%= delivery_service.service_offered.service_type %> </td>
        <td> <%= delivery_service.service_offered.service.unique_code %> <%= delivery_service.service_offered.service.description %> </td>
        <td> <%= delivery_service&.tracking_number %> </td>
        <td> <%= delivery_service.sender_zipcode %> </td>
        <td> <%= delivery_service.receivers_zipcode %> </td>
        <% if delivery_service.weight.blank? %>
          <td> - </td>
        <% else %>
          <td> <%= delivery_service.weight %> kg </td>
        <% end %>
        <% if (delivery_service.length.blank? && delivery_service.width.blank? && delivery_service.height.blank?) %>
          <td> - </td>
        <% else %>
          <td> <%= delivery_service.length %> x <%= delivery_service.width %> x <%= delivery_service.height %> </td>
        <% end %>
        <td class="hidden"> <%= delivery_service.sender_name %> </td>
        <td class="hidden"> <%= delivery_service.receivers_name %> </td>
        <td class="hidden"> <%= delivery_service.contact_name %> </td>
        <td class="hidden"> <%= delivery_service.phone %> </td>
        <td class="hidden"> <%= delivery_service.cellphone %> </td>
        <td class="hidden"> <%= delivery_service.email %> </td>
        <td class="hidden"> <%= delivery_service.street %> <%= delivery_service.exterior_number %> <%= delivery_service.interior_number %>, Col. <%= delivery_service.neighborhood %>, <%= delivery_service.city %>, <%= delivery_service.state %> , <%= delivery_service.country %> </td>
        <td>
          <%= link_to delivery_services_show_report_path(delivery_service.service_offered) do %>
            <% if delivery_service.service_offered.total_cost == 0 %>
              <i class="fa fa-calculator link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Cambiar costo"></i>
            <% else %>
              <i class="fa fa-calculator link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Ver costo y precio"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="hidden">
  <tbody>
    <tr>
      <td id="date"> <%= l Date.today, format: :short %> </td>
      <td id="store"> <%= current_user.store.store_name %> </td>
      <td id="hour"> <%= Time.now.strftime("%H:%M") %> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'delivery-services' %>
<% end %>
