<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crédito expirado</title>
  </head>
  <body>
    <p>
      Estimado cliente <%= @request.prospect.legal_or_business_name %>
      <br />
      <br />
      <br />
      Le envío para su revisión y comentarios la cotización que nos solicitó.
    </p>

    <br />
    <br />

    <div class="small-address">
      <%= image_tag 'logo-disenos-decarton.png', width: '300px', height: 'auto', alt: 'Logo Diseños de Cartón' %>
      <br />
      <p>
        <strong>
          Sucursal <%= @request.store.store_name.capitalize %>
        </strong>
        <br />
        <%= @address %>
        <br />
        <% if @request.store.direct_phone.length > 10 %>
          Tel: <%= number_to_phone(@request.store.direct_phone, area_code: true) %>
        <% else %>
          Tel: <%= number_to_phone(@request.store.direct_phone) %>
        <% end %>
        <br />
        <%= mail_to @request.store.email %>
        <br />
        <%= link_to 'www.disenosdecarton.com.mx', "http://#{@store_webpage}", target: "_blank" %>
        <br />
        <br />
        Servicio automatizado de envío de correo. Favor de responder al correo de la tienda.
      </p>
    </div>

  </body>
</html>
