<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Precio de Venta asignado</title>
  </head>
  <body>
    <p>
      Estimado(a) <%= @manager.first_name %> <%= @manager.last_name %>.
      La tienda <%= @request.store.store_name %> ha asignado un precio de venta de <%= number_to_currency(@request.sales_price) %> pesos a  el pedido especial número <%= @request.id %>.
    </p>

    <div class="small-address">
      <%= image_tag 'logo-disenos-decarton.png', width: '300px', height: 'auto', alt: 'Logo Diseños de Cartón' %>
      <br />
      <p>
        <strong>
          Diseños de Cartón
        </strong>
        <br />
        Más que cajas... Soluciones.
        <br />
        <%= link_to 'www.disenosdecarton.com.mx', "http://www.disenosdecarton.com.mx", target: "_blank" %>
        <br />
        <br />
        Servicio automatizado de envío de correo. Favor de no responder a este correo.
      </p>
    </div>

  </body>
</html>
