<% @value = '' %>
<% if @request.product_type == 'otro' %>
  <% @value = @request.name_type %>
<% else %>
  <% @value = @request.product_type %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Precio de venta asignado</title>
  </head>
  <body>
    <p>
      Estimado(a) <%= @manager.first_name %> <%= @manager.last_name %>.
      La tienda <%= @request.store.store_name %> ha cancelado  el pedido especial número <%= @request.id %> por <%= number_with_delimiter(@request.quantity) %> piezas.
      Tipo de producto: <%= @value %>.
    </p>

    <div class="small-address">
      <%= image_tag 'logo-disenos-decarton.png', width: '300px', height: 'auto', alt: 'Logo Diseños de Cartón' %>
      <br />
      <p>
        <strong>
          Diseños de Cartón
        </strong>
        <br />
        Más que cajas... Soluciones.
        <br />
        <%= link_to @store_webpage, "http://#{@store_webpage}", target: "_blank" %>
        <br />
        <br />
        Servicio automatizado de envío de correo. Favor de no responder a este correo.
      </p>
    </div>

  </body>
</html>
