<%= form_for(@bill) do |f| %>

  <div class="field form-inside-style prospect-list hidden margin-select">
    <%= f.label :buscar_tickets %>
    <%= f.select :status, options_for_select(select_tickets), {include_blank: true}, multiple: true, class: 'select2-field' %>
  </div>

  <% unless @bill.orders == [] %>
    <div class="field">
      <%= f.label :order_id %><br>
      <%= f.text_field :order_id %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_bill %><br>
    <%= f.text_field :type_of_bill %>
  </div>
  <div class="field">
    <%= f.label :prospect_id %><br>
    <%= f.text_field :prospect_id %>
  </div>
  <div class="field">
    <%= f.label :classification %><br>
    <%= f.text_field :classification %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br>
    <%= f.number_field :store_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
