<% if @tickets.count >= 1 %>
    <table id="tickets">
      <thead>
        <tr class="table-titles">
          <th class="col-md-1">Caja</th>
          <th class="col-md-1">No.</th>
          <th> Fecha</th>
          <th> Cliente</th>
          <th> Subtotal</th>
          <th> Devoluciones </th>
          <th> Total</th>
          <th> Saldo / Estauts</th>
          <th> Detalles </th>
        </tr>
      </thead>
      <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <td> <%= ticket.cash_register.name %> </td>
              <td> <%= ticket.ticket_number %> </td>
              <td> <%= l ticket.created_at.to_date, format: :short %> </td>
              <td> <%= show_non_blank_field(ticket.prospect&.legal_or_business_name) %> </td>
              <td> <%= number_to_currency(ticket.total) %> </td>
              <td> <%= number_to_currency(get_returns_or_changes(ticket)) %> </td>
              <td> <%= number_to_currency(get_total_with_returns_or_changes(ticket)) %> </td>
              <td> <%= get_payments_on_sales_summary(ticket) %> </td>
              <td>
                <%= link_to ticket_details_path(ticket) do %>
                  <i class="fa fa-book link-to-price" aria-hidden="true"></i>
                  <span class="link-to-price"> Detalles </span>
                <% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>

<% else %>
  <p class="individual-font">No hay tickets facturados </p>
<% end %>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'tickets' %>
<% end %>
