
    <p>
      <strong>Status:</strong>
      <%= @bill.status %>
    </p>

    <p>
      <strong>Order:</strong>
      <%= @bill.order %>
    </p>

    <p>
      <strong>Initial price:</strong>
      <%= @bill.initial_price %>
    </p>

    <p>
      <strong>Discount applied:</strong>
      <%= @bill.discount_applied %>
    </p>

    <p>
      <strong>Additional discount applied:</strong>
      <%= @bill.additional_discount_applied %>
    </p>

    <p>
      <strong>Price before taxes:</strong>
      <%= @bill.price_before_taxes %>
    </p>

    <p>
      <strong>Type of bill:</strong>
      <%= @bill.type_of_bill %>
    </p>


    <p>
      <strong>Classification:</strong>
      <%= @bill.classification %>
    </p>

    <p>
      <strong>Store:</strong>
      <%= @bill.store_id %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= @bill.amount %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= @bill.quantity %>
    </p>

    <table id="qr-table">
     <% @qr.modules.each_index do |x| -%>
       <tr>
       <% @qr.modules.each_index do |y| -%>
        <% if @qr.dark?(x,y) -%>
        <td class="black"/>
        <% else -%>
        <td class="white"/>
        <% end -%>
       <% end -%>
       </tr>
     <% end -%>
    </table>
