<% if @bills.count >= 1 %>
    <table id="bills">
      <thead>
        <tr class="table-titles">
          <th class="col-md-1"> Folio </th>
          <th> Fecha</th>
          <th> Cliente</th>
          <th> Total</th>
          <th> NC / Dev </th>
          <th> Neto </th>
          <th> Estatus </th>
          <th class="col-md-2"> Detalles </th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td> <%= bill.folio %> </td>
            <td> <%= l bill.created_at.to_date, format: :short %> </td>
            <td> <%= show_non_blank_field(bill.receiving_company.business_name) %> </td>
            <td> <%= number_to_currency(bill.total) %> </td>
            <td> <%= number_to_currency(sum_children(bill)) %> </td>
            <td> <%= number_to_currency(real_total(bill)) %> </td>
              <td>
                <span class="label label-danger">
                  <%= bill.status %>
                </span>
              </td>
            <td style="width: 100px">
              <% unless bill.pdf_url == nil %>
                <%= link_to download_pdf_path(bill), download: "Factura.pdf" do %>
                  <%= image_tag '/assets/pdf_icon.png', alt: 'Logo PDF', class: 'download-icon-table' %>
                <% end %>
              <% end %>

              <% unless bill.xml_url == nil %>
                <%= link_to download_xml_path(bill), download: "Factura.xml" do %>
                  <%= image_tag '/assets/xml_icon.png', alt: 'Icon XML', class: 'download-icon-table' %>
                <% end %>
              <% end %>

              <% unless bill.cancel_receipt_url == nil %>
                <%= link_to download_xml_receipt_path(bill), download: "Acuse.xml" do %>
                  <%= image_tag '/assets/xml_cancel.png', alt: 'Icon XML', class: 'download-icon-table' %>
                <% end %>
              <% end %>

              <% if bill.bill_type == 'global' %>
                <%= link_to details_global_path(bill) do %>
                  <%= image_tag '/assets/packaging.png', alt: 'Box icon', class: 'download-icon-table' %>
                <% end %>
              <% else %>
                <%= link_to details_path(bill) do %>
                  <%= image_tag '/assets/packaging.png', alt: 'Box icon', class: 'download-icon-table' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p class="individual-font"> No hay facturas canceladas </p>
<% end %>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'bills_data_tables' %>
<% end %>
