<table>
  <thead>
    <tr>
      <th colspan="10"> Detalles de la factura con Serie: <%= @bill.sequence %> Folio:<%= @bill.folio%> </th>
    </tr>
    <tr class="header-main-preview">
      <th class="space-preview"> Clave Prod / Serv </th>
      <th class="space-preview"> No. Identificación </th>
      <th class="space-preview"> Cantidad </th>
      <th class="space-preview"> Clave Unidad </th>
      <th class="space-preview"> Unidad </th>
      <%# ESTE CAMPO DEBE SER EDITABLE%>
      <th class="space-preview"> Descripción </th>
      <th class="space-preview"> Valor Unitario </th>
      <th class="space-preview"> Descuento </th>
      <th class="space-preview"> Impuesto </th>
      <th class="space-preview"> Importe </th>
    </tr>
  </thead>
  <tbody>
    <% @bill.rows.each do |row|%>
      <tr>
        <td class="space-preview"> <%= row.sat_key %> </td>
        <td class="space-preview"> <%= row.unique_code %> </td>
        <td class="space-preview"> <%= row.quantity %> </td>
        <td class="space-preview"> <%= row.sat_unit_key %> </strong> </td>
        <td class="space-preview"> <%= row.sat_unit_description %> </td>
        <td class="space-preview"> <%= row.description %> </td>
        <td class="space-preview"> <%= row.unit_value %> </td>
        <td class="space-preview"> <%= number_to_currency(row.discount) %> </td>
        <td class="space-preview"> <span> <strong> 002 </strong> - IVA <%= number_to_currency(row.taxes) %> </span> </td>
        <td class="space-preview"> <%= number_to_currency(row.subtotal) %> </td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td colspan="3 letter" class="center"></td>
      <td></td>
      <td colspan="5"></td>
    </tr>
    <tr>
      <td></td>
      <td colspan="3" class="center"></td>
      <td></td>
      <td colspan="3" class="final-total"> SubTotal </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(@bill.subtotal) %> </td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td colspan="3" class="final-total "> Descuento </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(@bill.discount_applied) %> </td>
    </tr>
    <tr>
      <td colspan="5" class="letter"></td>
      <td colspan="3" class="final-total"> Total Impuestos Trasladados </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(@bill.taxes) %> </td>
    </tr>
    <tr>
      <td colspan="5" class="letter"></td>
      <td colspan="3" class="final-total border-top"> <strong> Total </strong> </td>
      <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(@bill.total) %> </strong> </td>
    </tr>
    <tr>
      <td colspan="10">
        <% if @bill.bill_type == 'global'%>
          <%= link_to details_global_path(@ticket.bill) do %>
            <i class="fa fa-book link-to-price" aria-hidden="true"></i>
            <span class="link-to-price"> Factura </span>
          <% end %>
        <% else %>
        <%= link_to details_path(@ticket.bill) do %>
          <i class="fa fa-book link-to-price" aria-hidden="true"></i>
          <span class="link-to-price"> Factura </span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
