<%= form_tag({ controller: 'bills', action: 'modify' }, method: 'get') do %>
  <table>
    <thead>
      <tr>
        <th colspan="8"> Detalles de la factura con
          Serie: <%= @bill.sequence %>
          Folio: <%= @bill.folio %>
        </th>
        <th>
          <% if @bill.status == 'cancelada' %>
          <span class="label label-warning"> <%= @bill.status %> </span>
          <% else %>
          <span class="label label-success"> <%= @bill.status %> </span>
          <% end %>
        </th>
        <th>
          <%= get_payments_from_individual_bill(@bill) %>
        </th>
      </tr>
      <tr>
        <td> <br /></td>
      </tr>
      <tr class="hidden">
        <td> <%= radio_button_tag :bill, "#{@bill.id}", false, { id: "bills[#{@bill.id}]", checked: true }%> </td>
      </tr>
      <tr class="header-main-preview">
        <th class="space-preview"> Clave Prod / Serv </th>
        <th class="space-preview"> No. Identificación </th>
        <th class="space-preview"> Cantidad </th>
        <th class="space-preview"> Clave Unidad </th>
        <th class="space-preview"> Unidad </th>
        <%# ESTE CAMPO DEBE SER EDITABLE%>
        <th class="space-preview"> Descripción </th>
        <th class="space-preview"> Valor Unitario </th>
        <th class="space-preview"> Descuento </th>
        <th class="space-preview"> Impuesto </th>
        <th class="space-preview"> Importe </th>
      </tr>
    </thead>
    <tbody>
      <% @bill.rows.each do |row|%>
        <tr>
          <td class="space-preview"> <%= row.sat_key %> </td>
          <td class="space-preview"> <%= row.unique_code %> </td>
          <td class="space-preview"> <%= row.quantity %> </td>
          <td class="space-preview"> <%= row.sat_unit_key %> </strong> </td>
          <td class="space-preview"> <%= row.sat_unit_description %> </td>
          <td class="space-preview"> <%= row.description %> </td>
          <td class="space-preview"> <%= number_to_currency(row.unit_value) %> </td>
          <td class="space-preview"> <%= number_to_currency(row.discount) %> </td>
          <td class="space-preview"> <span> <strong> 002 </strong> - IVA <%= number_to_currency(row.taxes) %> </span> </td>
          <td class="space-preview text-right"> <%= number_to_currency(row.subtotal) %> </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td colspan="3 letter" class="center"></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td></td>
        <td colspan="3" class="center"></td>
        <td></td>
        <td colspan="3" class="final-total text-left"> SubTotal </td>
        <td colspan="2" class="final-total right"> <%= number_to_currency(@bill.subtotal) %> </td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td colspan="3" class="final-total text-left"> Descuento </td>
        <td colspan="2" class="final-total right"> <%= number_to_currency(@bill.discount_applied) %> </td>
      </tr>
      <tr>
        <td colspan="5" class="letter"></td>
        <td colspan="3" class="final-total text-left"> Total Impuestos Trasladados </td>
        <td colspan="2" class="final-total right"> <%= number_to_currency(@bill.taxes) %> </td>
      </tr>
      <tr>
        <td colspan="5" class="letter"></td>
        <td colspan="3" class="final-total border-top text-left"> <strong> Total </strong> </td>
        <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(@bill.total) %> </strong> </td>
      </tr>
      <tr>
        <td colspan="10"> <br /> </td>
      </tr>
      <% if @bill.children.count > 0 %>
        <tr>
          <td colspan="4"></td>
          <td colspan="6"> Facturas </td>
        </tr>
        <tr>
          <td colspan="4"> </td>
          <td> <strong> Folio </strong> </td>
          <td> <strong> Tipo </strong> </td>
          <td> <strong> Fecha </strong> </td>
          <td> <strong> Total </strong> </td>
          <td> <strong> Estatus </strong> </td>
          <td> <strong> Detalles </strong> </td>
        </tr>
        <% @bill.children.each do |child| %>
          <tr>
            <td colspan="4"> </td>
            <td> <%= child.folio %> </td>
            <td> <%= child.bill_folio_type %> </td>
            <td> <%= l child.created_at.to_date, format: :short %> </td>
            <td> <%= number_to_currency(child.total) %> </td>
            <td> <%= child.status %> </td>
            <td class="width-minimum">
              <% unless child.pdf_url == nil %>
                <%= link_to download_pdf_path(child), download: "Factura.pdf" do %>
                  <%= image_tag '/assets/pdf_icon.png', alt: 'Logo PDF', class: 'download-icon-table-mini' %>
                <% end %>
              <% end %>

              <% unless child.xml_url == nil %>
                <%= link_to download_xml_path(child), download: "Factura.xml" do %>
                  <%= image_tag '/assets/xml_icon.png', alt: 'Icon XML', class: 'download-icon-table-mini' %>
                <% end %>
              <% end %>

              <% unless child.cancel_receipt_url == nil %>
                <%= link_to download_xml_receipt_path(child), download: "Acuse.xml" do %>
                  <%= image_tag '/assets/xml_cancel.png', alt: 'Icon XML', class: 'download-icon-table-mini' %>
                <% end %>
              <% end %>

              <% if child.bill_type == 'global' %>
                <%= link_to details_global_path(child) do %>
                  <%= image_tag '/assets/packaging.png', alt: 'Box icon', class: 'download-icon-table-mini' %>
                <% end %>
              <% else %>
                <%= link_to details_path(child) do %>
                  <%= image_tag '/assets/packaging.png', alt: 'Box icon', class: 'download-icon-table-mini' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td colspan="5"> </td>
          <td colspan="5" class="border-top"></td>
        </tr>
        <tr>
          <td colspan="8"> </td>
          <td class="text-left"> <strong> Total Fact: </strong> </td>
          <td class="text-right"> <strong> <%= number_to_currency(@bill.total) %> </strong> </td>
        </tr>
        <tr>
          <td colspan="8"> </td>
          <td class="text-left"> <strong> Total NC / Dev: </strong> </td>
          <td class="text-right"> <strong> <%= number_to_currency(sum_children(@bill)) %> </strong> </td>
        </tr>
        <tr>
          <td colspan="5"> </td>
          <td colspan="5" class="border-top"></td>
        </tr>
        <tr>
          <td colspan="8"> </td>
          <td class="text-left"> <strong> Total Neto: </strong> </td>
          <td class="text-right"> <strong> <%= number_to_currency(real_total(@bill)) %> </strong> </td>
        </tr>
      <% end %>
      <tr>
        <% if @bill.tickets != [] %>
          <td colspan="10">
            <% @bill.tickets.each do |ticket| %>
              <span>
                <%= link_to "Ticket #{ticket.ticket_number}", ticket_details_path(ticket) %> <%= get_bill_status(ticket) %>
              </span>
            <% end %>
          </td>
        <% elsif @bill.orders != [] %>
        <td colspan="10">
          <% @bill.orders.each do |order| %>
            <span>
              <%= link_to "Pedido #{order.id}", warehouse_show_order_path(order) %> <%= get_bill_status_order(order) %>
            </span>
          <% end %>
        </td>
        <% end %>
      </tr>
      <tr>
        <td colspan="10">
          <div class="actions">
            <% if @bill.store == current_user.store %>
              <%= submit_tag 'Modificar / cancelar factura', class: 'main-button' %>
            <% end %>
          </div><br /><br />
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
