<%= form_tag({ controller: 'bills', action: 'cfdi_process' }, method: 'post') do %>
  <table id="issuing-receiving-table-preview">
    <thead>
      <tr>
        <td>
          <%= image_tag 'logo-disenos-decarton.png' %>
        </td>
        <td>
          <div>
          </div>
          <div class="top-right-preview">
            <% if @bill == nil %>
              <h3 id="top-title"> FACTURA </h3>
            <% elsif (@bill != nil && @relation_type == '01') %>
              <h3 id="top-title"> NOTA DE CRÉDITO </h3>
            <% elsif (@bill != nil && @relation_type == '03') %>
              <h3 id="top-title"> DEVOLUCIÓN </h3>
            <% elsif (@bill != nil && @relation_type == '02') %>
              <h3 id="top-title"> NOTA DE DÉBITO </h3>
            <% end %>

            <% if @relation_type == '01' %>
              <% type = 'Nota de crédito' %>
            <% elsif @relation_type == '02' %>
              <% type = 'Nota de débito' %>
            <% elsif @relation_type == '03' %>
              <% type = 'Devolución' %>
            <% end %>

            <p> Serie: <%= select_tag :series, options_for_select(@store_series), class: 'form-control', id: 'series', readonly: true %> </p>
            <p> Folio: <%= select_tag :folio, options_for_select(@store_folio), class: 'form-control', readonly: true %> </p>
            <p> Fecha y hora de timbrado: <span> <%= @time %> </span> </p>
            <p> Lugar de expedición: <%= select_tag :zipcode, options_for_select(@zipcodes), class: 'form-control', readonly: true %> </p>
            <p> Tipo de comprobante: <%= select_tag :type_of_bill, options_for_select(@byll_types), class: 'form-control', readonly: true %> </p>
          </div>
        </td>
      </tr>
      <tr class="ligth-bg-preview">
        <th class="half header"> EMISOR</th>
        <th class="half header"> RECEPTOR </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="half first"> RFC: <%= select_tag :store_rfc, options_for_select(@store_rfcs), class: 'form-control', id: 'store_rfc', readonly: true %> </td>
        <td class="half"> RFC: <%= text_field_tag :prospect_rfc, '', {class: 'form-control', readonly: true} %> </td>
      </tr>
      <tr>
        <td class="half first"> <span class="next_line"> Nombre: </span> <%= select_tag :store_name, options_for_select(@store_legal_names), {include_blank: true, multiple: true, class: 'select2-store-form'} %> </td>
        <td class="half"> <span class="next_line"> Nombre: </span> <%= text_field_tag :prospect_name, nil, {class: 'form-control select-prospect'} %>
      </tr>
      <tr>
        <td class="half first"> Régimen Fiscal: <%= select_tag :tax_regime, options_for_select(@store_tax_regimes), class: 'form-control', id: 'tax_regime', readonly: true %> </td>
        <td class="half"> Uso CFDI: <%= select_tag :cfdi_use, options_for_select(@cfdi_use), class: 'form-control' %> </td>
      </tr>
    </tbody>
  </table>

  <table class="second-table-preview">
    <thead>
      <tr class="ligth-bg-preview">
        <th class="all header main-header" colspan="2"> FORMA DE PAGO </th>
      </tr>
    </thead>
    <tbody class="border-around">
      <tr>
        <td class="half first"> Moneda: <span> <strong> MXN </strong> - Peso Mexicano </span> </td>
        <td class="half"> Forma de pago: <%= select_tag :payment, options_for_select(@payment_forms), class: 'form-control' %> </td>
      </tr>
      <tr>
        <td class="half first"> Método de pago: <%= select_tag :method, options_for_select(@payment_methods), class: 'form-control' %> </td>
        <td class="half"> Condiciones de pago: <%= select_tag :payment_form, options_for_select(@payment_conditions), class: 'form-control' %> </td>
      </tr>
      <tr class="hidden">
        <td class="half first"> Tipo de cambio: <span> 1.000000 </span> </td>
        <td class="half"> Clave de confirmación: <span> </span> </td>
      </tr>
    </tbody>
  </table>

  <table class="quantities-table">
    <thead>
      <tr class="header-main-preview">
        <th></th>
        <th class="hidden"> IDs</th>
        <th class="space-preview"> Clave Prod / Serv </th>
        <th class="space-preview"> No. Identificación </th>
        <th class="space-preview"> Cantidad </th>
        <th class="space-preview"> Clave Unidad </th>
        <th class="space-preview"> Unidad </th>
        <%# ESTE CAMPO DEBE SER EDITABLE%>
        <th class="space-preview"> Descripción </th>
        <th class="space-preview"> Valor Unitario </th>
        <th class="space-preview"> Descuento </th>
        <th class="space-preview"> Impuesto </th>
        <th class="space-preview"> Importe </th>
      </tr>
    </thead>
    <tbody id="fields_for_products">
      <tr>
        <td>
          <br /><br />
        </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td></td>
        <td></td>
        <td colspan="5" class="text-left"> <%= text_field_tag :notes, nil, class: 'form-control center-input', placeholder: 'Notas' %> </td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="3 letter" class="center"> __________________________ </td>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="3" class="center"> Firma de conformidad </td>
        <td></td>
        <td></td>
        <td colspan="3" class="final-total left"> SubTotal </td>
        <td colspan="2" class="final-total right"> <%= text_field_tag :bill_subtotal, '', {placeholder: '$ 0.00', class: 'form-control center-input', readonly: true} %> </td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td colspan="3" class="final-total left"> Descuento </td>
        <td colspan="2" class="final-total right"> <%= text_field_tag :bill_discount, '', {placeholder: '$ 0.00', class: 'form-control center-input', readonly: true} %> </td>
      </tr>
      <tr>
        <td colspan="5" class="letter"> </td>
        <td colspan="3" class="final-total left"> Total Impuestos Trasladados </td>
        <td colspan="2" class="final-total right"> <%= text_field_tag :bill_taxes, '', {placeholder: '$ 0.00', class: 'form-control center-input', readonly: true}  %> </td>
      </tr>
      <tr>
        <td colspan="5" class="letter"> </td>
        <td colspan="3" class="final-total border-top left"> <strong> Total </strong> </td>
        <td colspan="2" class="final-total border-top right"> <strong> <%= text_field_tag :bill_total, '', {placeholder: '$ 0.00', class: 'form-control center-input', readonly: true}  %> </strong> </td>
      </tr>
      <tr>
        <td class="hidden"> <%= text_field_tag :form, true %> </td>
      </tr>
    </tbody>
  </table>

  <br /><br />

  <a href="javascript:;" id="addNewRow"> Agregar</a>

  <br /><br />

  <div class="actions">
    <%= submit_tag 'Generar factura', class: 'main-button', data: { disable_with: "Por favor espere mientras se procesa su solicitud..." } %>
  </div><br /><br />

<% end %>

<table class="payments-summary hidden">
  <thead>
      <tr>
        <th colspan="5"> Resumen de pagos </th>
      </tr>
      <tr class="header-main-preview">
      <th> Ticket </th>
      <th> Fecha </th>
      <th> Forma de pago </th>
      <th> Monto </th>
    </tr>
  </thead>
  <tbody>
      <tr class="center">
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Total pagos: </strong> </td>
        <td colspan="2" class="right"> <strong> </strong> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Total tickets: </strong> </td>
        <td colspan="2" class="right"> <strong> </strong> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Saldo pendiente: </strong> </td>
        <td colspan="2" class="right"> <strong> </strong> </td>
      </tr>
  </tbody>
</table>


<%# link_to 'Generar factura', bills_cfdi_process_path(tickets: params[:tickets], orders: params[:orders], prospect: params[:prospect], cfdi_type: params[:cfdi_type], cfdi_use: params[:cfdi_use], type_of_bill: params[:type_of_bill]) %>

<br /><br /><br /><br />

<table class="hidden">
  <tbody id="newRowTableBody">
    <tr class="newRow">
      <%= render partial: "table_row" %>
    </tr>
  </tbody>
</table>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'select2.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'jquery.autocomplete.min' %>
  <%= javascript_include_tag 'select2.min' %>
  <%= javascript_include_tag 'bills' %>
<% end %>
