<%= image_tag 'logo-disenos-decarton.png', class: 'img-bill-preview' %>

<div class="top-right-preview">
  <h3 id="top-title"> FACTURA </h3>
  <p> Serie: <span> <strong> <%= @series %> </strong>  </span> </p>
  <p> Folio: <span> <strong> <%= @folio %> </strong>  </span> </p>
  <p> Fecha:  <span> <%= @date %> </span> </p>
  <p> Lugar de expedición: <span> <%= @zipcode %> </span> </p>
  <p> Tipo de comprobante: <span> <strong> <%= @type_of_bill_key %> </strong> - <%= @type_of_bill %> </span> </p>
</div>

<table id="issuing-receiving-table-preview">
  <thead>
    <tr class="ligth-bg-preview">
      <th class="half header"> EMISOR</th>
      <th class="half header"> RECEPTOR </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="half first"> RFC: <span> <%= @store_rfc %> </span> </td>
      <td class="half "> RFC: <span> <%= @prospect_rfc %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Nombre: <span> <%= @store_name %> </span> </td>
      <td class="half hidden"> <span> <%= @prospect_name %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Régimen Fiscal: <span> <strong> <%= @tax_regime_key %> </strong> - <%= @tax_regime %> </td>
      <td class="half"> Uso CFDI: <span> <strong> <%= @cfdi_use_key %> </strong> - <%= @cfdi_use %> </span> </td>
    </tr>
  </tbody>
</table>

<table class="second-table-preview">
  <thead>
    <tr class="ligth-bg-preview">
      <th class="all header main-header" colspan="2"> FORMA DE PAGO </th>
    </tr>
  </thead>
  <tbody class="border-around">
    <tr>
      <td class="half first"> Moneda: <span> <strong> MXN </strong> - Peso Mexicano </span> </td>
      <td class="half"> Forma de pago: <span> <strong> <%= @payment_key %> </strong> - <%= @payment_description %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Método de pago:  <span> <strong> <%= @method_key %> </strong> - <%= @method_description %> </span> </td>
      <td class="half"> Condiciones de pago: <span> <%= @payment_form %> </span> </td>
    </tr>
    <tr class="hidden">
      <td class="half first"> Tipo de cambio: <span> 1.000000 </span> </td>
      <td class="half"> Clave de confirmación: <span> A403b </span> </td>
    </tr>
  </tbody>
</table>

<table class="quantities-table payments-margin">
  <thead>
    <tr class="header-main-preview">
      <th class="space-preview"> Ticket </th>
      <th class="space-preview"> Clave Prod / Serv </th>
      <th class="space-preview"> Cantidad </th>
      <th class="space-preview"> Clave Unidad </th>
      <%# ESTE CAMPO DEBE SER EDITABLE%>
      <th class="space-preview"> Descripción </th>
      <th class="space-preview"> Valor Unitario </th>
      <th class="space-preview"> Descuento </th>
      <th class="space-preview"> Impuesto </th>
      <th class="space-preview"> Importe </th>
    </tr>
  </thead>
  <tbody>
    <% @rows.each do |row|%>
      <tr>
        <td class="space-preview"> <%= row["ticket"] %> </td>
        <td class="space-preview"> <%= row["sat_key"] %> </td>
        <td class="space-preview"> 1 </td>
        <td class="space-preview"> <strong> <%= row["sat_unit_key"] %> </strong> </td>
        <td class="space-preview"> Venta </td>
        <td class="space-preview"> <%= number_to_currency(row["subtotal"]) %> </td>
        <td class="space-preview"> <%= number_to_currency(row["discount"]) %> </td>
        <td class="space-preview"> <span> <strong> 002 </strong> - IVA <%= number_to_currency(row["taxes"]) %> </span> </td>
        <td class="space-preview"> <%= number_to_currency(row["subtotal"]) %> </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3 letter" class="center"> </td>
      <td></td>
      <td></td>
      <td colspan="5"></td>
    </tr>
    <tr>
      <td colspan="3" class="center"> </td>
      <td></td>
      <td></td>
      <td colspan="3" class="final-total left"> SubTotal </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(subtotal) %> </td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td colspan="3" class="final-total left"> Descuento </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(total_discount) %> </td>
    </tr>
    <tr>
      <td colspan="5" class="letter"> <strong> Importe con letra </strong> </td>
      <td colspan="3" class="final-total left"> Total Impuestos Trasladados </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(total_taxes) %> </td>
    </tr>
    <tr>
      <td colspan="5" class="letter"> <%= number_to_letters(@total_all_objects) %> <%= decimals(@total_all_objects) %> </td>
      <td colspan="3" class="final-total border-top left"> <strong> Total </strong> </td>
      <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(@total_all_objects) %> </strong> </td>
    </tr>
  </tbody>
</table>

<table class="payments-summary">
  <thead>
      <tr>
        <th colspan="5"> Resumen de pagos </th>
      </tr>
      <tr class="header-main-preview">
      <th> Ticket </th>
      <th> Fecha </th>
      <th> Forma de pago </th>
      <th> Monto </th>
    </tr>
  </thead>
  <tbody>
    <% list_of_payments %>
    <% @list_of_real_payments.each do |payment| %>
      <tr class="center">
        <td> <%= payment.ticket.ticket_number %> </td>
        <td> <%= payment.payment_date %> </td>
        <td> <%= payment.payment_form.description %> </td>
        <td> <%= number_to_currency(payment.total) %> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Total pagos: </strong> </td>
        <td colspan="2" class="right"> <strong> <%= number_to_currency(@total_payment) %> </strong> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Total tickets: </strong> </td>
        <td colspan="2" class="right"> <strong> <%= number_to_currency(@total_all_objects) %> </strong> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Saldo pendiente: </strong> </td>
        <td colspan="2" class="right"> <strong> <%= number_to_currency(@total_all_objects.round(2) - @total_payment.round(2))%> </strong> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Generar factura', bills_cfdi_process_path(tickets: params[:tickets], orders: params[:orders], prospect: params[:prospect], cfdi_type: params[:cfdi_type], cfdi_use: params[:cfdi_use], type_of_bill: params[:type_of_bill]) %>

<br /><br /><br /><br />
