<% if @bills.count >= 1 %>
  <%= form_tag({ controller: 'bills', action: 'modify' }, method: 'get') do %>
    <table id="bills">
      <thead>
        <tr class="table-titles">
          <th></th>
          <th class="col-md-1"> Folio </th>
          <th> Fecha</th>
          <th> Cliente</th>
          <th> Total</th>
          <th> NC / Dev </th>
          <th> Neto </th>
          <th> Saldo / Pagos </th>
          <th class="col-md-2"> Detalles </th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td> <%= radio_button_tag :bill, "#{bill.id}", false, { id: "bills[#{bill.id}]" }%> </td>
            <td> <%= bill.folio %> </td>
            <td> <%= l bill.created_at.to_date, format: :short %> </td>
            <td> <%= show_non_blank_field(bill.receiving_company.business_name) %> </td>
            <td> <%= number_to_currency(bill.total) %> </td>
            <td> <%= number_to_currency(sum_children(bill)) %> </td>
            <td> <%= number_to_currency(real_total(bill)) %> </td>
            <td> <%= get_payments_on_sales_summary_bill(bill) %> </td>
            <td style="width: 100px">
              <% unless bill.pdf_url == nil %>
                <%= link_to download_pdf_path(bill), download: "Factura.pdf" do %>
                  <%= image_tag '/assets/pdf_icon.png', alt: 'Logo PDF', class: 'download-icon-table' %>
                <% end %>
              <% end %>

              <% unless bill.xml_url == nil %>
                <%= link_to download_xml_path(bill), download: "Factura.xml" do %>
                  <%= image_tag '/assets/xml_icon.png', alt: 'Icon XML', class: 'download-icon-table' %>
                <% end %>
              <% end %>

              <% unless bill.cancel_receipt_url == nil %>
                <%= link_to download_xml_receipt_path(bill), download: "Acuse.xml" do %>
                  <%= image_tag '/assets/xml_cancel.png', alt: 'Icon XML', class: 'download-icon-table' %>
                <% end %>
              <% end %>

              <% if bill.bill_type == 'global' %>
                <%= link_to details_global_path(bill) do %>
                  <%= image_tag '/assets/packaging.png', alt: 'Box icon', class: 'download-icon-table' %>
                <% end %>
              <% else %>
                <%= link_to details_path(bill) do %>
                  <%= image_tag '/assets/packaging.png', alt: 'Box icon', class: 'download-icon-table' %>
                <% end %>
              <% end %>
            </td>
              <!-- Ver Detalles -->
              <%# link_to ticket_details_path(ticket) do %>
            <!--    <i class="fa fa-book link-to-price" aria-hidden="true"></i> -->
              <%# end %>
              <!-- Ver Nota de crédito -->
              <%# link_to ticket_details_path(ticket) do %>
            <!--    <i class="fa fa-book link-to-price" aria-hidden="true"></i> -->
              <%# end %>
              <!-- Ver Nota de débito -->
              <%# link_to ticket_details_path(ticket) do %>
            <!--    <i class="fa fa-book link-to-price" aria-hidden="true"></i> -->
              <%# end %>
              <!-- Ver Devoluciones -->
              <%# link_to ticket_details_path(ticket) do %>
            <!--    <i class="fa fa-book link-to-price" aria-hidden="true"></i> -->
              <%# end %>
              <!-- Ver Pagos -->
              <%# link_to ticket_details_path(ticket) do %>
            <!--    <i class="fa fa-book link-to-price" aria-hidden="true"></i> -->
              <%# end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br/>
    <div>
      <%= link_to bills_cancelled_path, class: 'space-between-links' do  %>
        Ver facturas canceladas
        <i class="fa fa-eraser" aria-hidden="true"></i>
      <% end %>

      <%= link_to bills_form_path, class: 'space-between-links' do  %>
        Formulario de factura cliente
        <i class="fa fa-wpforms" aria-hidden="true"></i>
      <% end %>

      <%= link_to bills_global_form_path, class: 'space-between-links' do  %>
        Formulario Fact Global
        <i class="fa fa-folder-open" aria-hidden="true"></i>
      <% end %>
    </div>
    <br/>

    <!-- Este formulario es para crear NC / ND / DEV / PAGOS -->
    <div class="actions">
      <%= submit_tag 'Modificar / cancelar factura', class: 'main-button' %>
    </div><br /><br />

  <% end %>

<% else %>
  <p class="individual-font"> No hay facturas todavía </p>
<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <%= javascript_include_tag 'bills_data_tables' %>
<% end %>
