<%= image_tag 'logo-disenos-decarton.png', class: 'img-bill-preview' %>

<div class="top-right-preview">
  <h3 id="top-title"> FACTURA </h3>
  <p> Serie: <span> <%= current_user.store.series %> </span> </p>
  <p> Folio: <span> <%= current_user.store.last_bill.next %> </span> </p>
  <p> Fecha:  <span> <%= l Date.today %> </span> </p>
  <p> Lugar de expedición: <span> <%= current_user.store.zip_code %> </span> </p>
  <p> Tipo de comprobante: <span> <strong> <%= @type_of_bill_key %> </strong> <%= @type_of_bill %> </span> </p>
</div>

<table id="issuing-receiving-table-preview">
  <thead>
    <tr class="ligth-bg-preview">
      <th class="half header"> EMISOR</th>
      <th class="half header"> RECEPTOR </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="half first"> RFC: <span> <%= store_rfc %> </span> </td>
      <td class="half "> RFC: <span> <%= prospect_rfc %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Nombre: <span> <%= store_name %> </span> </td>
      <td class="half"> Nombre: <span> <%= prospect_name %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Régimen Fiscal: <span> <strong> <%= tax_regime_key %> </strong> - <%= tax_regime %> </td>
      <td class="half"> Uso CFDI: <span> <strong> <%= @cfdi_use_key %> </strong> - <%= @cfdi_use %> </span> </td>
    </tr>
  </tbody>
</table>

<table class="second-table-preview">
  <thead>
    <tr class="ligth-bg-preview">
      <th class="all header main-header" colspan="2"> FORMA DE PAGO </th>
    </tr>
  </thead>
  <tbody class="border-around">
    <tr>
      <td class="half first"> Moneda: <span> <strong> MXN </strong> - Peso Mexicano </span> </td>
      <td class="half"> Forma de pago: <span> <strong> <%= greatest_payment_key %> </strong> - <%= greatest_payment %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Método de pago:  <span> <strong> <%= payment_method_key %> </strong> - <%= payment_method %> </span> </td>
      <td class="half"> Condiciones de pago: <span> <%= payment_form %> </span> </td>
    </tr>
    <tr class="hidden">
      <td class="half first"> Tipo de cambio: <span> 1.000000 </span> </td>
      <td class="half"> Clave de confirmación: <span> A403b </span> </td>
    </tr>
  </tbody>
</table>

<table class="quantities-table">
  <thead>
    <tr class="header-main-preview">
      <th class="space-preview"> Clave Prod / Serv </th>
      <th class="space-preview"> No. Identificación </th>
      <th class="space-preview"> Cantidad </th>
      <th class="space-preview"> Clave Unidad </th>
      <th class="space-preview"> Unidad </th>
      <%# ESTE CAMPO DEBE SER EDITABLE%>
      <th class="space-preview"> Descripción </th>
      <th class="space-preview"> Valor Unitario </th>
      <th class="space-preview"> Descuento </th>
      <th class="space-preview"> Impuesto </th>
      <th class="space-preview"> Importe </th>
    </tr>
  </thead>
  <tbody>
    <% rows %>
    <% @rows.each do |row|%>
      <tr>
        <% if row.is_a?(StoreMovement) %>
          <% offering = row.product %>
        <% else %>
          <% offering = row.service %>
        <% end %>
        <td class="space-preview"> <%= offering.sat_key.sat_key %> </td>
        <td class="space-preview"> <%= offering.unique_code %> </td>
        <td class="space-preview"> <%= row.quantity %> </td>
        <td class="space-preview"> <strong> <%= offering.sat_unit_key.unit %> </strong> </td>
        <td class="space-preview"> <%= offering.sat_unit_key.description %> </td>
        <td class="space-preview"> <%= offering.description %> </td>
        <td class="space-preview"> <%= number_to_currency(row.initial_price) %> </td>
        <td class="space-preview"> <%= number_to_currency(row.discount_applied) %> </td>
        <td class="space-preview"> <span> <strong> 002 </strong> - IVA <%= number_to_currency(row.taxes) %> </span> </td>
        <td class="space-preview"> <%= number_to_currency(row.subtotal) %> </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <br /><br />
      </td>
    </tr>
    <tr>
      <td colspan="3 letter" class="center"> __________________________ </td>
      <td></td>
      <td></td>
      <td colspan="5"></td>
    </tr>
    <tr>
      <td colspan="3" class="center"> Firma de conformidad </td>
      <td></td>
      <td></td>
      <td colspan="3" class="final-total left"> SubTotal </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(subtotal) %> </td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <td colspan="3" class="final-total left"> Descuento </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(total_discount) %> </td>
    </tr>
    <tr>
      <td colspan="5" class="letter"> <strong> Importe con letra </strong> </td>
      <td colspan="3" class="final-total left"> Total Impuestos Trasladados </td>
      <td colspan="2" class="final-total right"> <%= number_to_currency(total_taxes) %> </td>
    </tr>
    <tr>
      <td colspan="5" class="letter"> <%= number_to_letters(total) %> <%= decimals(total) %> </td>
      <td colspan="3" class="final-total border-top left"> <strong> Total </strong> </td>
      <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(total) %> </strong> </td>
    </tr>
  </tbody>
</table>

<table class="payments-summary">
  <thead>
      <tr>
        <th colspan="5"> Resumen de pagos </th>
      </tr>
      <tr class="header-main-preview">
      <th> Ticket </th>
      <th> Fecha </th>
      <th> Forma de pago </th>
      <th> Monto </th>
      <th> Recibió </th>
    </tr>
  </thead>
  <tbody>
    <% list_of_payments %>
    <% @all_payments.each do |payment| %>
      <tr class="center">
        <td> <%= payment.ticket.ticket_number %> </td>
        <td> <%= payment.payment_date %> </td>
        <td> <%= payment.payment_form.description %> </td>
        <td> <%= number_to_currency(payment.total) %> </td>
        <td> <%= payment.ticket.user.first_name.capitalize %> <%= payment.ticket.user.last_name.capitalize %> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Total pagos: </strong> </td>
        <td colspan="2" class="right"> <strong> <%= number_to_currency(get_payments) %> </strong> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Total tickets: </strong> </td>
        <td colspan="2" class="right"> <strong> <%= number_to_currency(total) %> </strong> </td>
      </tr>
      <tr>
        <td>  </td>
        <td colspan="2" class="left"> <strong> Saldo pendiente: </strong> </td>
        <td colspan="2" class="right"> <strong> <%= number_to_currency(total.round(2) - get_payments.round(2))%> </strong> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Generar factura', bill_doc_path(format: :pdf, tickets: params[:tickets].split('/').flatten, prospect: params[:prospect], cfdi_use: params[:cfdi_use], type_of_bill: params[:type_of_bill]), target: '_blank' %>

<%= link_to 'Generar cfdi', bill_cfdi_path(format: :xml, tickets: params[:tickets].split('/').flatten, prospect: params[:prospect], cfdi_use: params[:cfdi_use], type_of_bill: params[:type_of_bill]), target: '_blank' %>

<br /><br /><br /><br />

<p class="hidden">
  <%= Time.now.strftime('%FT%T') %>
</p>
