<table id="issuing-receiving-table-preview">
  <thead>
    <tr>
      <td>
        <%= image_tag 'logo-disenos-decarton.png', class: 'img-bill-preview' %>
      </td>
      <td>
        <div class="top-right-preview">
          <% if @bill == nil || @relation_type == '04' %>
            <h3 id="top-title"> FACTURA </h3>
          <% elsif (@bill != nil && @relation_type == '01') %>
            <h3 id="top-title"> NOTA DE CRÉDITO </h3>
          <% elsif (@bill != nil && @relation_type == '03') %>
            <h3 id="top-title"> DEVOLUCIÓN </h3>
          <% elsif (@bill != nil && @relation_type == '02') %>
            <h3 id="top-title"> NOTA DE DÉBITO </h3>
          <% end %>

          <% if @relation_type == '01' %>
            <% type = 'Nota de crédito' %>
          <% elsif @relation_type == '02' %>
            <% type = 'Nota de débito' %>
          <% elsif @relation_type == '03' %>
            <% type = 'Devolución' %>
          <% end %>

          <p> Serie: <span> <strong> <%= @series %> </strong>  </span> </p>
          <p> Folio: <span> <strong> <%= @folio %> </strong>  </span> </p>
          <p> Fecha y hora de timbrado: <span> <%= @time %> </span> </p>
          <p> Lugar de expedición: <span> <%= @zipcode %> </span> </p>
          <p> Tipo de comprobante: <span> <strong> <%= @type_of_bill_key %> </strong> - <%= @type_of_bill_description %> </span> </p>
        </div>
      </td>
    </tr>
    <tr class="ligth-bg-preview">
      <th class="half header"> EMISOR</th>
      <th class="half header"> RECEPTOR </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="half first"> RFC: <span> <%= @store_rfc %> </span> </td>
      <td class="half "> RFC: <span> <%= @prospect_rfc %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Nombre: <span> <%= @store_name %> </span> </td>
      <td class="half"> Nombre: <span> <%= @prospect_name %> </span> </td>
    </tr>
    <tr>
      <td class="half first"> Régimen Fiscal: <span> <strong> <%= @tax_regime_key %> </strong> - <%= @tax_regime %> </td>
      <td class="half"> Uso CFDI: <span> <strong> <%= @cfdi_use_key %> </strong> - <%= @cfdi_use %> </span> </td>
    </tr>
  </tbody>
</table>

<table class="second-table-preview">
  <thead>
    <tr class="ligth-bg-preview">
      <th class="all header main-header" colspan="2"> FORMA DE PAGO </th>
    </tr>
  </thead>
  <tbody class="border-around">
    <tr>
      <td class="half first"> Moneda: <span> <strong> MXN </strong> - Peso Mexicano </span> </td>
    <%= form_tag({ controller: 'bills', action: 'cfdi_process' }, method: 'post') do %>
      <% if (@relation_type == '01' && [1,2].include?(current_user.store.id)) || (@relation_type == '03' && [1,2].include?(current_user.store.id)) %>
        <td class="half"> Forma de pago: <%= select_tag :payment, options_for_select(@payment_forms), class: 'form-control' %> </td>
      <% else %>
        <td class="half"> Forma de pago: <span> <strong> <%= @payment_key %> </strong> - <%= @payment_description %> </span> </td>
      <% end %>
    </tr>
    <tr>
      <% if (@relation_type == '01' && [1,2].include?(current_user.store.id)) || (@relation_type == '03' && [1,2].include?(current_user.store.id)) %>
        <td class="half first"> Método de pago: <%= select_tag :method, options_for_select(@payment_methods), class: 'form-control' %> </td>
      <% else %>
        <td class="half first"> Método de pago:  <span> <strong> <%= @method_key %> </strong> - <%= @method_description %> </span> </td>
      <% end %>
      <td class="half"> Condiciones de pago: <span> <%= @payment_form %> </span> </td>
    </tr>
    <tr class="hidden">
      <td class="half first"> Tipo de cambio: <span> 1.000000 </span> </td>
      <td class="half"> Clave de confirmación: <span> </span> </td>
    </tr>
  </tbody>
</table>

<table class="quantities-table full-width">
  <thead>
    <% if @bill != nil && @relation_type != '04' %>
      <tr>
        <td colspan="10"> <strong> La siguiente tabla contiene información de la factura original, no se mostrarán en su Factura de egresos </strong></td>
      </tr>
    <% end %>
    <tr class="header-main-preview">
      <th class="space-preview"> Clave Prod / Serv </th>
      <th class="space-preview"> No. Identificación </th>
      <th class="space-preview"> Cantidad </th>
      <th class="space-preview"> Clave Unidad </th>
      <th class="space-preview"> Unidad </th>
      <%# ESTE CAMPO DEBE SER EDITABLE%>
      <th class="space-preview"> Descripción </th>
      <th class="space-preview"> Valor Unitario </th>
      <th class="space-preview"> Descuento </th>
      <th class="space-preview"> Impuesto </th>
      <th class="space-preview"> Importe </th>
      <th class="hidden"></th>
    </tr>
  </thead>
  <tbody>
    <% if (@bill == nil || @relation_type == '01' || @relation_type == '04') %>
      <% @rows.each do |row|%>
        <tr>
          <td class="space-preview"> <%= row["sat_key"] %> </td>
          <td class="space-preview"> <%= row["unique_code"] %> </td>
          <td class="space-preview"> <%= number_with_delimiter(row["quantity"]) %> </td>
          <td class="space-preview"> <strong> <%= row["sat_unit_key"] %> </strong> </td>
          <td class="space-preview"> <%= row["sat_unit_description"].capitalize %> </td>
          <td class="space-preview"> <%= row["description"] %> </td>
          <td class="space-preview"> <%= number_to_currency(row["unit_value"]) %> </td>
          <td class="space-preview"> <%= number_to_currency(row["discount"]) %> </td>
          <td class="space-preview"> <span> <strong> 002 </strong> - IVA <%= number_to_currency(row["taxes"]) %> </span> </td>
          <td class="space-preview"> <%= number_to_currency(row["subtotal"]) %> </td>
          <td class="hidden"></td>
        </tr>
      <% end %>
    <% else %>
      <%= form_tag({ controller: 'bills', action: 'cfdi_process' }, method: 'post') do %>
        <% @rows.each do |row|%>
          <tr>
            <td class="space-preview"> <%= row.sat_key %> </td>
            <td class="space-preview"> <%= row.unique_code %> </td>
            <td class="space-preview"> <%= select_tag "quantities[]", options_for_select(quantity_options(row)), { id: "quantity[#{row.id}]", class: 'form-control'} %> </td>
            <td class="space-preview"> <%= row.sat_unit_key %> </strong> </td>
            <td class="space-preview"> <%= row.sat_unit_description.capitalize %> </td>
            <td class="space-preview"> <%= row.description %> </td>
            <td class="space-preview"> <%= row.unit_value %> </td>
            <td class="space-preview"> <%= number_to_currency(row.discount) %> </td>
            <td class="space-preview"> <span> <strong> 002 </strong> - IVA <%= number_to_currency(row.taxes) %> </span> </td>
            <td class="space-preview"> <%= number_to_currency(row.subtotal) %> </td>
            <% if Product.find(row.product) == nil %>
              <td class="hidden"> <%= text_field_tag "services[]", Service.find(row.service).id, { id: "quantity[#{row.id}]", class: 'form-control'} %> </td>
            <% else %>
              <td class="hidden"> <%= text_field_tag "products[]", Product.find(row.product).id, { id: "quantity[#{row.id}]", class: 'form-control'} %> </td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <td>
            <br /><br />
          </td>
        </tr>
        <td colspan="3 letter" class="center"></td>
        <td colspan="7">
          <%= text_field_tag :notes, nil, class: 'form-control', placeholder: 'Notas' %>
        </td>

        <tr>
          <td><br /></td>
          <td class="hidden">
            <%= text_field_tag :prospect, @bill.prospect.id %>
            <%= text_field_tag :cfdi_type, '' %>
            <%= text_field_tag :cfdi_use, CfdiUse.find_by_key('G02').id %>
            <%= text_field_tag :type_of_bill, TypeOfBill.find_by_key(@type_of_bill_key).id %>
            <%= text_field_tag :relation_type, @relation_type %>
            <%= text_field_tag :bill, @bill.id %>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <%= submit_tag "Generar #{type}", class: 'main-button' %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <% unless @relation_type == '03' %>
      <% if @notes != nil%>
        <tr>
          <td colspan="3"></td>
          <td></td>
          <td></td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td></td>
          <td></td>
          <td colspan="5" class="text-left"> <%= @notes %> </td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td></td>
          <td></td>
          <td colspan="5"></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3"></td>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
      <tr>
        <td colspan="3 letter" class="center"> __________________________ </td>
        <td colspan="7">
          <% if  @relation_type == '01' || @relation_type == '03' %>
            <%= text_field_tag :notes, nil, class: 'form-control', placeholder: 'Notas' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="center"> Firma de conformidad </td>
        <td></td>
        <td></td>
        <td colspan="3" class="final-total left"> SubTotal </td>
        <td colspan="2" class="final-total right"> <%= number_to_currency(subtotal) %> </td>
      </tr>
      <tr>
        <td colspan="5"></td>
        <td colspan="3" class="final-total left"> Descuento </td>
        <td colspan="2" class="final-total right"> <%= number_to_currency(total_discount) %> </td>
      </tr>
      <tr>
        <td colspan="5" class="letter"> <strong> Importe con letra </strong> </td>
        <td colspan="3" class="final-total left"> Total Impuestos Trasladados </td>
        <td colspan="2" class="final-total right"> <%= number_to_currency(total_taxes) %> </td>
      </tr>
      <tr>
        <% if @bill == nil || @relation_type == '04' %>
          <td colspan="5" class="letter"> <%= number_to_letters(total) %> <%= decimals(total) %> </td>
        <% else %>
          <td colspan="5" class="letter"> <%= number_to_letters(@bill.total) %> <%= decimals(@bill.total) %> </td>
        <% end %>
        <td colspan="3" class="final-total border-top left"> <strong> Total </strong> </td>
        <% if @bill == nil || @relation_type == '04' %>
          <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(total) %> </strong> </td>
        <% else %>
          <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(@bill.total) %> </strong> </td>
        <% end %>
      </tr>
      <% if @bill != nil && @relation_type != '04' %>
        <tr>
          <td colspan="5"></td>
          <td colspan="3" class="final-total border-top left">  <strong> Total descontando NC y Dev </strong> </td>
          <td colspan="2" class="final-total border-top right"> <strong> <%= number_to_currency(real_total(@bill)) %> </strong> </td>
        </tr>
      <% end %>
    <% end %>
    <% if @relation_type == '01' %>
      <tr>
        <td colspan="5" class="letter"></td>
        <td colspan="3" class="final-total border-top"> <strong> Nota de crédito </strong> </td>
        <td colspan="2" class="final-total border-top right">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon blue-background">$</div>
                  <strong>
                    <%= text_field_tag :amount, nil, class: 'form-control', placeholder: 'Monto (con IVA)' %>
                  </strong>
                  <span class="hidden" id="real_total"><%= real_total(@bill) %></span>
              </div>
            </div>
        </td>
      </tr>
      <tr>
        <td><br /></td>
        <td class="hidden">
          <%= text_field_tag :prospect, @bill.prospect.id %>
          <%= text_field_tag :cfdi_type, '' %>
          <%= text_field_tag :cfdi_use, CfdiUse.find_by_key('G02').id %>
          <%= text_field_tag :type_of_bill, TypeOfBill.find_by_key(@type_of_bill_key).id %>
          <%= text_field_tag :relation_type, @relation_type %>
          <%= text_field_tag :bill, @bill.id %>
        </td>
      </tr>
      <tr>
        <td colspan="10">
          <%= submit_tag "Generar #{type}", class: 'main-button' %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% unless @bill != nil %>
  <table class="payments-summary">
    <thead>
        <tr>
          <th colspan="5"> Resumen de pagos </th>
        </tr>
        <tr class="header-main-preview">
        <th> Ticket </th>
        <th> Fecha </th>
        <th> Tipo de pago </th>
        <th> Forma de pago </th>
        <th> Monto </th>
      </tr>
    </thead>
    <tbody>
      <% @list_of_real_payments.each do |payment| %>
        <tr class="center">
          <td> <%= payment.ticket.ticket_number %> </td>
          <td> <%= payment.payment_date %> </td>
          <td> <%= payment.payment_type %> </td>
          <td> <%= payment.payment_form.description %> </td>
          <td> <%= number_to_currency(payment.total) %> </td>
        </tr>
        <tr>
          <td>  </td>
          <td colspan="2" class="left"> <strong> Total pagos: </strong> </td>
          <td colspan="2" class="right"> <strong> <%= number_to_currency(@total_payment) %> </strong> </td>
        </tr>
        <tr>
          <td>  </td>
          <td colspan="2" class="left"> <strong> Total tickets: </strong> </td>
          <td colspan="2" class="right"> <strong> <%= number_to_currency(@total_all_objects) %> </strong> </td>
        </tr>
        <tr>
          <td>  </td>
          <td colspan="2" class="left"> <strong> Saldo pendiente: </strong> </td>
          <td colspan="2" class="right"> <strong> <%= number_to_currency(@total_all_objects.round(2) - @total_payment.round(2))%> </strong> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @bill == nil || (@bill != nil && @relation_type == '04') %>
  <% if @relation_type == '04' %>
    <%= button_to 'Generar factura', {controller: 'bills', action: 'cfdi_process', method: 'post'}, params: {tickets: params[:tickets], orders: params[:orders], prospect: params[:prospect], cfdi_type: params[:cfdi_type], cfdi_use: params[:cfdi_use], type_of_bill: params[:type_of_bill], notes: @notes, payment_key: @payment_key, payment_description: @payment_description, method_key: @method_key, method_description: @method_description, payment_form: @payment_form, relation_type: @relation_type, bill: @bill&.id}, data: { disable_with: "Por favor espere mientras se procesa su solicitud..." }, class: 'main-button' %>
  <% else %>
    <%= button_to 'Generar factura', {controller: 'bills', action: 'cfdi_process', method: 'post'}, params: {tickets: params[:tickets], orders: params[:orders], prospect: params[:prospect], cfdi_type: params[:cfdi_type], cfdi_use: params[:cfdi_use], type_of_bill: params[:type_of_bill], notes: @notes, payment_key: @payment_key, payment_description: @payment_description, method_key: @method_key, method_description: @method_description, payment_form: @payment_form, relation_type: @relation_type}, data: { disable_with: "Por favor espere mientras se procesa su solicitud..." }, class: 'main-button' %>
  <% end %>
<% end %>

<%= render 'add_masks' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'only_decimals' %>
<% end %>


<br /><br /><br /><br />
