<%= link_to download_pdf_path, download: "Factura.pdf" do %>
  <%= image_tag '/assets/pdf_icon.png', alt: 'Logo PDF', class: 'download-icon' %>
<% end %>

<%= link_to download_xml_path, download: "Factura.xml" do %>
  <%= image_tag '/assets/xml_icon.png', alt: 'Logo XML', class: 'download-icon' %>
<% end %>

<%= link_to download_xml_receipt_path, download: "Acuse.xml" do %>
  <%= image_tag '/assets/xml_icon.png', alt: 'Logo XML second', class: 'download-icon' %>
<% end %>


<% if @orders.length >= 1 %>
  <%= form_tag({ controller: 'bills', action: 'select_info' }, method: 'post') do %>
    <table id="orders">
      <thead>
        <tr class="table-titles">
          <th></th>
          <th class="col-md-1">No.</th>
          <th class="col-md-1">Tienda</th>
          <th>Tipo</th>
          <th>Solicitada</th>
          <th>Total</th>
          <th>Saldo / Estauts</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td> <%= check_box_tag "orders[]", "#{order.id}", false, { multiple: true, id: "orders[#{order.id}]" } %> </td>
            <td> <%= order.id %> </td>
            <td> <%= order.store.store_name %> </td>
            <td> <%= order.category.capitalize %> </td>
            <td> <%= l order.created_at.to_date %> </td>
            <td> <%= number_to_currency(order.total) %> </td>
            <td> <%= get_payments_from_individual_order(order) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= submit_tag 'Seleccionar datos', class: 'main-button' %>
    </div><br /><br />

  <% end %>

<% else %>
  <p class="individual-font">No hay pedidos pendientes por facturar </p>
<% end %>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'order_bills' %>
<% end %>
