<h2> Selecciona los datos de la factura que desea elaborar</h2>

<%= form_tag({ controller: 'bills', action: 'preview' }, method: 'post') do %>

  <div class="field form-inside-style prospect-list margin-select">
    <%= label_tag :facturar_a_cliente %>
    <%= radio_button_tag :cfdi_type, 'prospect', check_uncheck_checkbox %>
    <%= label_tag :factura_global %>
    <%= radio_button_tag :cfdi_type, 'global' %>
  </div>

  <div class="field form-inside-style prospect-list margin-select select_prospect">
    <%= label_tag :seleccione_cliente %>
    <%= select_tag :prospect, options_for_select(select_prospect, selected: @prospect&.id), {include_blank: true, multiple: true, class: 'select2-prospect'} %>
  </div>

  <div class="field form-inside-style prospect-list margin-select">
    <%= label_tag :seleccione_uso_de_la_factura %>
    <%= select_tag :cfdi_use, options_for_select(select_cfdi_use, selected: @cfdi_use&.id), {include_blank: true, multiple: true, class: 'select2-cfdi'} %>
  </div>

  <div class="field form-inside-style prospect-list margin-select hidden">
    <%= label_tag :seleccione_el_tipo_de_factura %>
    <%= select_tag :type_of_bill, options_for_select(select_cfdi_type, selected: @type_of_bill&.id) %>
  </div>

  <% unless @tickets == nil%>
    <div class="hidden">
      <%= select_tag :tickets, options_for_select(select_tickets, selected: @tickets), {multiple: true} %>
    </div>
  <% end %>

  <% unless @orders == nil%>
    <div class="hidden">
      <%= select_tag :orders, options_for_select(select_orders, selected: @orders), {multiple: true} %>
    </div>
  <% end %>

  <% if Store.all.where(store_type_id: 2).pluck(:id).include?(current_user.store.id) %>
    <div class="field form-inside-style">
      <%= label_tag :forma_de_pago %>
      <%= select_tag :payment, options_for_select(@payment_forms), class: 'form-control' %>
    </div>
    <div class="field form-inside-style">
      <%= label_tag :método_de_pago %>
      <%= select_tag :method, options_for_select(@payment_methods), class: 'form-control' %>
    </div>
    <div class="field form-inside-style">
      <%= label_tag :condiciones_de_pago %>
      <%= select_tag :payment_form, options_for_select(@payment_conditions), class: 'form-control' %>
    </div>
  <% end %>

  <div class="field form-inside-style">
    <%= label_tag :notas %>
    <%= text_field_tag :notes, nil, class: 'form-control', placeholder: 'Notas' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Vista previa de factura', class: 'main-button' %>
  </div>

  <br /><br />

<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'select2.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'select2.min' %>
  <%= javascript_include_tag 'es' %>
  <%= javascript_include_tag 'new_bills' %>
<% end %>
