<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crédito expirado</title>
  </head>
  <body>
    <p>
      Estimado cliente, <%= @ticket.prospect.legal_or_business_name %>
      <br />
      <br />
      <br />
      El ticket No. <%= @ticket.ticket_number %> por <%= number_to_currency(@total) %>, de Diseños de Cartón sucursal <%= @advice.store.store_name %> presenta un saldo vencido de <%= number_to_currency(@balance) %> pesos.
    </p>

    <br />
    <br />

    <div class="small-address">
      <%= image_tag 'logo-disenos-decarton.png', width: '300px', height: 'auto', alt: 'Logo Diseños de Cartón' %>
      <br />
      <p>
        <strong>
          Sucursal <%= @advice.store.store_name %>
        </strong>
        <br />
        <%= @address %>
        <br />
        <% if @store_tel.length > 10 %>
          Tel: <%= number_to_phone(@store_tel, area_code: true) %>
        <% else %>
          Tel: <%= number_to_phone(@store_tel) %>
        <% end %>
        <br />
        <%= mail_to @store_email %>
        <br />
        <%= link_to @store_webpage, "http://#{@store_webpage}", target: "_blank" %>
        <br />
        <br />
        Servicio de envío de facturas automatizado. Favor de no responder a este correo.
      </p>
    </div>

  </body>
</html>
