
<% if @request.authorisation_signed %>
  <%= link_to @authorisation.document_url, target: '_blank' do %>
    <%= image_tag '/assets/document_blue.png', alt: 'Ícono documento azul', class: 'document-icon img-responsive' %>
  <% end %>
<% end %>

<% if @request.payment_uploaded %>
  <%= link_to target: @payment.document_url, target: '_blank' do %>
    <%= image_tag '/assets/document_blue.png', alt: 'Ícono documento azul', class: 'document-icon img-responsive' %>
  <% end %>
<% end %>

<%= form_for(@request) do |f| %>

  <% unless @request.authorisation_signed %>
    <div class="field">
      <%= f.label :pedido_autorizado %>
      <%= f.file_field :authorisation_signed %>
    </div>

    <div class="field">
      <%= f.label :autorizar_sin_documento_firmado %>
      <%= f.check_box(:authorised_without_doc, checked_value: '1', unchecked_value: '0') %>
    </div>
  <% end %>

  <% unless @request.payment_uploaded %>
    <div class="field">
      <%= f.label :ficha_de_depósito %>
      <%= f.file_field :payment_uploaded %>
    </div>

    <div class="field">
      <%= f.label :autorizar_sin_ficha_de_depósito %>
      <%= f.check_box(:authorised_without_pay, checked_value: '1', unchecked_value: '0') %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit :confirmar_pedido, name: 'confirmar' %>
  </div>

<% end %>
