<%= form_for [@prospect, @request] do |f| %>
<div class="show-container" id="request-container">

<table class="table-request">
  <tbody>
    <tr>
      <td class="title-request-table col-md-2"> Tienda: <span class="color333"> <%= @request.store.store_name %> </span> </td>
      <td class="title-request-table col-md-2"> Solicita: <span class="color333"> <%= requests_store_user_name(@request) %> </span> </td>
      <td class="title-request-table col-md-2"> Fecha: <span class="color333"> <%= l @request.created_at.to_date %> </span> </td>
      <td class="title-request-table col-md-1"> Folio: <span class="color333"> <%= @request.id %> </span>  </td>
    </tr>
  </tbody>
</table>

<div class="flex-div-requests">

  <p class="bigger-p margin-right-p">
    <strong> Producto: </strong>
    <% if @request.name_type.present? %>
      <%= @request.name_type.capitalize %>
    <% else %>
      <%= @request.product_type.capitalize %>
    <% end %>
  </p>

  <p class="bigger-p margin-right-p"><strong>Cantidad: </strong>
    <%= number_with_delimiter(@request.quantity) %>
  </p>

  <% if @request.design_like == 'Sugerir armado' && params[:action] == 'manager_view' %>
    <div id="field_design" class="field form-inside-style">
      <strong>
        <%= f.label :armado, class: 'bigger-label' %>
      </strong>
      <%= f.select :design_like, options_for_select(design_options_alter, selected: @request.design_like), {}, class: 'extra-margin-right' %>
    </div>
    <% field = true %>
  <% else %>
    <p class="bigger-p margin-right-p"><strong>Armado: </strong>
      <%= @request.design_like %>
    </p>
  <% end %>

  <p class="bigger-p margin-right-p"><strong>Cajas para: </strong>
    <%= @request.for_what.capitalize %>
  </p>

  <p class="bigger-p margin-right-p"><strong>Estiba: </strong>
    <%= @request.boxes_stow.capitalize %>
  </p>

    <% if @request.what_measures == '2' %>
      <p class="bigger-p margin-right-p">
      <strong> Medidas internas: </strong>
    <% elsif @request.what_measures == '4' %>
      <p>
        <strong>
          <%= f.label :medidas, class: 'bigger-label' %>
        </strong>
        <%= f.select :what_measures, options_for_select([['seleccione', ''], ['externas', '1'], ['internas', '2']], selected: @request.what_measures), {}, class: 'extra-margin-right medidas' %>
    <% else %>
      <p class="bigger-p margin-right-p">
        <strong> Medidas: </strong>
      <% if @request.product_type == 'bolsa' %>
          <%= @request.bag_length %> cm
          x
          <%= @request.bag_width %> cm
          x
          <%= @request.bag_height %> cm
      <% elsif @request.product_type == 'exhibidor' %>
        Altura:
        <%= @request.exhibitor_height %> cm
        Ancho (bandeja):
        <%= @request.tray_width %> cm
        Largo (bandeja):
        <%= @request.tray_length %> cm
        Número de bandejas:
        <%= @request.tray_quantity %>
      <% elsif @request.product_type == 'caja' || @request.product_type == 'otro' %>
        <% if @request.what_measures == '1' %>
          <%= @request.outer_length %> cm
          x
          <%= @request.outer_width %> cm
          x
          <%= @request.outer_height %> cm
        <% elsif @request.what_measures == '2' %>
          <%= @request.inner_length %> cm
          x
          <%= @request.inner_width %> cm
          x
          <%= @request.inner_height %> cm
        <% end %>
    <% end %>
  </p>
  <% end %>

  <% if @request.main_material == 'sugerir material' && params[:action] == 'manager_view' %>
    <div class="field form-inside-style">
      <strong>
        <%= f.label :material_principal, class: 'bigger-label' %>
      </strong>
      <%= f.select :main_material, options_for_select(main_material_options_alter, selected: @request.main_material), {}, class: 'extra-margin-right' %>
    </div>
    <% field = true %>
  <% else %>
    <p class="bigger-p margin-right-p"><strong>Material:</strong>
      <%= @request.main_material.capitalize %>
    </p>
  <% end %>

  <% if @request.resistance_main_material == 'sugerir resistencia' && params[:action] == 'manager_view' %>
    <div class="field form-inside-style main">
      <strong>
        <%= f.label :resistencia_mat_principal, class: 'bigger-label' %>
      </strong>
      <%= f.select :resistance_main_material, options_for_select(main_resistance_options_alter, selected: @request.resistance_main_material), {}, class: 'extra-margin-right' %>
    </div>
    <% field = true %>
  <% else %>
    <p class="bigger-p margin-right-p"><strong>Resistencia: </strong>
      <%= @request.resistance_main_material %>
    </p>
  <% end %>

  <p class="bigger-p margin-right-p"><strong>Impresión: </strong>
    <%= @request.impression.capitalize %>
  </p>

  <% if @request.main_material == 'rígido' %>
    <p class="bigger-p margin-right-p"><strong>Papel:</strong>
      <%= @request.rigid_color %>
    </p>
    <p class="bigger-p margin-right-p"><strong>Tipo: </strong>
      <%= @request.paper_type_rigid %>
    </p>
  <% else %>
    <p class="bigger-p margin-right-p"><strong>Exterior (base): </strong>
      <%= @request.exterior_material_color %>
    </p>
    <p class="bigger-p margin-right-p"><strong>Interior (base): </strong>
      <%= @request.interior_material_color %>
    </p>
  <% end %>

  <% unless @request.impression == 'no' %>
    <p class="bigger-p margin-right-p">
      <strong> Impresión en: </strong>
      <%= impression_finishing_help(@request) %>
    </p>
  <% end %>

  <p class="bigger-p margin-right-p"><strong>Peso: </strong>
    <% if @request.product_weight.blank? %>
      Sin información
    <% else %>
    <%= @request.product_weight %> kg
    <% end %>
  </p>

  <% unless @request.product_what.blank? %>
    <p class="bigger-p margin-right-p"><strong>A empacar: </strong>
      <%= @request.product_what&.capitalize %>
    </p>
  <% end %>

  <% if @request.has_window == true %>
    <p class="bigger-p margin-right-p"><strong>Ventana: </strong>
      Sí
    </p>
  <% else %>
    <p class="bigger-p margin-right-p"><strong>Ventana: </strong>
      No
    </p>
  <% end %>

  <% unless @request.secondary_material.blank? %>
    <p class="bigger-p margin-right-p"><strong>Segundo material: </strong>
      <%= @request.secondary_material.capitalize %>
    </p>

    <p class="bigger-p margin-right-p"><strong>Resistencia de segundo material: </strong>
      <%= @request.resistance_secondary_material.capitalize %>
    </p>
  <% end %>

  <% unless @request.third_material.blank? %>
    <p class="bigger-p margin-right-p"><strong>Material adicional: </strong>
      <%= @request.third_material.capitalize %>
    </p>

    <p class="bigger-p margin-right-p"><strong>Resistencia de material adicional: </strong>
      <%= @request.resistance_third_material.capitalize %>
    </p>
  <% end %>

  <% if @request.date_finished.present? %>
    <p class="bigger-p margin-right-p"><strong>Fecha de finalización de la producción: </strong>
      <%= @request.date_finished %>
    </p>
  <% end %>

  <p class="bigger-p margin-right-p"><strong> Observaciones: </strong>
    <% if @request.observations.blank? %>
      Ninguna
    <% else %>
      <%= @request.observations %>
    <% end %>
  </p>

  <% unless @request.delivery_date.blank? %>
    <p class="bigger-p margin-right-p"><strong>Fecha compromiso: </strong>
      <span class="date">
        <%= I18n.l @request.delivery_date, format: :short %>
      </span>
    </p>
  <% end %>

  <% unless @request.maximum_sales_price.blank? %>
    <p class="bigger-p margin-right-p"><strong>Precio de venta objetivo (al cliente): </strong>
      <span class="pesos">
        <%= number_to_currency(@request.maximum_sales_price) %>
      </span>
    </p>
  <% end %>

  <% unless @request.notes.blank? %>
    <p class="bigger-p margin-right-p"><strong>Dudas o anotaciones de quien cotiza: </strong>
      <span class="comments">
        <%= @request.notes %>
      </span>
    </p>
  <% end %>

  <% unless @request.internal_price.blank? %>
    <% if current_user.role.name == 'manager' || current_user.role.name == 'director' %>
        <p class="bigger-p margin-right-p"><strong> Costo Diseños de Cartón: </strong>
          </strong> <%= number_to_currency(@request.internal_cost) %>
        </p>
    <% end %>
    <p class="bigger-p margin-right-p">
      <strong> Costo de venta: </strong>
      <%= number_to_currency(@request.internal_price) %>
    </p>
    <% unless @request.sales_price.blank? %>
      <p class="bigger-p margin-right-p"><strong>Precio para cliente: </strong> <%= number_to_currency(@request.sales_price) %> </p>
    <% end %>
  <% end %>

  <% if @request.date_finished.present? %>
    <p class="bigger-p margin-right-p"><strong>Fecha de finalización de la producción: </strong>
      <%= l @request.date_finished format: :short %>
    </p>
  <% end %>

  <% if params[:action] == 'manager_view' && @request.develop != nil %>
    <p class="bigger-p margin-right-p"><strong>Desarrollo: </strong>
      <%= @request.develop %>
    </p>
  <% end %>
</div>

<div id="outer" class="outer hidden">
  <h4>Medidas externas</h4>

  <div class="field form-inside-style">
    <%= f.text_field :outer_length, placeholder: 'largo', class: 'form-inside' %>
    cm
  </div>

  <div class="field form-inside-style">
    <%= f.text_field :outer_width, placeholder: 'ancho', class: 'form-inside' %>
    cm
  </div>

  <div class="field form-inside-style">
    <%= f.text_field :outer_height, placeholder: 'alto', class: 'form-inside' %>
    cm
  </div>
</div>

<% if @request.what_measures == '4' %>
  <div id="inner" class="inner hidden">
    <h4>Medidas internas</h4>
    <div class="field form-inside-style">
      <%= f.text_field :inner_length, placeholder: 'largo', class: 'form-inside' %>
      cm
    </div>

    <div class="field form-inside-style">
      <%= f.text_field :inner_width, placeholder: 'ancho', class: 'form-inside' %>
      cm
    </div>

    <div class="field form-inside-style">
      <%= f.text_field :inner_height, placeholder: 'alto', class: 'form-inside' %>
      cm
    </div>
  </div>
<% end %>

<% if params[:action] == 'manager_view' && field %>
  <div class="actions"><br /><br />
    <%= f.submit :guardar_cambios, name: 'actualizar', class: 'main-button capitalize' %><br /><br />
  </div>
<% end %>

<% end %>

  <% if @request.design_requests.count > 0 %>
    <h3>Solicitudes de diseño</h3>
    <% @request.design_requests.each do |design_request| %>
      <p class="bigger-p"><strong>Tipo de solicitud: </strong><%= design_request.design_type %></p>
      <p class="bigger-p"><strong>Estatus: </strong><%= design_request.status %></p>
      <% if design_request.cost.present? && ((current_user.role.name == 'store' || current_user.role.name == 'store-admin') || current_user.role.name == 'manager' || current_user.role.name == 'director') %>
        <p class="bigger-p"><strong>Costo: </strong><%= number_to_currency(design_request.cost) %></p>
      <% end %>
      <p class="bigger-p"><%= link_to 'Ver solicitud', design_request_path(design_request) %></p>
    <% end %>
  <% end %>

</div>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'alter_request' %>
<% end %>
