<% unless @request.status == 'costo asignado' || @request.status == 'precio asignado' || @request.status == 'autorizada' %>

  <%= form_for(@request) do |f| %>

    <div class="form-container">

      <div class="field form-inside-style">
        <%= f.label :costo_de_venta %>
        <%= f.text_field :internal_cost, class: 'form-inside' %>
      </div>

      <div class="field form-inside-style">
        <%= f.label :precio_para_la_tienda %>
        <%= f.text_field :internal_price, class: 'form-inside' %>
      </div>

      <div class="button-container" id="confirm-cost-div">
        <div class="actions">
          <%= f.submit :confirmar_costo, name: 'actualizar', class: 'main-button capitalize' %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @request.status == 'solicitada' || @request.status == 'modificada' || @request.status == 'devuelta' || @request.status == 'cotizando' %>
    <div class="form-container">

      <h3>¿Solicitud incompleta?</h3>
      <%= form_for(@request) do |t| %>
        <div class="form-container">
          <div class="field form-inside-style">
            <%= t.label :notas_para_la_tienda %>
            <%= t.text_area :notes, class: 'form-inside observations-notes' %>
          </div>

          <div class="button-container" id="dudas-div">
            <div class="actions">
              <%= t.submit :enviar_dudas, name: 'enviar_dudas', class: 'third-button capitalize' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>
