
<h2 class="center center-title"> Formato de Pedido </h2>

  <div class="first-wrapper">
    <%= wicked_pdf_image_tag 'logo-disenos-decarton.png', class: 'authorisation-img'%>

    <div class="text-wrapper">
      <p class="date-doc doc-p">
        <strong> Fecha: </strong>
        <%= l Date.today %>
      </p>

      <p class="doc-p">
        <strong> Nombre: </strong>
        <%= @request.store.business_unit.billing_address.business_name %>
      </p>

      <% if @request.store.contact_first_name.present? %>
        <p class="doc-p">
          <strong>
            Atención:
          </strong>
          <%= @request.store&.contact_first_name %>
          <%= @request.store&.contact_middle_name %>
          <%= @request.store&.contact_last_name %>
          <%= @request.store&.second_last_name %>
        </p>
      <% end %>

      <p class="doc-p">
        <strong>
          Teléfono:
        </strong>
        <%= number_to_phone(@request.store.direct_phone, area_code: true) %>
      </p>
    </div>

  </div>

  <div class="wrapper">

    <div class="authorisation-table">
      <table>
        <thead>
          <tr class="table-row table-head-row">
            <th class="col-md-half divider"> Cantidad </th>
            <th class="col-md-two divider"> Descripción </th>
            <th class="col-md-one divider"> Precio Unitario </th>
            <th class="col-md-one divider"> Total sin IVA </th>
          </tr>
        </thead>
        <tbody>
          <tr class="first-row">
            <td class="data first-row-data"> <%= number_with_delimiter(@request.quantity) %> </td>
            <td class="data description-table first-row-data"> <%= @description %> </td>
            <td class="data first-row-data"> <%= number_to_currency(@request.sales_price) %> </td>
            <td class="data first-row-data"> <%= number_to_currency(@product_total) %> </td>
          </tr>
          <tr>
            <td class="column-left"></td>
            <td class="data">
              <strong>
                Anticipo:
              </strong>
            </td>
            <td class="data column-subtotal"> Subtotal: </td>
            <td class="data column-right"> <%= number_to_currency(@product_total) %> </td>
          </tr>
          <tr>
            <td class="column-left"></td>
            <td class="left data padding">Recibí la cantidad de: $_________________   pesos por concepto del presente pedido.</td>
            <td class="data column-subtotal"> IVA: </td>
            <td class="data column-right"> <%= number_to_currency(@taxes) %> </td>
          </tr>
          <tr class="last-row">
            <td class="column-left"></td>
            <td class="left data padding">
              Nombre y firma __________________________
            </td>
            <td class="data column-subtotal">
              <strong>
                Total Neto:
              </strong>
            </td>
            <td class="data column-right">
              <strong>
                <%= number_to_currency(@total) %>
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="signature">

        <p class="right doc-p">
          <br /><br />
          <strong>Saldo pendiente: </strong>
          <%= number_to_currency(@total)%><br /><br />
        </p>

      </div>

      <p class="indent doc-p">
        Por ajustes de máquina, la cantidad de este pedido especial puede variar aproximadamente 10% (hacia arriba o hacia abajo).<br /><br />
      </p>

    </div>

    <p class="center doc-p">
      Autorizo el pedido con las características descritas en el presente documento.<br /><br /><br />
      __________________________<br />
      Firma del cliente
    </p>

    <div class="icon-sidebar">
      <%= wicked_pdf_image_tag 'icon-linea-hogar.jpg', class: 'icon-img'%>
      <%= wicked_pdf_image_tag 'icon-alimentos-regalos.jpg', class: 'icon-img'%>
      <%= wicked_pdf_image_tag 'icon-linea-ecologica.jpg', class: 'icon-img'%>
      <%= wicked_pdf_image_tag 'icon-linea-oficina.jpg', class: 'icon-img'%>
      <%= wicked_pdf_image_tag 'icon-empaque-embalaje.jpg', class: 'icon-img'%>
      <%= wicked_pdf_image_tag 'icon-linea-exhibidores.jpg', class: 'icon-img'%>
      <%= wicked_pdf_image_tag 'icon-dis-esp.jpg', class: 'icon-img'%>
    </div>

  </div>

  <br /><br />

<div class="center bottom">
  <strong>
    <p> Fabricamos la caja que su producto necesita: Caple, Corrugado y Micro Corrugado </p>
    <p> Diseños de Cartón, más que cajas... soluciones. </p>
  </strong>
    <p> Sucursal <%= @request.store.store_name.capitalize %> </p>
    <p> <%= @address %> </p>
    <p> Tel. <%= number_to_phone(@request.store.direct_phone, area_code: true) %> </p>
    <p> <%= @request.store.email %> </p>
    <p> www.disenosdecarton.com.mx </p>
</div>
