<% @requests.each do |request| %>
<table>
  <thead>
    <tr>
      <th>cantidad</th>
      <th>producto</th>
      <th>estatus</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= request.quantity %> </td>
      <%= render 'pluralize_product_type' %>
      <td> <%= request.status %> </td>
      <td> <%= link_to 'ver cotización', request_path(request) %> </td>
    </tr>
  </tbody>
</table>
<% end %>
<%= link_to 'ver prospecto', prospect_path(@prospect) %>

<%= link_to 'lista de prospectos', store_prospects_path(@prospect.store) %>

<%= link_to 'inicio', store_path(@prospect.store) %>
