<p id="notice"><%= notice %></p>

<% @unassigned.each do |request| %>

    <table>
      <thead>
        <tr>
          <th>tienda</th>
          <th>piezas</th>
          <th>creada hace</th>
          <th>fecha compromiso</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= request.store_code %> - <%= request.store_name %> </td>
          <td><%= request.quantity %> piezas </td>
          <td> <%= @days %> </td>
          <td> <%= request.delivery_date %></td>
          <td> <%= link_to 'detalles', request %> </td>
        </tr>
      </tbody>
    </table>
<% end %>
