<table class="dataTableFourNoOrderPortraitBillsReceived">
  <thead>
    <tr class="table-titles">
      <th> Proveedor </th>
      <th> Facturas </th>
      <th> Compras </th>
      <th> Pagos </th>
      <th> Saldo </th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td>
          <%= link_to orders_bill_received_extended_path(ids: bill[4], type: bill[5], initial_date: @initial_date, final_date: @final_date) do %>
            <%= bill[0] %>
          <% end %>
        </td>
        <td> <%= number_with_delimiter(bill[1]) %> </td>
        <td> <%= number_to_currency(bill[2]) %> </td>
        <td> <%= number_to_currency(bill[3]) %> </td>
        <td> <%= number_to_currency(bill[2] - bill[3]) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br / ><br / >

<div>
  <%= link_to orders_bill_received_extended_total_path(bills: @normal_bills, bill_receiveds: @bill_receiveds, initial_date: @initial_date, final_date: @final_date), class: 'space-between-links' do %>

    Reporte detallado
  <% end %>
</div>

<p id="initial_date" class="hidden"><%= l @initial_date.to_date %></p>
<p id="final_date" class="hidden"><%= l @final_date.to_date %></p>
<%= render 'dataTables' %>
