<table class="dataTablestandard">
  <thead>
    <tr class="table-titles">
      <th> Factura </th>
      <th> Empresa </th>
      <th> Cliente </th>
      <th> Fecha </th>
      <th> Pedidos </th>
      <th> Subtotal </th>
      <th> Descuento </th>
      <th> IVA </th>
      <th> Total </th>
      <th> Fact. original </th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each_with_index do |bill, index| %>
      <tr>
        <td> <%= bill[8] %> </td>
        <td> <%= bill[0] %> </td>
        <td> <%= bill[1] %> </td>
        <td> <%= l bill[9].to_date %> </td>
        <td> <%= number_with_delimiter(bill[10].join(', ')) %> </td>
        <% if bill[2] == 'Factura' || bill[2] == 'Sustitución' %>
          <td> <%= number_to_currency(bill[4].to_f) %> </td>
          <td> <%= number_to_currency(bill[5].to_f) %> </td>
          <td> <%= number_to_currency(bill[6].to_f) %> </td>
          <td> <%= number_to_currency(bill[7].to_f) %> </td>
          <td> </td>
        <% else %>
          <td> <%= number_to_currency(bill[4].to_f * -1) %> </td>
          <td> <%= number_to_currency(bill[5].to_f * -1) %> </td>
          <td> <%= number_to_currency(bill[6].to_f * -1) %> </td>
          <td> <%= number_to_currency(bill[7].to_f * -1) %> </td>
          <% if bill[12] != nil %>
            <td> <%= Bill.find(bill[12]).sequence %> <%= Bill.find(bill[12]).folio %> </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
      <% unless index + 1 == @bills.length %>
        <% if @bills[index][11] != @bills[index + 1][11] %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>

            <td>
              <strong>
                <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[4], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
              </strong>
            </td>
            <td>
              <strong>
                <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[5], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
              </strong>
            </td>
            <td>
              <strong>
                <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[6], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
              </strong>
            </td>
            <td>
              <strong>
                <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[7], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
              </strong>
            </td>

            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
      <% if index + 1 == @bills.length && @same %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total</td>

          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[4], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[5], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[6], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[11] == bill[11] }.map{ |arr| [arr[7], arr[2]] }.map{ |arr| arr[1] == "Devolución" || arr[1] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>

          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Reporte resumido', orders_process_report_path(initial_date: @initial_date, final_date: @final_date, store_id: @store_id, report_type: 'Facturación por empresa') %>
<%= render 'dataTables' %>
