<table class="dataTablestandard">
  <thead>
    <tr class="table-titles">
      <th> Factura </th>
      <th> Fecha </th>
      <th> Empresa </th>
      <th> Cliente </th>
      <th> Subtotal </th>
      <th> Descuento </th>
      <th> IVA </th>
      <th> Total </th>
      <th> Pagos </th>
      <th> Saldo </th>
      <th> Fact. original </th>
      <th> Estatus </th>
      <th> Pedidos </th>
      <th> Comprobantes </th>
      <th> Días vencidos </th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each_with_index do |bill, index| %>
      <tr>
        <td> <%= bill[8] %> </td>
        <td> <%= l bill[9].to_date %> </td>
        <td> <%= bill[0] %> </td>
        <td> <%= bill[1] %> </td>
        <% if bill[2] == 'Factura' || bill[2] == 'Sustitución' %>
          <td> <%= number_to_currency(bill[3].to_f) %> </td>
          <td> <%= number_to_currency(bill[4].to_f) %> </td>
          <td> <%= number_to_currency(bill[5].to_f) %> </td>
          <td> <%= number_to_currency(bill[6].to_f) %> </td>
        <% else %>
          <td> <%= number_to_currency(bill[3].to_f * -1) %> </td>
          <td> <%= number_to_currency(bill[4].to_f * -1) %> </td>
          <td> <%= number_to_currency(bill[5].to_f * -1) %> </td>
          <td> <%= number_to_currency(bill[6].to_f * -1) %> </td>
        <% end %>
        <td> <%= number_to_currency(bill[7].to_f) %> </td>
        <% if bill[2] == 'Factura' || bill[2] == 'Sustitución' %>
          <td> <%= number_to_currency(bill[6].to_f - bill[7].to_f) %> </td>
          <td> </td>
        <% else %>
          <td> <%= number_to_currency((bill[6].to_f * -1) - bill[7].to_f) %> </td>
          <% if bill[14] != nil %>
            <td> <%= Bill.find(bill[14]).sequence %> <%= Bill.find(bill[14]).folio %> </td>
          <% else %>
            <td> </td>
          <% end %>
        <% end %>
        <td> <%= current_bill(bill[10].to_date) %> </td>
        <td> <%= number_with_delimiter(bill[13].join(', ')) %> </td>
        <td>
          <% if Bill.find(bill[11]).documents != [] %>
            <% Bill.find(bill[11]).documents.each do |document| %>
              <%= link_to get_document_path(document), download: "#{document.document_identifier}", class: 'link-extra-space' do %>
                <i class="fa fa-money link-to-details" aria-hidden="true" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver pago"></i>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <% if ((bill[6].to_f - bill[7].to_f >= 1) && bill[2] == 'Factura' || bill[2] == 'Sustitución') %>
          <td> <%= Date.today.mjd - bill[9].to_date.mjd %></td>
        <% else %>
          <td> </td>
        <% end %>
      </tr>
      <% unless index + 1 == @bills.length %>
        <% if @bills[index][15] != @bills[index + 1][15] %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <strong>
              Total:
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[3].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[4].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[5].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[6].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[7].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <% if bill[2] == 'Factura' || bill[2] == 'Sustitución' %>
            <td>
              <strong>
                <%= number_to_currency((@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[6].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) - (@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[7].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+))) %>
              </strong>
            </td>
            <td> </td>
          <% else %>
            <td>
              <strong>
                <%= number_to_currency((@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[6].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+) * -1) - (@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[7].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+))) %>
              </strong>
            </td>
            <td> </td>
          <% end %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      <% end %>
      <% if index + 1 == @bills.length && @same %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <strong>
              Total:
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[3].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[4].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[5].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[6].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <td>
            <strong>
              <%= number_to_currency(@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[7].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) %>
            </strong>
          </td>
          <% if bill[2] == 'Factura' || bill[2] == 'Sustitución' %>
            <td>
              <strong>
                <%= number_to_currency((@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[6].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+)) - (@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[7].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+))) %>
              </strong>
            </td>
            <td> </td>
          <% else %>
            <td>
              <strong>
                <%= number_to_currency((@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[6].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+) * -1) - (@bills.select{ |arr| arr[15] == bill[15] }.map{ |arr| [arr[7].to_f, arr[1]] }.map{ |arr| arr[2] == "Devolución" || arr[2] == "Nota de Crédito"  ? arr[0] = -arr[0] : arr[0] = arr[0] }.inject(0, &:+))) %>
              </strong>
            </td>
            <td> </td>
          <% end %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br /><br />

<%= link_to 'Reporte resumido', orders_process_report_path(initial_date: @initial_date, final_date: @final_date, store_id: @store_id, report_type: 'Saldo por clientes') %>
<%= render 'dataTables' %>
