<% if @orders.count >= 1 %>
  <table class="dataTableFour">
    <thead>
      <tr class="table-titles">
        <th class="col-md-1"> Pedido </th>
        <th class="col-md-1"> Tipo </th>
        <% if (current_user.role.name != 'store' && current_user.role.name != 'store-admin')%>
          <th class="col-md-3"> Cliente </th>
        <% end %>
        <th class="col-md-1"> Productos </th>
        <th class="col-md-1"> Piezas </th>
        <th class="col-md-1"> Estatus </th>
        <% if (current_user.role.name != 'store' && current_user.role.name != 'store-admin')%>
          <th class="col-md-1"> Preparó </th>
          <th class="col-md-1"> Entregó </th>
        <% end %>
        <th class="col-md-1"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td>
            <% if order.category == 'de línea' %>
              <span class="label label-success">
                <%= order.category %>
              </span>
            <% elsif order.category == 'especial' %>
              <span class="label label-primary">
                <%= order.category %>
              </span>
            <% end %>
          </td>
          <% if (current_user.role.name != 'store' && current_user.role.name != 'store-admin')%>
            <td> <%= show_non_blank_field(order.prospect&.legal_or_business_name) %> </td>
          <% end %>
          <td> <%= order.product_requests.where.not(status: 'cancelada').count %> </td>
          <td> <%= number_with_delimiter(sum_quantity_order(order)) %> </td>
          <td>
            <% if (order.status == 'mercancía asignada' || order.status == 'preparando') %>
              <span class="label label-info">
                <%= order.status %>
              </span>
            <% elsif order.status == 'en espera' %>
              <span class="label label-warning">
                <%= order.status %>
              </span>
            <% elsif (order.status == 'preparado' || order.status == 'en ruta') %>
              <span class="label label-primary">
                <%= order.status %>
              </span>
            <% elsif order.status == 'entregado' %>
              <span class="label label-success">
                <%= order.status %>
              </span>
            <% elsif order.status == 'cancelado' %>
              <span class="label label-danger">
                <%= order.status %>
              </span>
            <% end %>
          </td>
          <% if (current_user.role.name != 'store' && current_user.role.name != 'store-admin')%>
            <td> <%= order_warehouse_user(order) %> </td>
            <td> <%= order_driver(order) %> </td>
          <% end %>
          <td class="col-md-2">
            <%= link_to orders_show_for_differences_path(order), class: 'link-extra-space' do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Detalles de factura"></i>
            <% end %>
            <% if current_user.role.name == 'admin-desk' %>
              <% if (current_user.role.name == 'admin-desk' && (order.bill == nil || order.bill.status == 'cancelada')) %>
                <%= link_to edit_discount_path(order), class: 'link-extra-space' do %>
                  <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar descuento"></i>
                <% end %>
              <% end %>
              <%= link_to delete_order_path(order), class: 'link-extra-space', data: { confirm: "Desa cancelar el pedido #{order.id}?. Esta acción no se puede deshacer." } do %>
                <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Borrar pedido"></i>
              <% end %>
              <% if order.bill != nil %>
                <% if order.bill.bill_type == 'global' %>
                  <%= link_to details_global_path(order.bill) do %>
                    <i class="fa fa-file-pdf-o link-to-details more-margin" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver factura"></i>
                  <% end %>
                <% else %>
                  <%= link_to details_path(order.bill) do %>
                    <i class="fa fa-file-pdf-o link-to-details more-margin" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver factura"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p class="individual-font">No tienes pedidos con diferencias.</p>
<% end %>

<br /><br />
  <%= render 'links_for_orders' %>
<br/><br/><br/>

<%= render 'dataTables' %>
