<%= form_tag({ controller: 'orders', action: 'update_discount' }, method: 'post', class: 'second-special-form-datatables') do %>
<table class="table dataTableNoPaginationTwo">
  <thead>
    <% identify_kg_products(@order) %>
    <tr class="table-titles">
      <th> Producto </th>
      <th> Color </th>
      <th> Cantidad </th>
      <% if @has_kg_products %>
        <th class="col-md-1"> Peso(s) </th>
      <% end %>
      <th> Estatus </th>
      <th> ¿Armado? </th>
      <th> Almacén </th>
      <th> Unitario </th>
      <th> Desc. Ini. </th>
      <th> Desc. Adic. </th>
      <th> Total </th>
      <th> Acciones </th>
    </tr>
  </thead>
  <tbody>
    <% @order.product_requests.where.not(status: 'cancelada').each do |product_request| %>
      <tr>
        <td> <%= product_request.product.unique_code %> <%= product_request.product.description %> </td>
        <td> <%= show_non_blank_field(product_request.product.exterior_color_or_design) %> </td>
        <td id="quantity_<%= product_request.id %>"> <%= number_with_delimiter(product_request.quantity) %> </td>
        <% if @has_kg_products %>
          <% if @has_kg_products && product_request.product.group %>
            <td> <%= select_tag :kg, options_for_select(@kg_options[product_request.product.id]), class: 'form-control' %> </td>
          <% else %>
            <td> N/A </td>
          <% end %>
        <% end %>
        <td>
          <% if product_request.status == 'asignado' %>
          <span class="label label-info">
            <%= product_request.status%>
          </span>
          <% elsif product_request.status == 'sin asignar' %>
            <span class="label label-warning">
              <%= product_request.status%>
            </span>
          <% elsif product_request.status == 'entregado' %>
            <span class="label label-success">
              <%= product_request.status%>
            </span>
          <% end %>
        </td>
        <td> <%= product_request.armed ? 'Sí' : 'No' %> </td>
        <td> <%= show_non_blank_field(product_request.product&.warehouse&.name) %> </td>
        <td>
          <span class="hidden" id="initial_price_<%= product_request.id %>"><%= number_to_currency(initial_unit_price(product_request)) %></span>
          <span class="hidden" id="secondary_unit_price_<%= product_request.id %>"><%= number_to_currency(unit_price(product_request)) %></span>
          <span class="unit-value" id="unit_value_<%= product_request.id %>"><%= number_to_currency(unit_price(product_request)) %></span>
          <%= text_field_tag "unit_price_new_#{product_request.id}", unit_price(product_request), {class: 'unit-field form-control center-text hidden'} %>
          <%= text_field_tag 'new_final_price[]', unit_price(product_request), {class: 'unit-field form-control center-text hidden', id: "new_final_price_#{product_request.id}"} %>
        </td>
        <td>
          <span class="discount-value hidden" id="initial_discount_<%= product_request.id %>"><%= number_to_percentage(get_discount(product_request), precision: 1) %></span>
          <span class="discount-value" id="new_discount_<%= product_request.id %>"><%= number_to_percentage(get_discount(product_request), precision: 1) %></span>
        </td>
        <td>
          <%= text_field_tag "discount_new_#{product_request.id}", 0.0, {class: 'discount-field form-control center-text'} %>
          <%= text_field_tag "final_discount[]", 0.0, {class: 'discount-field form-control center-text hidden', id: "final_discount_#{product_request.id}"} %>
          <%= text_field_tag "id[]", product_request.id, {class: 'discount-field form-control center-text hidden', id: "final_discount_#{product_request.id}"} %>
        </td>
        <td>
          <%= text_field_tag "total_new_#{product_request.id}", get_total_from_pr(product_request, 'total'), {class: 'form-control center-text', readonly: true} %>
        </td>
        <td>
          <span> Precio </span>
          <%= check_box_tag "price_new_#{product_request.id}", true, false  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /> <br />

  <div class="actions">
    <%= submit_tag :modificar, name: 'editar', class: 'main-button capitalize' %>
  </div><br /><br />
<% end %>

<table class="hidden">
  <tbody>
    <tr>
      <td id="date"> <%= l Date.today %> </td>
      <td id="store"> <%= @order.store.store_name.capitalize %> </td>
      <td id="hour"> <%= Time.now.strftime("%H:%M") %> </td>
      <td id="user"> <%= warehouse_name(@order) %> </td>
      <td id="orderNumber"> <%= @order.id %> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br /> <br />

<%= render 'add_masks' %>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'tableLoader' %>
  <%= javascript_include_tag 'changeDiscount' %>
<% end %>
