<%= form_tag({ controller: 'orders', action: 'confirm_received' }, method: 'post') do %>
  <table class="table">
    <thead>
      <tr class="table-titles">
        <th> Producto </th>
        <th> Color </th>
        <th> Cantidad </th>
        <th> Total </th>
        <th> Producto </th>
        <th> Acciones </th>
        <th> Confirmar </th>
      </tr>
    </thead>
    <tbody>
      <% @order.product_requests.each do |product_request| %>
        <tr>
          <%# link_to product_details_path(product: product_request.product.id), {:remote => true,  :id => product_request.product.id, 'data-toggle' =>  "modal", 'data-target' => '#productShow'} do %>
            <td> <%= product_request.product.unique_code %> <%= product_request.product.description %> </td>
          <%# end %>
          <td> <%= product_request.product.exterior_color_or_design %> </td>
          <td> <%= number_with_delimiter(product_request.quantity) %> </td>
          <td> <%= number_to_currency(get_total_from_pr_and_movs(product_request)) %> </td>
          <td>
            <% if product_request.status == 'asignado' %>
            <span class="label label-info">
              <%= product_request.status%>
            </span>
            <% elsif product_request.status == 'sin asignar' %>
              <span class="label label-warning">
                <%= product_request.status%>
              </span>
            <% elsif product_request.status == 'entregado' %>
              <span class="label label-success">
                <%= product_request.status%>
              </span>
            <% end %>
          </td>
          <% if (@order.status == 'en espera' || @order.status == 'mercancía asignada' && (@order.bill == nil)) %>
            <td class="col-md-1">
              <% if current_user.role.name == 'admin-desk' %>
                <%= link_to delete_product_from_order_path(product_request), class: 'deleteProduct', data: { confirm: "Desa borrar el producto #{product_request.product.unique_code}, #{product_request.product.description} del pedido?. Esta acción no se puede deshacer." } do %>
                  <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cancelar"></i>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <td class="col-md-2">
            <% if (@order.users.count >= 1 && @order.users.include?(current_user) && @order.status == 'en ruta') %>
             <span class="for-hide" id="for-hide_<%= product_request.id %>">
               ¿Completo?
               <%= check_box_tag "complete[]", true, false, { multiple: true, id: "product_requests[#{product_request.id}]", class: 'for-hide-checkbox'} %>
             </span>
             <%= text_field_tag 'id[]', product_request.id, {class: 'hidden'} %>
              <a href="#" id="redLink_<%= product_request.id %>">
                <i class="fa fa-warning red-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Producto faltante"></i>
              </a>
              <a href="#" id="greenLink_<%= product_request.id %>">
                <i class="fa fa-warning green-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Producto en exceso"></i>
              </a>
              <div id="redWrapper_<%= product_request.id %>" class="hidden">
                <div class="input-group">
                  <%= text_field_tag 'surplus[]', nil, {class: 'form-control'} %>
                  <span class="input-group-btn">
                    <button class="btn" id="redAddOn_<%= product_request.id %>">Ocultar</button>
                  </span>
                </div>
              </div>
              <div id="greenWrapper_<%= product_request.id %>" class="hidden">
                <div class="input-group">
                  <%= text_field_tag 'excess[]', nil, {class: 'form-control'} %>
                  <span class="input-group-btn">
                    <button class="btn" id="greenAddOn_<%= product_request.id %>">Ocultar</button>
                  </span>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td colspan="2"></td>
          <td colspan="1"> <strong> Total: </strong>  </td>
          <td colspan="1"> <strong> <%= number_to_currency(@order.total) %> </strong> </td>
          <td colspan="1"></td>
        </tr>
    </tbody>
  </table>

  <% if (@order.users.count > 1 && @order.users.include?(current_user) && @order.status == 'en ruta') %>
      <div class="actions">
        <%= submit_tag 'Confirmar ', class: 'main-button', data: { disable_with: "Espere mientras se procesa su solicitud..." } %>
      </div><br /><br />
    <% end %>
<% end %>

<br /> <br /> <br />
<%= render 'modal_delivery_address' %>
<%= render partial: 'product_details' %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'confirmDelivery' %>
<% end %>
