<% if @orders.count >= 1 %>
  <table class="dataTableEight">
    <thead>
      <tr class="table-titles">
        <th class="col-md-1">Pedido</th>
        <th class="col-md-1"> Fecha </th>
        <th class="col-md-1">Tipo</th>
        <% if (current_user.role.name != 'store' && current_user.role.name != 'store-admin')%>
          <th class="col-md-3"> Cliente </th>
        <% end %>
        <th class="col-md-1">Productos</th>
        <th class="col-md-1">Piezas</th>
        <th class="col-md-1">Estatus</th>
        <% if !(['warehouse-admin', 'warehouse-staff'].include?(current_user.role.name)) %>
          <th class="col-md-1">Total</th>
        <% end %>
        <th class="col-md-2">Confirmó</th>
        <th class="col-md-1"> Factura </th>
        <th class="hidden"> Preparó </th>
        <th class="hidden"> Entregó </th>
        <th class="col-md-1">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= l order.created_at.to_date, format: :short %> </td>
          <td>
            <% if order.category == 'de línea' %>
              <span class="label label-success">
                <%= order.category %>
              </span>
            <% elsif order.category == 'especial' %>
              <span class="label label-primary">
                <%= order.category %>
              </span>
            <% end %>
          </td>
          <% if (current_user.role.name != 'store' && current_user.role.name != 'store-admin')%>
            <td> <%= show_non_blank_field(order.prospect&.legal_or_business_name) %> </td>
          <% end %>
          <td> <%= order.product_requests.where.not(status: 'cancelada').count %> </td>
          <td> <%= number_with_delimiter(sum_quantity_order(order)) %> </td>
          <td>
            <% if (order.status == 'mercancía asignada' || order.status == 'preparando') %>
              <span class="label label-info">
                <%= order.status %>
              </span>
            <% elsif order.status == 'en espera' %>
              <span class="label label-warning">
                <%= order.status %>
              </span>
            <% elsif (order.status == 'preparado' || order.status == 'en ruta') %>
              <span class="label label-primary">
                <%= order.status %>
              </span>
            <% elsif order.status == 'entregado' %>
              <span class="label label-success">
                <%= order.status %>
              </span>
            <% elsif order.status == 'cancelado' %>
              <span class="label label-danger">
                <%= order.status %>
              </span>
            <% end %>
          </td>
          <% if !(['warehouse-admin', 'warehouse-staff'].include?(current_user.role.name)) %>
            <td> <%= number_to_currency(order.total) %> </td>
          <% end %>
          <td class="col-md-2">
            <%= order_confirm_user(order) %>
          </td>
          <td>
            <% if order.bill != nil %>
              <%= order.bill.folio %>
            <% else %>
              <span class="label label-warning">
                Sin factura
              </span>
            <% end %>
          </td>
          <td class="hidden"> <%= order_warehouse_user(order) %> </td>
          <td class="hidden"> <%= driver_name(order) %> </td>
          <td class="col-md-2 text-left">
            <%= link_to orders_show_for_store_path(order), class: 'link-extra-space' do %>
              <i class="fa fa-plus-square link-to-details extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver pedido"></i>
            <% end %>
            <% if current_user.role.name == 'admin-desk' %>
              <% if (current_user.role.name == 'admin-desk' && (order.bill == nil || order.bill.status == 'cancelada')) %>
                <%= link_to edit_discount_path(order), class: 'link-extra-space' do %>
                  <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar descuento"></i>
                <% end %>
              <% end %>
              <%= link_to delete_order_path(order), class: 'link-extra-space', data: { confirm: "Desa cancelar el pedido #{order.id}?. Esta acción no se puede deshacer." } do %>
                <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Borrar pedido"></i>
              <% end %>
            <% end %>
            <% if order.bill != nil %>
              <% unless order.bill.pdf_url == nil %>
                <%= link_to download_pdf_path(order.bill), download: "Factura.pdf", class: 'link-extra-space' do %>
                  <%= image_tag '/assets/pdf_icon.png', alt: 'Logo PDF', class: 'download-icon-table' %>
                <% end %>
              <% end %>
              <% unless order.bill.xml_url == nil %>
                <%= link_to download_xml_path(order.bill), download: "Factura.xml", class: 'link-extra-space' do %>
                  <%= image_tag '/assets/xml_icon.png', alt: 'Icon XML', class: 'download-icon-table' %>
                <% end %>
              <% end %>
              <% unless order.bill.cancel_receipt_url == nil %>
                <%= link_to download_xml_receipt_path(order.bill), download: "Acuse.xml", class: 'link-extra-space' do %>
                  <%= image_tag '/assets/xml_icon.png', alt: 'Icon XML', class: 'download-icon-table' %>
                <% end %>
              <% end %>
              <% if order.bill.documents != [] %>
                <% order.bill.documents.each do |document| %>
                  <%= link_to get_document_path(document), download: "#{document.document_identifier}", class: 'link-extra-space' do %>
                    <i class="fa fa-money link-to-details" aria-hidden="true" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver pago"></i>
                  <% end %>
                <% end %>
              <% end %>
              <% if (!['store', 'store-admin'].include?(current_user.role.name)) %>
                <i class="fa fa-truck link-to-confirm link-extra-space" aria-hidden="true" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Preparó: <%= order_warehouse_user(order) %>, Entregó: <%= driver_name(order) %>"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No tienes pedidos entregados todavía.</p>
<% end %>

<p class="hidden" id="dateToday"><%= l Date.today %></p>
<p class="hidden" id="storeName"><%= current_user.store.store_name %></p>
<p class="hidden" id="hour"><%= Time.new.strftime("%H:%M") %></p>

<br /><br />
  <%= render 'links_for_orders' %>
<br/><br/><br/>

<%= render 'dataTables' %>
