<%= form_tag({ controller: 'orders', action: 'save_products' }, method: 'post') do %>

<h2> Seleccione los productos para su pedido </h2>

<table class="wide-selector">
  <tbody>
    <tr>
      <td> <%= text_field_tag 'unique_code[]', nil, {class: 'select-product form-control unique_code searh-products-form', placeholder: 'Seleccione un producto'} %> </td>
    </tr>
  </tbody>
</table>

<table class="table" id="productsList">
  <thead>
    <tr class="head-blue">
      <th> </th>
      <th class="hidden"> Ids Producto</th>
      <th> Producto </th>
      <th> Color </th>
      <th> Descuento </th>
      <th> Precio unitario </th>
      <th> Piezas </th>
      <th class="hidden"> Inventario </th>
      <th class="hidden armed-group-title"> ¿Armado? </th>
      <th> Paquetes </th>
      <th> Pedido </th>
      <th> Estatus </th>
      <th class="col-md-1"> Total </th>
    </tr>
  </thead>

  <tbody id="fields_for_warehouse_entries">
    <tr id="totalRow" class="hidden">
      <td colspan="9" class="right total-row"><strong>Total</strong></td>
      <td colspan="2" id="realTotal" class="center-text"><strong id="strongTotal"></strong></td>
    </tr>
  </tbody>
  </table>

  <p class="hidden"><%= text_field_tag :corporate_store, 2 %></p>

  <div class="actions">
    <br><br>
    <div>
      <%= label_tag '¿Entregar completo?' %>
      <%= check_box_tag :deliver_complete, true, false  %>
    </div>
    <br><br>

    <%= submit_tag 'Elaborar pedido', class: 'main-button', id: 'generateEntry', data: { disable_with: "Espere mientras se procesa su solicitud..." } %>
  </div><br /><br />

  <% end %>

<div class="hidden" id="action"><%= params[:action] %></div>

<table class="hidden">
  <tbody id="newRowTableBody">
    <tr class="newRow">
      <%= render partial: "row_orders" %>
    </tr>
  </tbody>
</table>

<%= render 'add_masks' %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'formValidation.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'jquery.autocomplete.min' %>
  <%= javascript_include_tag 'jquery.mask.min' %>
  <%= javascript_include_tag 'jquery.maskMoney.min' %>
  <%= javascript_include_tag 'form_validation_pack.min' %>
  <%= javascript_include_tag 'jquery.mask.min' %>
  <%= javascript_include_tag 'orders_new' %>
<% end %>
