<%= form_tag({ controller: 'orders', action: 'process_report' }, method: 'get', class: 'form-data-tables') do %>

  <br /><br />

  <h2 class="blue-title">Por favor seleccione la fecha y el tipo de reporte</h2>

  <% min_date_reports(current_user) %>

  <br /><br />

  <div class="field">
    <%= label_tag :tipo_de_reporte %>
    <% if current_user.role.name == 'product-admin' || current_user.role.name == 'product-staff' %>
      <%= select_tag :report_type, options_for_select([['Facturas recibidas']]) %>
    <% else %>
      <%= select_tag :report_type, options_for_select([['Facturación por empresa'], ['Pagos por empresa'], ['Saldo por clientes'], ['Ventas por tienda'], ['Compras por tienda por mes'], ['Comparativo compras por mes'], ['Facturas recibidas'], ['Estado de cuenta']]) %>
    <% end %>
  </div>

  <div class="field group-options hidden">
    <%= label_tag :opciones_de_reporte %>
    <%= select_tag :group_options, options_for_select([['Franquicias y distribuidores'], ['Solo tiendas'], ['Solo franquicias'], ['Solo distribuidores'], ['Seleccionar clientes']]) %>
  </div>

  <div class="field balance-options hidden">
    <%= label_tag :opciones_para_estado_de_cuenta %>
    <%= select_tag :options_for_balance_report, options_for_select([['Todas las facturas'], ['Solo facturas sin pagar'], ['Solo facturas pagadas']]) %>
  </div>

  <br /><div class="field client-list hidden">
    <%= label_tag :clientes %>
    <%= select_tag :client_list, options_for_select(@client_list, selected: @client_list.first), {include_blank: true, multiple: true} %>
  </div>

  <% if current_user.role.name == 'director' %>
    <br /><div class="field companies-list">
      <%= label_tag :empresas %>
      <%= select_tag :companies, options_for_select(companies_select, selected: [current_user.store.business_unit.billing_address_id]), {include_blank: true, multiple: true} %>
    </div>
  <% end %>

  <div class="field date-options">
    <%= label_tag :opciones_de_fecha %>
    <%= select_tag :options, options_for_select([['Seleccionar día'], ['Mes actual'], ['Rango de fechas']]) %>
  </div>

  <% if current_user.store.store_type.store_type == 'corporativo' %>

    <div class="field product-select-2 month-list hidden">
      <%= label_tag :mes_y_año %>
      <%= select_tag :month_and_year, options_for_select(month_list, selected: @last), {include_blank: true, multiple: true} %>
    </div>

    <div class="field store-options hidden">
      <%= label_tag :opciones_de_tiendas %>
      <%= select_tag :store_options, options_for_select(corporate_store_options, selected: 'Todas las tiendas') %>
    </div>

    <div class="field product-select-2 store-list hidden">
      <%= label_tag :lista_de_tiendas %>
      <%= select_tag :store_list, options_for_select(corporate_store_list), {include_blank: true, multiple: true} %>
    </div>
  <% end %>

  <div class="field extra-margin-top single-date">
    <%= label_tag :fecha_de_reporte %>
    <%= date_field_tag(:date, Date.today, options = {max: Date.today, min: @min_date }) %>
  </div>

  <div class="group_fields hidden group-dates">
    <div class="field">
      <%= label_tag :fecha_inicial %>
      <%= date_field_tag(:initial_date, Date.today, options = {max: Date.today, min: @min_date }) %>
    </div>

    <div class="field">
      <%= label_tag :fecha_final %>
      <%= date_field_tag(:final_date, Date.today, options = {max: Date.today, min: @min_date }) %>
    </div>
  </div>

  <br /><br />

  <div class="actions">
    <%= submit_tag 'Ver reporte', class: 'main-button' %>
  </div>

  <br /><br />

<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'select2.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'select2.min' %>
  <%= javascript_include_tag 'es' %>
  <%= javascript_include_tag 'reports' %>
  <%= javascript_include_tag 'corporate_reports' %>
<% end %>
