<table class="table" id="productsList">
  <thead>
    <tr class="table-titles">
      <th>Producto</th>
      <th>Color</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% get_orders %>
    <% @product_requests.each do |pr| %>
      <tr id="trForProduct<%= pr.product_id %>">
        <td> <%= pr.product.unique_code %> <%= pr.product.description %></td>
        <td> <%= pr.product.exterior_color_or_design %> </td>
        <td> <%= number_with_delimiter(pr.quantity) %> </td>
        <td> <%= number_to_currency(get_total_from_pr_and_movs(pr)) %> </td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td> <strong> Total: </strong> </td>
        <td> <strong> <%= number_to_currency(get_total) %> </strong> </td>
        <td></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Confirmar', orders_confirm_path(@orders), class: 'btn btn-primary', method: 'post' %>
<br /> <br /> <br /> <br /> <br />
