<table class="table" id="productsList">
  <thead>
    <tr>
      <th>Código</th>
      <th>Color</th>
      <th>Imagen</th>
      <th>Cantidad</th>
      <th>Total</th>
      <th>Urgencia</th>
      <th>Entregar</th>
    </tr>
  </thead>
  <tbody>
    <% get_orders %>
    <% @product_requests.each do |product_request| %>
      <tr id="trForProduct<%= product_request.product.id %>">
        <td><%= product_request.product.unique_code %></td>
        <td><%= product_request.product.exterior_color_or_design %></td>
        <td><%= image_tag image(product_request), alt: product_request.product.description %></td>
        <td><%= number_with_delimiter(product_request.quantity) %></td>
        <td><%= number_to_currency(product_request.quantity * product_request.movements.first.final_price * 1.16) %></td>
        <td><%= product_request.urgency_level %></td>
        <td><%= get_maximum_date(product_request.maximum_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Confirmar', orders_confirm_path(@orders), class: 'btn btn-primary', method: 'post' %>
<br /> <br /> <br /> <br /> <br />
