<table class="table">
  <thead>
    <tr class="table-titles">
      <th class="hidden"> Código </th>
      <th> Descripción </th>
      <th> Color </th>
      <th> Cantidad </th>
      <th> Total </th>
      <th> Producto </th>
    </tr>
  </thead>
  <tbody>
    <% @order.product_requests.each do |product_request| %>
      <tr>
        <td class="hidden"><%= product_request.product.unique_code %></td>
        <td>
          <% @product = product_request.product %>
          <%= link_to '#productShow', product: @product, 'data-toggle' => 'modal' do %>
            <%= product_request.product.description %>
          <% end %>
        </td>
        <td><%= product_request.product.exterior_color_or_design %></td>
        <td><%= number_with_delimiter(product_request.quantity) %></td>
        <td><%= number_to_currency(get_total_from_movements(product_request)) %></td>
        <td><%= product_request.status%></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="2"></td>
        <td colspan="1"> <strong> Total: </strong>  </td>
        <td colspan="1"> <strong> <%= number_to_currency(@order.total) %> </strong> </td>
        <td colspan="1"></td>
      </tr>
  </tbody>
</table>
<br /> <br /> <br />
<%= render 'modal_delivery_address' %>
<%= render partial: 'modal_product_details' %>
