<table class="table" id="productsList">
  <thead>
    <tr class="table-titles">
      <th> Producto</th>
      <th> Color</th>
      <th> Estatus </th>
      <th> Cantidad</th>
      <% get_orders %>
      <% if @orders.count > 1 %>
        <% identify_kg_products_multiple(@orders) %>
      <% else %>
        <% identify_kg_products(@orders.first) %>
      <% end %>
      <% if @has_kg_products %>
        <th class="col-md-1"> Peso(s) </th>
      <% end %>
      <% if (!['warehouse-admin', 'warehouse-staff', 'store'].include?(current_user.role.name)) %>
        <th> Descuento </th>
        <th> Total </th>
      <% else %>
        <th class="hidden"> Total </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @product_requests.each do |pr| %>
      <tr id="trForProduct<%= pr.product_id %>">
        <td> <%= pr.product.unique_code %> <%= pr.product.description %></td>
        <td> <%= pr.product.exterior_color_or_design %> </td>
        <td>
          <% if pr.status == 'asignado' %>
          <span class="label label-info">
            <%= pr.status%>
          </span>
          <% elsif pr.status == 'sin asignar' %>
            <span class="label label-warning">
              <%= pr.status%>
            </span>
          <% elsif pr.status == 'entregado' %>
            <span class="label label-success">
              <%= pr.status%>
            </span>
            <% elsif pr.status == 'cancelada' %>
              <span class="label label-danger">
                <%= pr.status%>
              </span>
          <% end %>
        </td>
        <td> <%= number_with_delimiter(pr.quantity) %> </td>
        <% if @has_kg_products %>
          <% if @has_kg_products && pr.product.group %>
            <td> <%= select_tag :kg, options_for_select(@kg_options[pr.product.id]), class: 'form-control' %> </td>
          <% else %>
            <td> N/A </td>
          <% end %>
        <% end %>
        <% if (!['warehouse-admin', 'warehouse-staff', 'store'].include?(current_user.role.name)) %>
          <td> <%= number_to_percentage(get_discount(pr), precision: 1) %> </td>
          <td> <%= number_to_currency(get_total_from_pr(pr, 'total')) %> </td>
        <% else %>
          <td class="hidden"> <%= number_to_currency(get_total_from_pr(pr, 'total')) %> </td>
        <% end %>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td> <strong> Total: </strong> </td>
        <% if @orders.count > 1 %>
          <td> <strong> <%= number_with_delimiter(sum_quantity_multiple_orders(@orders)) %> </strong> </td>
        <% else %>
          <td> <strong> <%= number_with_delimiter(sum_quantity_order(@orders.first)) %> </strong> </td>
        <% end %>
        <% if (!['warehouse-admin', 'warehouse-staff', 'store'].include?(current_user.role.name)) %>
          <% if @orders.count > 1 %>
            <td> <strong> <%= number_to_percentage(order_discount_multiple(@orders), precision: 1) %> </strong> </td>
          <% else %>
            <td> <strong> <%= number_to_percentage(order_discount(@orders.first), precision: 1) %> </strong> </td>
          <% end %>
          <td> <strong> <%= number_to_currency(get_total) %> </strong> </td>
        <% else %>
          <td class="hidden"> <strong> <%= number_to_percentage(order_discount(order), precision: 1) %> </strong> </td>
          <td class="hidden"> <strong> <%= number_to_currency(get_total) %> </strong> </td>
        <% end %>
      </tr>
  </tbody>
</table>
<%= link_to 'Confirmar', orders_confirm_path(@orders), class: 'btn btn-primary', method: 'post' %>
<br /> <br /> <br /> <br /> <br />
