<table class="table" id="productsList">
  <thead>
    <tr>
      <th>Código</th>
      <th>Color</th>
      <th>Imagen</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% get_orders %>
    <% @movements.each do |movement| %>
      <tr id="trForProduct<%= movement.product_id %>">
        <td><%= movement.product.unique_code %></td>
        <td><%= movement.product.exterior_color_or_design %></td>
        <td><%= image_tag image(movement), alt: movement.product.description %></td>
        <td><%= number_with_delimiter(movement.quantity) %></td>
        <td><%= number_to_currency(movement.total) %></td>
      </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td> <strong> Total: </strong> </td>
        <td> <strong> <%= number_to_currency(get_total) %> </strong> </td>
        <td></td>
      </tr>
  </tbody>
</table>
<%= link_to 'Confirmar', orders_confirm_path(@orders), class: 'btn btn-primary', method: 'post' %>
<br /> <br /> <br /> <br /> <br />
