<%= form_tag({ controller: 'orders', action: 'confirm_received' }, method: 'post') do %>
  <table class="dataTableNoPagination">
    <thead>
      <% identify_kg_products(@order) %>
      <tr class="table-titles">
        <th> Producto </th>
        <th> Color </th>
        <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
          <th> Almacén </th>
        <% end %>
        <th> Estatus </th>
        <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
          <th> Ubicación </th>
        <% end %>
        <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
          <th> Paquetes </th>
          <th> Cantidad </th>
        <% else %>
          <th> Cantidad </th>
        <% end %>
        <% if @has_kg_products %>
          <th class="col-md-1"> Peso(s) </th>
        <% end %>
        <% if !(['store-admin' 'store', 'admin-desk'].include?(current_user.role.name)) %>
          <th class="hidden"> Solicitado </th>
        <% end %>
        <% if ['store-admin', 'admin-desk'].include?(current_user.role.name) %>
          <th> Descuento </th>
          <th> Total </th>
        <% else %>
          <th class="hidden"> Descuento </th>
          <th class="hidden"> Total </th>
        <% end %>
        <th class="col-md-2"> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <% if @order.status == 'cancelado' || @order.status == 'entregado' %>
        <% @order.product_requests.each do |product_request| %>
        <tr>
          <%# link_to product_details_path(product: product_request.product.id), {:remote => true,  :id => product_request.product.id, 'data-toggle' =>  "modal", 'data-target' => '#productShow'} do %>
            <td> <%= product_request.product.unique_code %> <%= product_request.product.description %> </td>
          <%# end %>
          <td> <%= product_request.product.exterior_color_or_design %> </td>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <td> <%= show_non_blank_field(product_request.product&.warehouse&.name) %></td>
          <% end %>
          <td>
            <% if product_request.status == 'asignado' %>
            <span class="label label-info">
              <%= product_request.status%>
            </span>
            <% elsif product_request.status == 'sin asignar' %>
              <span class="label label-warning">
                <%= product_request.status%>
              </span>
            <% elsif product_request.status == 'entregado' %>
              <span class="label label-success">
                <%= product_request.status%>
              </span>
            <% elsif product_request.status == 'cancelada' %>
              <span class="label label-danger">
                <%= product_request.status%>
              </span>
            <% end %>
          </td>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <% if (product_request.product.rack.blank? && product_request.product.level.blank?) %>
              <td class="center-text"> - </td>
            <% else %>
              <td class="center-text"> Estante: <%= product_request.product.rack %> Nivel: <%= product_request.product.level %></td>
            <% end %>
          <% end %>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <td> <%= number_with_delimiter(product_request.quantity / product_request.product.pieces_per_package) %> </td>
            <td> <%= number_with_delimiter(product_request.quantity) %> </td>
          <% else %>
            <td> <%= number_with_delimiter(product_request.quantity) %> </td>
          <% end %>
          <% if @has_kg_products %>
            <% if @has_kg_products && product_request.product.group %>
              <td> <%= select_tag :kg, options_for_select(@kg_options[product_request.product.id]), class: 'form-control' %> </td>
            <% else %>
              <td> N/A </td>
            <% end %>
          <% end %>
          <% if !(['store-admin' 'store', 'admin-desk'].include?(current_user.role.name)) %>
            <td class="hidden"> <%= number_with_delimiter(get_total_from_pr(product_request, 'quantity')) %> </td>
          <% end %>
          <% if ['store-admin', 'admin-desk'].include?(current_user.role.name) %>
            <td> <%= number_to_percentage(get_discount(product_request), precision: 1) %> </td>
            <td> <%= number_to_currency(get_total_from_pr(product_request, 'total')) %> </td>
          <% else %>
            <td class="hidden"> <%= number_to_percentage(get_discount(product_request), precision: 1) %> </td>
            <td class="hidden"> <%= number_to_currency(get_total_from_pr(product_request, 'total')) %> </td>
          <% end %>
          <td>
            <% if (@order.users.count > 0 && @order.prospect.id == current_user.store.store_prospect.id && @order.status == 'en ruta') %>
              <div class="all-hide hidden">
                <span class="for-hide" id="for-hide_<%= product_request.id %>">
                  ¿Completo?
                  <%= check_box_tag "complete[]", true, false, { multiple: true, id: "product_requests[#{product_request.id}]", class: 'for-hide-checkbox for-hide'} %>
                  <%= check_box_tag "complete[]", false, true, { multiple: true, id: "product_requests[#{product_request.id}]", class: "for-hide-checkbox for-hide hidden second-check_#{product_request.id}"} %>
                </span>
                <%= text_field_tag 'id[]', product_request.id, {class: 'hidden'} %>
                <a href="#" id="redLink_<%= product_request.id %>">
                  <i class="fa fa-warning red-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Producto faltante"></i>
                </a>
                <a href="#" id="greenLink_<%= product_request.id %>">
                  <i class="fa fa-warning green-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Producto en exceso"></i>
                </a>
                <div id="redWrapper_<%= product_request.id %>" class="hidden">
                  <div class="input-group">
                    <%= text_field_tag 'surplus[]', nil, {class: 'form-control'} %>
                    <span class="input-group-btn">
                      <button class="btn" id="redAddOn_<%= product_request.id %>">Ocultar</button>
                    </span>
                  </div>
                </div>
                <div id="greenWrapper_<%= product_request.id %>" class="hidden">
                  <div class="input-group">
                    <%= text_field_tag 'excess[]', nil, {class: 'form-control'} %>
                    <span class="input-group-btn">
                      <button class="btn" id="greenAddOn_<%= product_request.id %>">Ocultar</button>
                    </span>
                  </div>
                </div>
              </div>
            <% else %>
              <% if current_user.role.name == 'admin-desk' && product_request.status != 'cancelada' %>
                <%= link_to delete_product_from_order_path(product_request), class: 'deleteProduct', data: { confirm: "Desa borrar el producto #{product_request.product.unique_code}, #{product_request.product.description} del pedido?. Esta acción no se puede deshacer." } do %>
                  <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cancelar"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% else %>
        <% @order.product_requests.where.not(status: 'cancelada').each do |product_request| %>
        <tr>
          <%# link_to product_details_path(product: product_request.product.id), {:remote => true,  :id => product_request.product.id, 'data-toggle' =>  "modal", 'data-target' => '#productShow'} do %>
            <td> <%= product_request.product.unique_code %> <%= product_request.product.description %> </td>
          <%# end %>
          <td> <%= product_request.product.exterior_color_or_design %> </td>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <td> <%= show_non_blank_field(product_request.product&.warehouse&.name) %></td>
          <% end %>
          <td>
            <% if product_request.status == 'asignado' %>
              <span class="label label-info">
                <%= product_request.status%>
              </span>
            <% elsif product_request.status == 'sin asignar' %>
              <span class="label label-warning">
                <%= product_request.status%>
              </span>
            <% elsif product_request.status == 'entregado' %>
              <span class="label label-success">
                <%= product_request.status%>
              </span>
            <% elsif product_request.status == 'cancelada' %>
              <span class="label label-danger">
                <%= product_request.status%>
              </span>
            <% end %>
          </td>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <% if (product_request.product.rack.blank? && product_request.product.level.blank?) %>
              <td class="center-text"> - </td>
            <% else %>
              <td class="center-text"> Estante: <%= product_request.product.rack %> Nivel: <%= product_request.product.level %></td>
            <% end %>
          <% end %>
          <% if !(['store-admin' 'store', 'admin-desk'].include?(current_user.role.name)) %>
            <td class="hidden"> <%= number_with_delimiter(get_total_from_pr(product_request, 'quantity')) %> </td>
          <% end %>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <td> <%= number_with_delimiter(product_request.quantity / product_request.product.pieces_per_package) %> </td>
            <td> <%= number_with_delimiter(product_request.quantity) %> </td>
          <% else %>
            <td> <%= number_with_delimiter(product_request.quantity) %> </td>
          <% end %>
          <% if @has_kg_products %>
            <% if @has_kg_products && product_request.product.group %>
              <td> <%= select_tag :kg, options_for_select(@kg_options[product_request.product.id]), class: 'form-control' %> </td>
            <% else %>
              <td> N/A </td>
            <% end %>
          <% end %>
          <% if ['store-admin', 'store', 'admin-desk'].include?(current_user.role.name) %>
            <td> <%= number_to_percentage(get_discount(product_request), precision: 1) %> </td>
            <td> <%= number_to_currency(get_total_from_pr(product_request, 'total')) %> </td>
          <% else %>
            <td class="hidden"> <%= number_to_percentage(get_discount(product_request), precision: 1) %> </td>
            <td class="hidden"> <%= number_to_currency(get_total_from_pr(product_request, 'total')) %> </td>
          <% end %>
          <td>
            <% if (@order.users.count > 0 && @order.prospect.id == current_user.store.store_prospect.id && @order.status == 'en ruta') %>
              <div class="all-hide hidden">
                <span class="for-hide" id="for-hide_<%= product_request.id %>">
                  ¿Completo?
                  <%= check_box_tag "complete[]", true, false, { multiple: true, id: "product_requests[#{product_request.id}]", class: 'for-hide-checkbox for-hide'} %>
                  <%= check_box_tag "complete[]", false, true, { multiple: true, id: "product_requests[#{product_request.id}]", class: "for-hide-checkbox for-hide hidden second-check_#{product_request.id}"} %>
                </span>
                <%= text_field_tag 'id[]', product_request.id, {class: 'hidden'} %>
                <a href="#" id="redLink_<%= product_request.id %>">
                  <i class="fa fa-warning red-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Producto faltante"></i>
                </a>
                <a href="#" id="greenLink_<%= product_request.id %>">
                  <i class="fa fa-warning green-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Producto en exceso"></i>
                </a>
                <div id="redWrapper_<%= product_request.id %>" class="hidden">
                  <div class="input-group">
                    <%= text_field_tag 'surplus[]', nil, {class: 'form-control'} %>
                    <span class="input-group-btn">
                      <button class="btn" id="redAddOn_<%= product_request.id %>">Ocultar</button>
                    </span>
                  </div>
                </div>
                <div id="greenWrapper_<%= product_request.id %>" class="hidden">
                  <div class="input-group">
                    <%= text_field_tag 'excess[]', nil, {class: 'form-control'} %>
                    <span class="input-group-btn">
                      <button class="btn" id="greenAddOn_<%= product_request.id %>">Ocultar</button>
                    </span>
                  </div>
                </div>
              </div>
              <% if current_user.role.name == 'admin-desk' && (product_request.status != 'cancelada' && product_request.order.status != 'en ruta') %>
                <%= link_to delete_product_from_order_path(product_request), class: 'deleteProduct', data: { confirm: "Desa borrar el producto #{product_request.product.unique_code}, #{product_request.product.description} del pedido?. Esta acción no se puede deshacer." } do %>
                  <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cancelar"></i>
                <% end %>
              <% end %>
            <% else %>
              <% if current_user.role.name == 'admin-desk' && product_request.status != 'cancelada' %>
                <%= link_to delete_product_from_order_path(product_request), class: 'deleteProduct', data: { confirm: "Desa borrar el producto #{product_request.product.unique_code}, #{product_request.product.description} del pedido?. Esta acción no se puede deshacer." } do %>
                  <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cancelar"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
      <% if ['store-admin', 'store'].include?(current_user.role.name) %>
        <tr>
          <% if !(['store-admin', 'store'].include?(current_user.role.name)) %>
            <td colspan="1"></td>
            <td colspan="1"></td>
          <% end %>
          <% if @has_kg_products %>
            <td colspan="1"> Peso(s) </td>
          <% end %>
          <td colspan="1"></td>
          <td colspan="1"> <strong> Total: </strong>  </td>
          <td colspan="1"> <strong> <%= @order.boxes %> cajas </strong> </td>
          <td colspan="1"> <strong> <%= number_with_delimiter(sum_quantity_order(@order)) %> </strong> </td>
          <% if ['store-admin', 'store', 'admin-desk'].include?(current_user.role.name) %>
            <td colspan="1"> <strong> <%= number_to_percentage(order_discount(@order.id), precision: 1) %> </strong> </td>
            <td colspan="1"> <strong> <%= number_to_currency(@order.total) %> </strong> </td>
          <% else %>
            <td colspan="1" class="hidden"> <strong> <%= number_to_percentage(order_discount(@order.id), precision: 1) %> </strong> </td>
            <td colspan="1" class="hidden"> <strong> <%= number_to_currency(@order.total) %> </strong> </td>
          <% end %>
          <td colspan="1"></td>
          <% if (['store-admin', 'store'].include?(current_user.role.name)) %>
            <td colspan="1"></td>
          <% end %>
        </tr>
      <% elsif current_user.role.name == 'admin-desk' %>
        <tr>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <td colspan="1"></td>
          <% if @has_kg_products %>
            <td colspan="1"> Peso(s) </td>
          <% end %>
          <td colspan="1"></td>
          <td colspan="1"> <strong> Total: </strong>  </td>
          <td colspan="1"> <strong> <%= @order.boxes %> cajas </strong> </td>
          <td colspan="1"> <strong> <%= number_with_delimiter(sum_quantity_order(@order)) %> </strong> </td>
          <td colspan="1"> <strong> <%= number_to_percentage(order_discount(@order.id), precision: 1) %> </strong> </td>
          <td colspan="1"> <strong> <%= number_to_currency(@order.total) %> </strong> </td>
          <td colspan="1"></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if (@order.users.count > 1 && @order.prospect.id == current_user.store.store_prospect.id && @order.status == 'en ruta') %>
      <div class="actions">
        ¿Pedido completo?
        <%= check_box_tag :order_complete, true, true, { multiple: true, class: 'for-hide-checkbox'} %>
        <%= text_field_tag :order_id, @order.id, {class: 'hidden'} %>
      </div>
      <div class="actions">
        <%= submit_tag 'Confirmar', class: 'main-button', data: { disable_with: "Espere mientras se procesa su solicitud..." } %>
      </div><br /><br />
    <% end %>
  <% end %>

  <table class="hidden">
    <tbody>
      <tr>
        <td id="date"> <%= l Date.today, format: :short %> </td>
        <td id="store"> <%= @order.store.store_name.capitalize %> </td>
        <td id="hour"> <%= Time.now.strftime("%H:%M") %> </td>
        <td id="user"> <%= warehouse_name(@order) %> </td>
        <td id="orderNumber"> <%= @order.id %> </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

<br /> <br /> <br />
<%= render 'modal_delivery_address' %>
<%= render partial: 'product_details' %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'confirmDelivery' %>
<% end %>
<%= render 'dataTables' %>
