<table class="dataTableFourNoOrder">
  <thead>
    <tr class="table-titles">
      <th> Cliente </th>
      <th> Año </th>
      <% @month_names.each do |month| %>
        <th> <%= month.capitalize %> </th>
      <% end %>
      <th> Acumulado </th>
    </tr>
  </thead>
  <tbody>
        <% @month_sales.each do |store, year| %>
          <tr>
            <% @years = year.keys %>
            <% @years.each do |store_year| %>
              <td> <%= store %> </td>
              <td> <%= store_year %> </td>
              <% year[store_year].each do |month| %>
                <td> <%= number_to_currency(month) %> </td>
              <% end %>
              <td> <%= number_to_currency(year[store_year].inject(&:+)) %> </td>
          </tr>
          <% end %>
        <% end %>
  </tbody>
</table>

<p id="date_month" class="hidden"><%= @date %></p>
<%= render 'dataTables' %>
