<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'select2.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'select2.min' %>
  <%= javascript_include_tag 'es' %>
  <%= javascript_include_tag 'billing_address' %>
<% end %>

<%= render 'billing_errors' %>

<%= form_for [@owner, @billing] do |f| %>

  <h2 class="info-title">Datos de facturación </h2>

  <div class="form-container">

    <% if @owner.class == 'BusinessUnit' || params[:business_unit_id] != nil %>
      <div class="form-inside-style tax-regime">
        <%= f.label :régimen_fiscal %>
        <%= f.select :tax_regime_id, options_for_select(tax_regime_options, value: @billing.tax_regime_id), {include_blank: true}, multiple: true, class: 'select2-field' %>
      </div>
    <% end %>

    <div class="form-inside-style">
      <%= f.label :tipo_de_persona %>
      <%= f.select :type_of_person, options_for_select(['persona física', 'persona moral'], selected: @billing.type_of_person) %>
    </div>

    <div class="form-inside-style">
      <%= f.label :nombre_o_razón_social %>
      <%= f.text_field :business_name, value: @billing.business_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
        <%= f.label :rfc, class: 'uppercase' %>
        <%= f.text_field :rfc, maxlength: 13, value: @billing.rfc, class: 'form-inside' %>
    </div>

    <div class="form-inside-style hidden">
      <%= f.label :tienda %>
      <%= f.text_field :store_id, value: current_user.store.id, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :calle %>
      <%= f.text_field :street, value: @billing.street, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :número_exterior %>
      <%= f.text_field :exterior_number, value: @billing.exterior_number, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :número_interior %>
      <%= f.text_field :interior_number, value: @billing.interior_number, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :colonia %>
      <%= f.text_field :neighborhood, value: @billing.neighborhood, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :código_postal %>
      <%= f.text_field :zipcode, maxlength: 5, value: @billing.zipcode, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :ciudad %>
      <%= f.text_field :city, value: @billing.city, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :estado %>
      <%= f.text_field :state, value: @billing.state, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :país %>
      <%= f.text_field :country, value: @billing.country, class: 'form-inside' %>
    </div>

    <div class="button-container">
      <div class="actions">
        <%= f.submit :Guardar, name: 'guardar', class: 'main-button' %>
      </div>
    </div>

  </div>

<% end %>
