<%= form_for [@owner, @billing] do |f| %>

<div class="field">
  <%= f.label :tipo_de_persona %>
  <%= f.select :type_of_person, options_for_select(['persona física', 'persona moral']) %>
</div>

<div class="field">
  <%= f.label :nombre_o_razón_social %>
  <%= f.text_field :business_name %>
</div>

<div class="field">
  <p class="mayus">
    <%= f.label :rfc %>
    <%= f.text_field :rfc %>
  </p>
</div>

<div class="field">
  <%= f.label :calle %>
  <%= f.text_field :street %>
</div>

<div class="field">
  <%= f.label :número_exterior %>
  <%= f.text_field :exterior_number %>
</div>

<div class="field">
  <%= f.label :número_interior %>
  <%= f.text_field :interior_number %>
</div>

<div class="field">
  <%= f.label :colonia %>
  <%= f.text_field :neighborhood %>
</div>

<div class="field">
  <%= f.label :código_postal %>
  <%= f.text_field :zipcode %>
</div>

<div class="field">
  <%= f.label :ciudad %>
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :estado %>
  <%= f.text_field :state %>
</div>

<div class="field">
  <%= f.label :país %>
  <%= f.text_field :country %>
</div>

<div class="actions">
  <%= f.submit :guardar_direccion, name: 'guardar' %>
</div>

<% end %>
