
<table id="sales-ticket-day" class="table-display">
  <thead>
    <tr>
      <th colspan="5" class="table-titles"> Resumen de ventas <%= params[:date] %> </th>
    </tr>
    <tr>
      <th class="no-border"> Ticket </th>
      <th class="no-border"> Subtotal </th>
      <th class="no-border"> IVA </th>
      <th class="no-border"> Total </th>
      <th class="no-border"> Pagos </th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td> <%= ticket.ticket_number %> </td>
        <td> <%= number_to_currency(ticket.subtotal) %> </td>
        <td> <%= number_to_currency(ticket.taxes) %> </td>
        <td> <%= number_to_currency(ticket.total) %> </td>
        <td> <%= number_to_currency(ticket.payments_amount) %> </td>
      </tr>
    <% end %>
    <tr>
      <td> <strong> Total </strong> </td>
      <td> <strong> <%= number_to_currency(@day_subtotal) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_taxes) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_total) %> </strong> </td>
      <td> <strong> <%= number_to_currency(@day_payments) %> </strong> </td>
    </tr>
  </tbody>
</table>

<table id="payment-day" class="table-display">
  <thead>
    <tr>
      <th colspan="2" class="table-titles"> Resumen de pagos </th>
    </tr>
    <tr>
      <th class="no-border"> Forma de pago </th>
      <th class="no-border"> Total </th>
    </tr>
  </thead>
  <tbody>
    <% @payment_forms.each do |pay_form| %>
      <tr>
        <td> <%= pay_form[0] %> </td>
        <td> <%= number_to_currency(pay_form[1]) %> </td>
      </tr>
    <% end %>
    <tr>
      <td> <strong> <%= number_to_currency(@total_payment_form) %> </strong> </td>
    </tr>
  </tbody>
</table>

<table id="payment-average" class="table-display table-display dataTable no-footer">
  <thead>
    <tr>
      <th colspan="4" class="table-titles"> Promedio de ventas </th>
    </tr>
    <tr>
      <th class="no-border"> Ticket promedio (día) </th>
      <th class="no-border"> Piezas por ticket (día) </th>
      <th class="no-border"> Ticket promedio (mes) </th>
      <th class="no-border"> Piezas por ticket (mes) </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= number_to_currency(@average_day_total) %> </td>
      <td> <%= @average_day_pieces %> </td>
      <td> <%= number_to_currency(@average_month_total) %> </td>
      <td> <%= @average_month_pieces %> </td>
    </tr>
  </tbody>
</table>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <%= javascript_include_tag 'ticket-day' %>
<% end %>
