<table id="sales">
  <thead>
    <tr class="table-titles">
      <th class="col-md-1"> Mes / Año </th>
      <th> Subtotal </th>
      <th> Descuento $ </th>
      <th> Descuento % </th>
      <th> Total </th>
      <th> Costo </th>
      <th> Margen $ </th>
      <th> Margen % </th>
      <th> Pagos recibidos </th>
      <th> Detalles </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 11 / 2017 </td>
      <td> <%= number_to_currency(@subtotal) %> </td>
      <td> <%= number_to_currency(@discount_currency) %> </td>
      <td> <%= number_to_percentage(@discount_percentage, precision: 1) %> </td>
      <td> <%= number_to_currency(@total) %> </td>
      <td> <%= number_to_currency(@cost) %> </td>
      <td> <%= number_to_currency(@margin_currency) %> </td>
      <td> <%= number_to_percentage(@margin_percentage, precision: 1) %> </td>
      <td> <%= number_to_currency(@payments) %> </td>
      <td> <%= link_to 'Detalles', sales_path(year: 2017, month: 11, store: current_user.store) %> </td>
    </tr>
  </tbody>
</table>
