<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Factura de Diseños de Cartón</title>
  </head>
  <body>
    <p>
      Estimado cliente.
      <br />
      <br />
      <br />
      Adjunto encontrará su factura con folio No. <%= @bill.folio %>.
    </p>

    <br />
    <br />

    <div class="small-address">
      <%= image_tag 'logo-disenos-decarton.png', width: '300px', height: 'auto', alt: 'Logo Diseños de Cartón' %>
      <br />
      <p>
        <strong>
          Sucursal <%= @bill.store.store_name %>
        </strong>
        <br />
        <%= @address %>
        <br />
        <% if @store_tel.length > 10 %>
          Tel: <%= number_to_phone(@store_tel, area_code: true) %>
        <% else %>
          Tel: <%= number_to_phone(@store_tel) %>
        <% end %>
        <br />
        <%= mail_to @store_email %>
        <br />
        <%= link_to @store_webpage, "http://#{@store_webpage}", target: "_blank" %>
        <br />
        <br />
        Servicio de envío de facturas automatizado. Favor de responder al correo de la tienda.
      </p>
    </div>

  </body>
</html>
