<p> Acepto el costo de <%=@design_request.cost %> pesos para esta solicitud</p>

<%= form_for(@design_request) do |f| %>

    <div class="field">
      <%= f.label :confirmar_diseño %>
      <%= f.check_box :status, { multiple: true }, 'aceptada', nil %>
    </div>

  <div class="actions">
    <%= f.submit :aceptar_diseño, name: 'aceptar diseño' %>
  </div>

<% end %>
