<p class="individual-font"> Acepto el costo de $<%=@design_request.cost %> pesos + IVA para esta solicitud.</p>

<%= form_for(@design_request) do |f| %>

    <div class="field form-inside-style justify">
      <%= f.label :confirmar_dise침o %>
      <%= f.check_box :status, { multiple: true }, 'aceptada', nil %>
    </div>

    <div class="field form-inside-style hidden">
      <%= f.label :descripci칩n_de_la_solicitud %>
      <%= f.text_area :description, class: 'form-inside' %>
    </div>

    <div class="actions">
      <%= f.submit :aceptar_dise침o, name: 'aceptar_dise침o', class: 'main-button capitalize' %>
    </div>

<% end %>
