<%= form_for [@request, @design_request] do |f| %>

  <div class="design form-container">
    <h2>Solicitar diseño</h2>

    <div class="field form-inside-style">
      <%= f.label :tipo_de_solicitud %>
      <%= f.select :design_type, options_for_select([['seleccione','seleccione'], ['elaborar o modificar diseño', 'diseño'], ['dummy físico', 'dummy'],['printcard','printcard']]) %>
    </div>

    <div class="field form-inside-style">
      <%= f.label :descripción_de_la_solicitud %>
      <%= f.text_area :description %>
    </div>

    <div class="field form-inside-style">
      <%= f.label :subir_archivo %>
      <%= f.file_field :attachment, multiple: true %>
    </div>

    <div class="button-container">
      <div class="actions">
        <%= f.submit :solicitar_diseño, name: 'enviar', class: 'main-button capitalize'%>
      </div>
    </div>

  </div>
<% end %>
