<div class="show-container" id="request-container">

  <h2 class="title-request">Solicitud de diseño <%= @design_request.id%> </h2>
  <br /><br /><br /><br />

  <p class="individual-font"><strong>Tipo de solicitud: </strong> <%= @design_request.design_type %></p>

  <p class="individual-font"><strong>Descripción de la solicitud: </strong></p>
  <%= @design_request.description %>

  <% if ((current_user.role.name == 'store' || current_user.role.name == 'store-admin') || current_user.role.name == 'manager' || current_user.role.name == 'director' ) && @design_request.cost.present? %>
    <p class="individual-font"><strong>Costo: </strong> <%= number_to_currency(@design_request.cost) %></p>
  <% end %>

  <% unless @design_request.notes.blank? %>
    <p class="individual-font"><strong>Notas o dudas del diseñador: </strong></p>
    <br /><br /><br />
    <%= @design_request.notes %>
  <% end %>

</div>
