<%= form_for(@design_request) do |f| %>

  <div class="design form-container">

    <div class="field form-inside-style">
      <%= f.label :notas_o_dudas_del_diseñador %>
      <%= f.text_area :notes, class: 'form-inside observations-notes' %>
    </div>

    <div class="field form-inside-style">
      <%= f.label :subir_archivo %>
      <%= f.file_field :attachment, multiple: true %>
    </div>

    <div class="field form-inside-style">
      <%= f.label :complejidad_del_diseño %>
      <%= f.select :cost, options_for_select(DesignCost.all.collect{|d| [d.complexity, d.cost]}) %>
    </div>

    <div class="field form-inside-style hidden">
      <%= f.label :estatus %>
      <%= f.text_field :status, value: 'diseño elaborado' %>
    </div>

    <div class="button-container">
      <div class="actions">
        <%= f.submit :contestar_solicitud, name: 'contestar solicitud', class: 'main-button capitalize'%>
      </div>
    </div>
  </div>
<% end %>
