<%= form_for(@design_request) do |f| %>

  <div class="design">
    <div class="field">
      <%= f.label :tipo_de_solicitud %>
      <%= f.select :design_type, options_for_select([['seleccione','seleccione'], ['elaborar o modificar diseño', 'diseño'], ['dummy físico', 'dummy'],['printcard','printcard']]) %>
    </div>

    <div class="field">
      <%= f.label :descripción_de_la_solicitud %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :subir_archivo %>
      <%= f.file_field :attachment, multiple: true %>
    </div>

    <div class="field hidden">
      <%= f.label :estatus %>
      <%= f.text_field :status, value: 'modificada' %>
    </div>

    <div class="actions">
      <%= f.submit :solicitar_diseño, name: 'enviar'%>
    </div>
  </div>
<% end %>
