<%= render 'user_errors' %>

<%= form_for(@user, as: :user, url: user_path) do |f| %>

  <h2 class="info-title">Editar Usuario <%= @user.first_name %> <%= @user.last_name%></h2>

  <div class="form-container">

    <div class="form-inside-style">
      <%= f.label :primer_nombre %>
      <%= f.text_field :first_name, class: 'form-inside', autofocus: true %>
    </div>

    <div class="form-inside-style">
      <%= f.label :segundo_nombre %>
      <%= f.text_field :middle_name, class: 'form-inside', autofocus: true %>
    </div>

    <div class="form-inside-style">
      <%= f.label :apellidos %>
      <%= f.text_field :last_name, class: 'form-inside', autofocus: true %>
    </div>

    <div class="form-inside-style">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-inside', autofocus: true %>
    </div>

    <div class="form-inside-style">
      <%= f.label :rol_de_usuario %>
      <% if current_user.role.name == 'platform-admin' %>
        <%= f.select :role_id, options_for_select(Role.all.collect{|r| [r.translation, r.id]}, selected: @user.role_id) %>
      <% elsif current_user.role.name == 'store-admin' %>
        <%= f.select :role_id, options_for_select(Role.where(name: current_user.role.name).collect{|r| [r.translation, r.id]}, selected: @user.role_id) %>
      <% end %>
    </div>

    <div class="form-inside-style">
      <%= f.label :tienda %>
      <% if current_user.role.name == 'platform-admin' %>
        <%= f.select :store_id, options_for_select(Store.all.collect{|s| [s.store_name, s.id]}, selected: @user.store_id) %>
      <% elsif current_user.role.name == 'store-admin' %>
        <%= f.select :role_id, options_for_select(Store.where(store_name: current_user.store.store_name).collect{|s| [s.store_name, s.id]}, selected: @user.store_id) %>
      <% end %>
    </div>

    <div class="field form-inside-style">
      <%= f.label :nueva_contraseña %> <i>(Déjala en blanco si no quieres cambiarla)</i>
      <% if @minimum_password_length %>
      <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-inside' %>
    </div>

    <div class="field form-inside-style">
      <%= f.label :contraseña_actual %> <i>(Necesitamos tu password para realizar los cambios)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-inside' %>
    </div>

  <div class="form-inside-style">
    <%= f.label :confirmación_de_contraseña %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-inside' %>
  </div>

    <div class="button-container">
      <div class="actions">
        <%= f.submit "Editar", class: 'main-button bottom-button' %>
      </div>
    </div>

  </div>
<% end %>
