
<div class="show-container">

  <h2 class="info-title"> Detalles del usuario</h2>

  <p class="individual-font"> <strong> Nombre: </strong>
    <%= @user.first_name %> <%= @user.middle_name %> <%= @user.last_name %>
  </p>

  <p class="individual-font"> <strong> Correo electrónico: </strong>
    <%= @user.email %>
  </p>

  <p class="individual-font"> <strong> Rol del usuario: </strong>
    <%= @user.role.name.titleize %>
  </p>

  <p class="individual-font"> <strong> Tienda: </strong>
    <%= @user.store_id %>
  </p>

</div>
