<%= render 'prospect_errors' %>

<%= form_for [@store, @prospect] do |f| %>

  <h2 class="info-title">Alta de Prospecto </h2>

  <div class="form-container">

    <div class="form-inside-style">
      <%= f.label :nombre %>
      <%= f.text_field :legal_or_business_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :giro %>
      <%= f.text_field :prospect_type, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :tipo %>
      <%= f.select :business_type, options_for_select(['persona física', 'persona moral'], selected: @prospect.business_type) %>
    </div>

    <h3>Datos de contacto</h3>

    <div class="form-inside-style long-form">
      <%= f.label :puesto_del_contacto %>
      <%= f.text_field :contact_position, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :primer_nombre %>
      <%= f.text_field :contact_first_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :segundo_nombre %>
      <%= f.text_field :contact_middle_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :apellido_paterno %>
      <%= f.text_field :contact_last_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :apellido_materno %>
      <%= f.text_field :second_last_name, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :correo_electrónico %>
      <%= f.email_field :email, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :teléfono_directo %>
      <%= f.text_field :direct_phone, maxlength: 10, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :extensión %>
      <%= f.text_field :extension, maxlength: 10, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :celular %>
      <%= f.text_field :cell_phone, maxlength: 10, class: 'form-inside' %>
    </div>

    <div class="form-inside-style hidden">
      <%= f.label :tienda %>
      <%= f.text_field :store_id, value: current_user.store.id, class: 'form-inside' %>
    </div>

    <div class="form-inside-style hidden">
      <%= f.label :empresa %>
      <%= f.text_field :business_unit_id, value: current_user.store.business_unit.id, class: 'form-inside' %>
    </div>

    <div class="form-inside-style hidden">
      <%= f.label :grupo_de_negocios %>
      <%= f.text_field :business_group_id, value: current_user.store.business_unit.business_group.id, class: 'form-inside' %>
    </div>

    <div class="form-inside-style">
      <%= f.label :días_de_crédito %>
      <%= f.text_field :credit_days, class: 'form-inside' %>
    </div>

    <div class="button-container">
      <div class="actions">
        <%= f.submit :Crear, class: 'main-button' %>
      </div>
    </div>

<% end %>
