<% @prospects.each do |prospect| %>

<table>
  <thead>
    <tr>
      <th>Nombre o razón social</th>
      <th>Giro o actividad</th>
      <th>Tipo de prospecto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <%= prospect.legal_or_business_name %> </td>
      <td> <%= prospect.business_type %> </td>
      <td> <%= prospect.prospect_type %> </td>
      <td> <%= link_to 'ver prospecto', prospect_path(prospect) %> </td>
      <td> <%= link_to 'nueva cotización', new_prospect_request_path(prospect) %> </td>
      <% if prospect.requests.count >= 1 %>
        <td> <%= link_to 'ver cotizaciones', prospect_requests_path(prospect) %> </td>
      <% end %>
    </tr>
  </tbody>
</table>

<% end %>

<%= link_to 'nuevo prospecto', new_store_prospect_path(store_id: @store) %>

<%= link_to 'inicio', store_path(@store) %>
