<% if @prospects.length >= 1 %>
  <table id="prosp">
    <thead>
      <tr class="table-titles">
        <th class="col-md-3"> Nombre del prospecto</th>
        <th class="col-md-1"> Giro</th>
        <th class="col-md-1"> Tipo</th>
        <th class="col-md-1"> Acciones </th>
      </tr>
    </thead>
    <tbody>

      <% if current_user.store.store_type_id == 2 %>
        <% @prospects.each do |prospect| %>
          <tr>
            <td> <%= prospect.legal_or_business_name %> </td>
            <td> <%= prospect.prospect_type %> </td>
            <td> <%= prospect.business_type %> </td>
            <td class="col-md-2 flex-table left-align">
              <%= link_to prospect do %>
                <i class="fa fa-plus-square link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver datos"></i>
              <% end %>

              <%= link_to edit_prospect_path(prospect) do %>
                <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar datos"></i>
              <% end %>

              <%= link_to new_prospect_request_path(prospect) do %>
                <i class="fa fa-cart-plus link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cotizar"></i>
              <% end %>

              <% if prospect.ticket_count > 0 %>
                <%= link_to prospects_sales_view_path(prospect) do %>
                  <i class="fa fa-book alter-color" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ventas"></i>
                <% end %>
              <% end %>

              <% if prospect.request_count > 0 %>
                <%= link_to prospect_requests_path(prospect) do %>
                  <i class="fa fa-address-book link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cotizaciones"></i>
                <% end %>
              <% end %>

              <% if current_user.role.name == "admin-desk" %>
                <%= link_to orders_new_order_for_prospects_path(prospect) do %>
                  <i class="fa fa-send-o link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Pedidos"></i>
                <% end %>
              <% end %>
              <% if prospect.store_prospect == nil %>
                <% if (prospect.tickets == [] && prospect.orders == [] && prospect.bills == [] && prospect.requests == []) %>
                  <%= link_to prospects_delete_prospect_path(prospect), {data: {confirm:'¿Está seguro que desea borrar este prospecto?'}} do %>
                    <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Borrar prospecto"></i>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% else %>
        <% @prospects.where(store_prospect: nil).each do |prospect| %>
        <tr>
          <td> <%= prospect.legal_or_business_name %> </td>
          <td> <%= prospect.prospect_type %> </td>
          <td> <%= prospect.business_type %> </td>
          <td class="col-md-2 flex-table left-align">
            <%= link_to prospect do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver datos"></i>
            <% end %>

            <%= link_to edit_prospect_path(prospect) do %>
              <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar datos"></i>
            <% end %>

            <%= link_to new_prospect_request_path(prospect) do %>
              <i class="fa fa-cart-plus link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cotizar"></i>
            <% end %>

            <% if prospect.ticket_count > 0 %>
              <%= link_to prospects_sales_view_path(prospect) do %>
                <i class="fa fa-book alter-color" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ventas"></i>
              <% end %>
            <% end %>

            <% if prospect.request_count > 0 %>
              <%= link_to prospect_requests_path(prospect) do %>
                <i class="fa fa-address-book link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cotizaciones"></i>
              <% end %>
            <% end %>

            <% if current_user.role.name == "admin-desk" %>
              <%= link_to orders_new_order_for_prospects_path(prospect) do %>
                <i class="fa fa-send-o link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Pedidos"></i>
              <% end %>
            <% end %>
            <% if prospect.store_prospect == nil %>
              <% if (prospect.tickets == [] && prospect.orders == [] && prospect.bills == [] && prospect.requests == []) %>
                <%= link_to prospects_delete_prospect_path(prospect), {data: {confirm:'¿Está seguro que desea borrar este prospecto?'}} do %>
                  <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Borrar prospecto"></i>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>

<% else %>
  <p class="individual-font">No hay prospectos dados de alta </p>
<% end %>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'prospects_tables' %>
<% end %>
