
<div class="show-container" id="prospect-container">
  <h2 class="info-title"> <%= @prospect.legal_or_business_name %></h2>

  <p><strong>Giro:</strong>
    <%= @prospect.prospect_type %>
  </p>

  <h3>Datos de contacto</h3>

  <p><strong>Puesto:</strong>
    <%= @prospect.contact_position %>
  </p>

  <p><strong>Nombre del contacto:</strong>
    <%= @prospect.contact_first_name %> <%= @prospect.contact_middle_name %> <%= @prospect.contact_last_name %> <%= @prospect.second_last_name %>
  </p>

  <p><strong>Correo electrónico: </strong>
    <%= @prospect.email %>
  </p>

  <% unless (@prospect.email_2 == "" || @prospect.email_2 == nil) %>
    <p><strong>Correo electrónico secundario: </strong>
      <%= @prospect.email_2 %>
    </p>
  <% end %>

  <% unless (@prospect.email_3 == "" || @prospect.email_3 == nil) %>
    <p><strong>Trecer correo electrónico: </strong>
      <%= @prospect.email_3 %>
    </p>
  <% end %>

  <p><strong>Teléfono directo: </strong>
    <%= @prospect.direct_phone %> <strong>Extensión: </strong> <%= @prospect.extension %>
  </p>

  <p><strong>Teléfono celular:</strong>
    <%= @prospect.cell_phone %>
  </p>

  <p>
    <% if @prospect.billing_address.present? %>
      <%= link_to 'Datos de facturación', prospect_billing_address_path(prospect_id: @prospect, id: @prospect.billing_address) %>
    <% else %>
      <%= link_to 'Datos de facturación', new_prospect_billing_address_path(@prospect) %>
    <% end %>
  </p>

  <p>
    <% if @prospect.delivery_address.present? %>
      <%= link_to 'Dirección de entrega', prospect_delivery_address_path(prospect_id: @prospect, id: @prospect.delivery_address) %>
    <% else %>
      <%= link_to 'Dirección de entrega', new_prospect_delivery_address_path(@prospect) %>
    <% end %>
  </p>

</div>
