
<div class="show-container" id="prospect-container">
  <h2 class="info-title"> <%= @prospect.legal_or_business_name %></h2>

  <p><strong>Giro:</strong>
    <%= @prospect.prospect_type %>
  </p>

  <h3>Datos de contacto</h3>

  <p><strong>Puesto:</strong>
    <%= @prospect.contact_position %>
  </p>

  <p><strong>Nombre del contacto:</strong>
    <%= @prospect.contact_first_name %> <%= @prospect.contact_middle_name %> <%= @prospect.contact_last_name %> <%= @prospect.second_last_name %>
  </p>

  <p><strong>Correo electrónico: </strong>
    <%= @prospect.email %>
  </p>

  <p><strong>Teléfono directo: </strong>
    <%= @prospect.direct_phone %> <strong>Extensión: </strong> <%= @prospect.extension %>
  </p>

  <p><strong>Teléfono celular:</strong>
    <%= @prospect.cell_phone %>
  </p>
</div>
