<% if current_user %>
  <div class="bottom-nav">
    <% if params[:controller] == 'requests' && params[:action] == 'show' %>
      <% if current_user.role.name == 'store' || current_user.role.name == 'store-admin' || ((current_user.role.name == 'manager' || current_user.role.name == 'director') && (@request.main_material == 'sugerir material' || @request.resistance_main_material == 'Sugerir resistencia' )) %>
        <% if (@request.status != 'en producción' && @request.status != 'autorizada' && @request.status != 'cancelada' && params[:action] != 'edit') %>
          <%= link_to 'Modificar', edit_request_path(@request) %>
        <% end %>
      <% end %>
    <% end %>

    <% if (current_user.role.name == 'store' || current_user.role.name == 'store-admin') %>
      <% if params[:controller] == 'requests' && params[:action] == 'show' %>

        <%= link_to 'Ver prospecto', prospect_path(@request.prospect), class: 'custom-link-bottom' %>

        <% unless ((@request.status == 'cancelada' || @request.status == 'creada' && params[:controller] != 'design_requests') || params[:controller] == 'design_requests') %>
          <%= link_to 'Solicitar trabajo de diseño', new_request_design_request_path(@request) %>
        <% end %>

        <% if (@request.status == 'cancelada' && params[:controller] != 'design_requests') %>
          <%= link_to 'Reactivar', '#myModal', 'data-toggle' => 'modal' %>
        <% elsif (@request.status != 'cancelada' && params[:controller] != 'design_requests') %>
          <%= link_to 'Cancelar', '#myModal', 'data-toggle' => 'modal' %>
        <% end %>

        <% if (@request.status == 'costo asignado' && params[:action] != 'price') %>
          <%= link_to 'Asignar precio', requests_price_path(@request) %>
        <% elsif @request.status == 'precio asignado' && (params[:action] != 'confirm' || params[:action] != 'confirm_view') %>
          <%= link_to 'Confirmar pedido', confirm_requests_path(@request) %>
        <% end %>

      <% elsif params[:controller] == 'prospects' && params[:action] == 'show' %>
        <%= link_to 'Crear cotización', new_prospect_request_path(@prospect) %>
        <%= link_to 'Modificar prospecto', edit_prospect_path(@prospect) %>

      <% elsif params[:controller] == 'orders' && params[:action] == 'show_for_store' %>
        <%= link_to 'Cambiar dirección de entrega', '#myModal', 'data-toggle' => 'modal' %>
      <% end %>

      <% if (params[:controller] == 'products' && params[:action] != 'new') %>
        <%= link_to 'Crear nuevo producto', new_product_path, class: 'bottom-link' %>
      <% end %>

        <% if (params[:controller] == 'products' && params[:action] == 'show') %>
          <% if @product.store == current_user.store %>
            <%= link_to 'Modificar producto', edit_product_path(@product), class: 'bottom-link' %>
          <% end %>
        <% end %>

    <% end %>

    <% if (current_user.role.name == 'product-admin' || current_user.role.name == 'product-staff')%>
      <% if (params[:controller] == 'products' && params[:action] != 'new') %>
        <%= link_to 'Crear nuevo producto', new_product_path, class: 'bottom-link' %>
      <% end %>

      <% if (params[:controller] == 'products' && params[:action] == 'show') %>
        <%= link_to 'Modificar producto', edit_product_path(@product), class: 'bottom-link' %>
      <% end %>

      <% if (params[:controller] == 'services' && params[:action] != 'new') %>
        <%= link_to 'Crear nuevo servicio', new_service_path, class: 'bottom-link' %>
      <% end %>

        <% if (params[:controller] == 'services' && params[:action] == 'show') %>
          <% if @service.store == current_user.store %>
            <%= link_to 'Modificar servicio', edit_service_path(@service), class: 'bottom-link' %>
          <% end %>
        <% end %>

    <% end %>


    <% if params[:controller] == 'design_requests' %>
      <% if @design_request && params[:action] != 'new' %>

        <% if (current_user.role.name == 'store' || current_user.role.name == 'store-admin') && @design_request.status != 'aceptada' %>
          <%= link_to 'Editar', edit_design_request_path(@design_request) %>
        <% elsif (current_user.role.name == 'designer' && @design_request.status == 'en proceso') %>
          <%= link_to 'Trabajar solicitud', edit_design_request_path(@design_request) %>
        <% end %>

        <% if (current_user.role.name == 'store' || current_user.role.name == 'store-admin') && @design_request.status == 'diseño elaborado' %>
          <%= link_to 'Confirmar diseño', '#myModal', 'data-toggle' => 'modal' %>
        <% end %>

        <%= link_to 'Ver solicitud de cotización', request_path(@design_request.request) %>
      <% end %>

    <% end %>

    <% if params[:controller] == 'admin_users' && params[:action] == 'show' %>
      <% if current_user.role.name == 'platform-admin' %>
        <%= link_to 'Editar usuario', edit_user_path(@user)  %>
      <% end %>
    <% end %>

    <% if params[:controller] == 'business_groups' && params[:action] == 'show' %>
      <% if current_user.role.name == 'platform-admin' %>
        <%= link_to 'Editar datos del grupo', edit_business_group_path(@business_group)  %>
      <% end %>
    <% end %>

    <% if params[:controller] == 'business_units' && params[:action] == 'show' %>
      <% if current_user.role.name == 'platform-admin' %>
        <%= link_to 'Editar datos de empresa', edit_business_unit_path(@business_unit)  %>
      <% end %>
    <% end %>

    <% if current_user.role.name == 'platform-admin' %>
      <% if params[:controller] == 'stores' && params[:action] == 'show' %>
        <%= link_to 'Modificar tienda', edit_store_path(@store) %>
      <% end %>
    <% end %>

    <% if ['store-admin', 'platform-admin', 'admin-desk'].include?(current_user.role.name) %>

      <% if params[:controller] == 'stores' && params[:action] == 'show_settings' %>
        <%= link_to 'Modificar configuración', edit_store_settings_path(current_user.store) %>
      <% elsif params[:controller] == 'warehouses' && params[:action] == 'show' %>
        <% if @warehouse.delivery_address.present?%>
          <%= link_to 'Dirección del almacén', delivery_address_path(@warehouse.delivery_address) %>
        <% else %>
          <%= link_to 'Dirección del almacén', new_warehouse_delivery_address_path(@warehouse) %>
        <% end %>
      <% elsif params[:controller] == 'delivery_addresses' && params[:action] == 'show' %>
        <%= link_to 'Modificar dirección', edit_delivery_address_path(@delivery) %>
      <% elsif params[:controller] == 'billing_addresses' && params[:action] == 'show' %>
        <%= link_to 'Modificar datos de facturación', edit_billing_address_path(@billing) %>
      <% end %>
    <% end %>

    <%= link_to 'Regresar', :back, class: 'bottom-link' %>

    <div class="hidden">
      <% if params[:controller] == 'inventories' && params[:action] == 'index' %>
        <%= link_to 'Sugerencias de pedidos', inventories_order_suggestions_path %>
      <% elsif params[:controller] == 'inventories' && params[:action] == 'order_suggestions' %>
        <%= link_to 'Inventario total', inventories_index_path %>
      <% end %>
    </div>

    <% if params[:controller] == 'admin_users' && params[:action] == 'show' %>
      <%= link_to 'Editar usuario', edit_user_path(params[:id]) %>
    <% end %>

  </div>

<% end %>
