<% if @request.authorisation_signed %>
  <div class="document-link-area">
    <%= label_tag ('pedido autorizado:') %>
    <%= link_to @authorisation.first.document_url, target: '_blank' do %>
      <%= image_tag '/assets/authorisation.png', alt: 'Ícono documento autorización', class: 'document-icon img-responsive' %>
      <%= link_to 'ver', @authorisation.first.document_url, target: '_blank' %>
    <% end %>
    <% if (@request.status != 'autorizada' && current_user.role.name == 'store') %>
      <%= link_to 'borrar', document_path(@authorisation.first), from: 'request', method: :delete, data: { confirm: 'Desa borrar este documento?' } %>
    <% end %>
  </div>
<% end %>

<% if @request.payment_uploaded %>
  <div class="document-link-area">
    <%= label_tag ('anticipo del pedido:') %>
    <%= link_to @payment.first.document_url, target: '_blank' do %>
      <%= image_tag '/assets/deposit.png', alt: 'Ícono documento pago', class: 'document-icon img-responsive' %>
      <%= link_to 'ver', @payment.first.document_url, target: '_blank' %>
    <% end %>
    <% if (@request.status != 'autorizada' && current_user.role.name == 'store') %>
      <%= link_to 'borrar', document_path(@payment.first), from: 'request', method: :delete, data: { confirm: 'Desa borrar este documento?' } %>
    <% end %>
  </div>
<% end %>

<% if @request.specification_document %>
    <div class="document-link-area">
      <% if @specifications.count == 1 %>
        <%= label_tag ('archivo de especificaciones:') %>
        <%= link_to @specifications.first.document_url, target: '_blank' do %>
          <%= image_tag '/assets/notes.png', alt: 'Ícono especificaciones de solicitud', class: 'document-icon img-responsive' %>
          <%= link_to 'ver', @specifications.first.document_url, target: '_blank' %>
        <% end %>
        <% if (@request.status != 'autorizada' && current_user.role.name == 'store') %>
          <%= link_to 'borrar', document_path(@specifications.first), from: 'request', method: :delete, data: { confirm: 'Desa borrar este documento?' } %>
        <% end %>
      <% elsif @specifications.count > 1 %>
        <%= label_tag ('archivos de especificaciones:') %>
        <% n = 0 %>
        <% ((@specifications.length).to_i).times do %>
          <%= link_to @specifications[n].document_url, target: '_blank' do %>
            <%= image_tag '/assets/notes.png', alt: 'Ícono especificaciones de solicitud', class: 'document-icon img-responsive' %>
            <%= link_to 'ver', @specifications[n].document_url, target: '_blank' %>
          <% end %>
          <% document = @specifications[n] %>
          <% if (@request.status != 'autorizada' && current_user.role.name == 'store') %>
            <%= link_to 'borrar', document_path(document), from: 'request', method: :delete, data: { confirm: 'Desa borrar este documento?' } %>
            <% n +=1 %>
          <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>
