<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="corner-logo">
        <%= link_to root_path do %>
          <%= image_tag '/assets/sistema-dc-1.png', alt: 'Logo Sistema DC', class:'logo img-responsive' %>
        <% end %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.nil? %>
        <li>
          <%= link_to 'Ingresa', '#' %>
        </li>
        <% else %>
            <li class="dropdown">
              <a href="<%= root_url %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="mydropdown">Administración <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'Cambiar contraseña', edit_user_path(current_user) %>
                </li>

                <% if current_user.role.name == 'store-admin' %>
                  <li>
                    <% if current_user.store.delivery_address %>
                      <%= link_to 'Dirección de entrega', store_delivery_address_path(store_id: current_user.store, id:current_user.store.delivery_address) %>
                    <% else %>
                      <%= link_to 'Dirección de entrega', new_store_delivery_address_path(current_user.store) %>
                    <% end %>
                  </li>
                <% end %>

                <% if (current_user.role.name == 'store-admin' || current_user.role.name == 'admin-desk') %>
                  <li>
                    <%= link_to 'Datos de tienda', store_path(current_user.store) %>
                  </li>
                <% end %>

              <% if current_user.role.name == 'store-admin' || current_user.role.name == 'admin-desk' %>
                <li>
                  <% if current_user.store.business_unit.billing_address %>
                    <%= link_to 'Datos de facturación', business_unit_billing_address_path(business_unit_id: current_user.store.business_unit, id:current_user.store.business_unit.billing_address) %>
                  <% else %>
                    <%= link_to 'Datos de facturación', new_business_unit_billing_address_path(current_user.store.business_unit) %>
                  <% end %>
                </li>
              <% end %>

              <% if current_user.role.name == 'platform-admin' || current_user.role.name == 'store-admin' %>
                <li>
                  <%= link_to 'Crear usuario', new_user_path %>
                </li>
                <li>
                  <%= link_to 'Ver Empresa(s)', business_units_path %>
                </li>
              <% end %>
                <li role="separator" class="divider"></li>
                <% if current_user.role.name == 'store-admin' || current_user.role.name == 'admin-desk'%>
                  <li>
                    <%= link_to 'Lista de proveedores', business_group_suppliers_path(current_user.store.business_unit.business_group) %>
                  </li>
                  <li>
                    <%= link_to 'Alta de proveedor', new_business_group_supplier_path(current_user.store.business_unit.business_group) %>
                  </li>
                  <li>
                    <%= link_to 'Alta de inventario', stores_upload_info_path %>
                  </li>
                <% end %>
                <% if current_user.role.name == 'platform-admin' || current_user.role.name == 'store-admin' %>
                  <li>
                    <%= link_to 'Lista de almacenes', warehouses_path %>
                  </li>
                  <li>
                    <%= link_to 'Crear almacén', new_store_warehouse_path(current_user.store.business_unit) %>
                  </li>
              <% end %>
              </ul>
            </li>
            <% if (current_user.role.name == 'store-admin' || current_user.role.name == 'admin-desk') %>
              <li>
                <%= link_to 'Configuración', store_settings_path(current_user.store) %>
              </li>
            <% end %>
          <li>
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
