<%-# Aquí inicia el área que muestra la barra vertical solo si hay usuario conectado  %>
<% if current_user %>
  <nav class="vertical-nav">
<% else%>
  <nav class="vertical-nav hidden">
<% end %>
    <ul class="nav-list">
      <%-# Esta validación evita que se carguen los links si no hay current_user  %>
      <% if current_user %>
          <p class="username">
          <i class="fa fa-user-circle icon-user" aria-hidden="true"></i>
          <%= current_user.first_name %>
          <%= current_user.last_name %>,
          <%= current_user.role.name %>
        </p>

        <%-# Aquí inicia el área que muestra los links para manager o director %>
        <% if current_user.role.name == 'manager' || current_user.role.name == 'director' %>

        <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inicio', root_path, class: 'text-link'  %>
          </li>

          <% if params[:action] == 'unassigned_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-briefcase other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones sin asignar', filtered_requests_unassigned_view_path, class: 'text-link' %>
            </li>

          <% if params[:action] == 'assigned_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-tags other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones asignadas a mi', filtered_requests_assigned_view_path, class: 'text-link'  %>
            </li>

          <% if current_user.role.name == 'director' %>
            <% if params[:action] == 'other_users_view' %>
            <%-# Aplica formato si está seleccionada %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
                <i class="fa fa-eye other-nav-icons" aria-hidden="true"></i>
                <%= link_to 'Cotizaciones asignadas a otros', filtered_requests_other_users_view_path, class: 'text-link'  %>
              </li>
          <% end %>
          <%-# Aquí termina el área que muestra los links solo para director %>
        <% end %>
        <%-# Aquí termina el área que muestra los links para manager o director %>

        <%-# Aquí inicia el área que muestra los links para store o store-admin %>
        <% if current_user.role.name == 'store' || current_user.role.name == 'store-admin' %>

        <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inicio', root_path, class: 'text-link'  %>
          </li>

        <% if params[:controller] == 'orders' && params[:action] == 'new' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-send-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Nuevo pedido', new_store_order_path(current_user.store), class: 'text-link'  %>
          </li>

          <% if params[:controller] == 'orders' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos en espera', store_orders_path(current_user.store), class: 'text-link'  %>
            </li>

          <% if params[:action] == 'current_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-window-restore other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones activas', filtered_requests_current_view_path, class: 'text-link'  %>
            </li>

          <% if params[:action] == 'saved_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-file-text other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones guardadas', filtered_requests_saved_view_path, class: 'text-link'  %>
            </li>

          <% if params[:action] == 'inactive_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
            <% end %>
              <i class="fa fa-snowflake-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones inactivas', filtered_requests_inactive_view_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Dar de alta un prospecto', new_store_prospect_path(current_user.store), class: 'text-link'  %>
            </li>

        <% if params[:controller] == 'prospects' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Ver lista de prospectos', store_prospects_path(current_user.store), class: 'text-link'  %>
          </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para store o store-admin %>

        <% if current_user.role.name == 'designer' || current_user.role.name == 'designer-admin' %>
        <%# Aquí inicia el área que muestra los links para designer o designer-admin %>

        <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inicio', root_path, class: 'text-link'  %>
          </li>

        <% if params[:action] == 'unassigned_view' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
        <i class="fa fa-briefcase other-nav-icons" aria-hidden="true"></i>
        <%= link_to 'Sol. de diseño sin asignar', filtered_requests_unassigned_view_path, class: 'text-link' %>
          </li>

        <% if params[:action] == 'assigned_view' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
        <i class="fa fa-tags other-nav-icons" aria-hidden="true"></i>
        <%= link_to 'Sol. de diseño asignadas a mi', filtered_requests_assigned_view_path, class: 'text-link' %>
          </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para designer o designer-admin %>

        <%# Aquí inicia el área que muestra los links para product-staff o product-admin %>
        <% if current_user.role.name == 'product-staff' || current_user.role.name == 'product-admin' %>

        <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inicio', root_path, class: 'text-link'  %>
          </li>

          <% if params[:controller] == 'products' && params[:action] == 'new'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cube other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear nuevo producto', new_product_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Ver lista de productos', products_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'filtered_requests' && params[:action] == 'product_view'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-pencil-square-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Nuevos pedidos especiales', filtered_requests_product_view_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para product-staff o product-admin %>

        <%-# Aquí inicia el área que muestra los links para warehouse-staff o warehouse-admin %>
        <% if current_user.role.name == 'warehouse-staff' || current_user.role.name == 'warehouse-admin' %>

        <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inicio', root_path, class: 'text-link'  %>
          </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_own_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-industry other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Alta productos propios', warehouse_new_own_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_supplier_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Alta productos de terceros', warehouse_new_supplier_entry_path, class: 'text-link' %>
            </li>
        <% end %>
        <%-# Aquí termina el área que muestra los links para warehouse-staff o warehouse-admin %>

        <%# Aquí inicia el área que muestra los links para platform-admin %>
        <% if current_user.role.name == 'platform-admin' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

        <% end %>
        <%# Aquí termina el área que muestra los links para platform-admin %>

        <%# Aquí inicia el área que muestra los links para admin-desk %>
        <% if current_user.role.name == 'admin-desk' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para admin-desk %>

        <%# Aquí inicia el área que muestra los links para viewer %>
        <% if current_user.role.name == 'viewer' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para viewer %>

      </ul>
    </div>
  </nav>
<% end %>
<%-# Aquí termina el área que muestra links si hay usuario conectado  %>
