<%-# Aquí inicia el área que muestra la barra vertical solo si hay usuario conectado  %>
<% if current_user %>
  <nav class="vertical-nav">
<% else%>
  <nav class="vertical-nav hidden">
<% end %>
    <ul class="nav-list">
      <%-# Esta validación evita que se carguen los links si no hay current_user  %>
      <% if current_user %>
          <p class="username">
          <i class="fa fa-user-circle icon-user" aria-hidden="true"></i>
          <%= current_user.first_name %>
          <%= current_user.last_name %>,
          <%= current_user.role.translation.capitalize %>
        </p>

        <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <li class="vertical-link actual-vertical-link">
        <% else %>
          <li class="vertical-link">
        <% end %>
            <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inicio', root_path, class: 'text-link'  %>
          </li>

        <% if current_user.role.name != 'platform-admin' %>
          <% if params[:controller] == 'admin_users' && (params[:action] == 'new' || params[:action] == 'show' || params[:action] == 'edit') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear usuario', new_user_path, class: 'text-link'  %>
            </li>
        <% end %>

        <%-# Aquí inicia el área que muestra los links para manager o director %>
        <% if current_user.role.name == 'manager' || current_user.role.name == 'director' %>

          <% if params[:controller] == 'prospects' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Alta de prospectos', new_business_group_prospect_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de prospectos', business_group_prospects_path(current_user.store.business_unit.business_group), class: 'text-link'  %>
            </li>

          <% if params[:action] == 'unassigned_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-briefcase other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones sin asignar', filtered_requests_unassigned_view_path, class: 'text-link' %>
            </li>

          <% if params[:action] == 'assigned_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-tags other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones asignadas a mi', filtered_requests_assigned_view_path, class: 'text-link'  %>
            </li>

          <% if current_user.role.name == 'director' %>
            <% if params[:action] == 'other_users_view' %>
            <%-# Aplica formato si está seleccionada %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
                <i class="fa fa-eye other-nav-icons" aria-hidden="true"></i>
                <%= link_to 'Cotizaciones asignadas a otros', filtered_requests_other_users_view_path, class: 'text-link'  %>
              </li>

              <% if (params[:controller] == 'orders' && (params[:action] == 'select_report' || params[:action] == 'payment_report' || params[:action] == 'billing_report' || params[:action] == 'collection_report' || params[:action] == 'stores_by_month_and_year' || params[:action] == 'show_sales' || params[:action] == 'process_report')) %>
                <li class="vertical-link actual-vertical-link">
              <% else %>
                <li class="vertical-link">
              <% end %>
              <i class="fa fa-th-large other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Reportes corporativo', orders_select_report_path, class: 'text-link' %>
                </li>


          <% end %>
            <%-# Aquí termina el área que muestra los links solo para director %>

        <% end %>
        <%-# Aquí termina el área que muestra los links para manager o director %>

        <%-# Aquí inicia el área que muestra los links para store o store-admin %>
        <% if current_user.role.name == 'store' || current_user.role.name == 'store-admin' %>

          <% if params[:controller] == 'orders' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-send-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Nuevo pedido de línea', new_store_order_path(current_user.store), class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-dropbox other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos solicitados', store_orders_path(current_user.store), class: 'text-link'  %>
            </li>

          <% if params[:action] == 'current_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-window-restore other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos especiales', filtered_requests_current_view_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Alta de prospectos', new_business_group_prospect_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de prospectos', business_group_prospects_path(current_user.store.business_unit.business_group), class: 'text-link'  %>
            </li>

          <div class="hidden">
            <% if (params[:controller] == 'products' && params[:action] == 'new' && params[:request_id].nil?)   %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-cube other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Crear nuevo producto', new_product_path, class: 'text-link' %>
              </li>
          </div>

          <% if params[:controller] == 'products' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Lista de productos', products_path, class: 'text-link' %>
            </li>

          <% if ((params[:controller] == 'bills' && params[:action] == 'select_tickets') || (params[:controller] == 'tickets' && (params[:action] == 'sales' || params[:action] == 'sales_summary' || params[:action] == 'no_payment' || params[:action] == 'cancelled_tickets' || params[:action] == 'saved'))) %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-columns other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Resumen de ventas', tickets_sales_summary_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'tickets' && params[:action] == 'select_day') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-calendar other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Reportes de ventas', tickets_select_day_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'delivery_services' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-plane other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Servicios de Mensajería', delivery_services_select_report_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' && params[:action] != 'index_with_data' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-bar-chart other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Inventario', inventories_select_report_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' && params[:action] == 'index_with_data' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Control de Inventario', inventories_index_with_data_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bills' && params[:action] == 'pending') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-code-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturas por pagar', bills_pending_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bills' && (params[:action] == 'partially_payed_bills' || params[:action] == 'partially_payed_bills_with_pay_bill' || params[:action] == 'select_pay_bills' || params[:action] == 'pay_cfdi_process' || params[:action] == 'pay_cfdi_process' || params[:action] == 'cancel_pay_bill')) %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-powerpoint-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Recibo electrónico de pago', bills_partially_payed_bills_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para store o store-admin %>

        <% if current_user.role.name == 'designer' || current_user.role.name == 'designer-admin' %>
        <%# Aquí inicia el área que muestra los links para designer o designer-admin %>

          <% if params[:action] == 'unassigned_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-briefcase other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Solicitudes sin asignar', filtered_requests_unassigned_view_path, class: 'text-link' %>
            </li>

          <% if params[:action] == 'assigned_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tags other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Solicitudes asignadas', filtered_requests_assigned_view_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para designer o designer-admin %>

        <%# Aquí inicia el área que muestra los links para product-staff o product-admin %>
        <% if current_user.role.name == 'product-staff' || current_user.role.name == 'product-admin' %>

          <% if (params[:controller] == 'products' && params[:action] == 'new' && params[:request_id].nil?)   %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cube other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear nuevo producto', new_product_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'services' && params[:action] == 'new')   %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-hand-pointer-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear nuevo servicio', new_service_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'services' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-hand-spock-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Todos los servicios', services_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Todos los productos', products_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'catalogue'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-barcode other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Productos de línea', products_catalogue_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'special'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tag other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Productos especiales', products_special_path, class: 'text-link' %>
            </li>

          <% if ((params[:controller] == 'filtered_requests' && params[:action] == 'product_view') || params[:request_id].present?)  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-pencil-square-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear producto especial', filtered_requests_product_view_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'suppliers' && params[:action] == 'new')  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-address-book-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Alta de proveedor', new_business_group_supplier_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'suppliers' && params[:action] == 'index')  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-address-card other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Lista de proveedores', business_group_suppliers_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if params[:controller] == 'movements' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-money other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Costos de producción', warehouse_index_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bill_receiveds' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-code-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturas por pagar', bill_receiveds_index_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_own_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-industry other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía producción', warehouse_new_own_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_supplier_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía terceros', warehouse_new_supplier_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'remove_inventory'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tag other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Salida de mercancía', warehouse_remove_inventory_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Inventario', inventories_select_report_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && (params[:action] == 'massive_price_change' || params[:action] == 'change_price_process') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-money other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Cambio de precios masivo', products_massive_price_change_path, class: 'text-link' %>
            </li>
        <% end %>
        <%-# Aquí termina el área que muestra los links para product-staff o product-admin %>

        <%-# Aquí inicia el área que muestra los links para warehouse-staff o warehouse-admin %>
        <% if current_user.role.name == 'warehouse-staff' || current_user.role.name == 'warehouse-admin' %>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_own_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-industry other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía producción', warehouse_new_own_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_supplier_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía terceros', warehouse_new_supplier_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'remove_inventory'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tag other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Salida de mercancía', warehouse_remove_inventory_path, class: 'text-link' %>
            </li>

          <% if current_user.store.id == 1 %>
            <% if (params[:controller] == 'orders' && params[:action] == 'new_corporate') %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-send other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Elaborar pedido', orders_new_corporate_path(current_user.store), class: 'text-link' %>
              </li>
          <% end %>

          <% if current_user.store.id == 1 %>
            <% if (params[:controller] == 'orders' && params[:action] == 'index') %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
                <i class="fa fa-dropbox other-nav-icons" aria-hidden="true"></i>
                <%= link_to 'Pedidos solicitados', store_orders_path(current_user.store), class: 'text-link'  %>
              </li>
          <% end %>

          <% if params[:controller] == 'warehouse' && (params[:action] == 'orders' || params[:action] == 'prepare_order')  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Pedidos con disponibilidad', warehouse_orders_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'warehouse' && (params[:action] == 'ready_orders'))  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Pedidos listos para entrega', warehouse_ready_orders_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Inventario', inventories_select_report_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para warehouse-staff o warehouse-admin %>

        <%# Aquí inicia el área que muestra los links para platform-admin %>
        <% if current_user.role.name == 'platform-admin' %>

          <% if params[:controller] == 'admin_users' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear usuario', new_user_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'admin_users' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de usuarios', users_path, class: 'text-link'  %>
            </li>

            <% if params[:controller] == 'warehouses' && params[:action] == 'new' %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
              <i class="fa fa-archive other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear almacén', new_business_unit_warehouse_path(current_user.store.business_unit), class: 'text-link'  %>
            </li>

            <% if params[:controller] == 'warehouses' && params[:action] == 'index' %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
              <i class="fa fa-file-text-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de almacenes', warehouses_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'stores' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-address-book-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear tienda', new_store_path, class: 'text-link'  %>
            </li>

          <% if (params[:controller] == 'stores' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-book other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Lista de tiendas', stores_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_units' && params[:action] == 'new') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-cog other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Crear empresa', new_business_unit_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_units' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-server other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Lista de empresas', business_units_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_groups' && params[:action] == 'new') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-cogs other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Crear grupo de negocio', new_business_group_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_groups' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-building other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Grupos de negocio', business_groups_path, class: 'text-link'  %>
          </li>

          <li class="vertical-link">
            <i class="fa fa-file-code-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Descargar inventario en blanco', products_show_product_csv_path(format: :csv), class: 'text-link' %>
          </li>

          <li class="vertical-link">
            <i class="fa fa-file-excel-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Descargar costos para tiendas', products_show_product_cost_for_stores_path(format: :csv), class: 'text-link' %>
          </li>

          <li class="vertical-link">
            <i class="fa fa-file-powerpoint-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Descargar costos para franquicias', products_show_product_cost_for_franchises_path(format: :csv), class: 'text-link' %>
          </li>

          <li class="vertical-link">
            <i class="fa fa-file-word-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Descargar costos para corporativo', products_show_product_cost_for_corporate_path(format: :csv), class: 'text-link' %>
          </li>
        <% end %>
        <%# Aquí termina el área que muestra los links para platform-admin %>

        <%# Aquí inicia el área que muestra los links para admin-desk %>
        <% if current_user.role.name == 'admin-desk' %>

          <% if params[:controller] == 'prospects' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Alta de prospectos', new_business_group_prospect_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de prospectos', business_group_prospects_path(current_user.store.business_unit.business_group), class: 'text-link'  %>
            </li>

          <% if params[:action] == 'current_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-window-restore other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos especiales', filtered_requests_current_view_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'for_delivery' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-list-alt other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos por entregar', orders_for_delivery_path, class: 'text-link'  %>
            </li>

          <% if current_user.store.id == 1 %>
            <% if params[:controller] == 'orders' && params[:action] == 'index' %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
                <i class="fa fa-dropbox other-nav-icons" aria-hidden="true"></i>
                <%= link_to 'Pedidos solicitados', store_orders_path(current_user.store), class: 'text-link'  %>
              </li>
          <% end %>

          <% if (params[:controller] == 'warehouse' && (params[:action] == 'ready_orders'))  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Pedidos listos para entrega', warehouse_ready_orders_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'drivers' && (params[:action] == 'index'))  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-address-book other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Lista de choferes', drivers_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'drivers' && (params[:action] == 'new'))  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-id-card other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Registrar chofer', new_driver_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'warehouse' && (params[:action] == 'select_product' || params[:action] == 'product_selected' || params[:action] == 'product_requests_by_product'))  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-book other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Mercancía apartada', warehouse_select_product_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_own_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-industry other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía producción', warehouse_new_own_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_supplier_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía terceros', warehouse_new_supplier_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'remove_inventory'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tag other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Salida de mercancía', warehouse_remove_inventory_path, class: 'text-link' %>
            </li>

          <% if ((params[:controller] == 'filtered_requests' && params[:action] == 'product_view') || params[:request_id].present?)  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-pencil-square-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear producto especial', filtered_requests_product_view_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'warehouse' && (params[:action] == 'sales_for_billing'))  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-calculator other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturar pedidos', warehouse_sales_for_billing_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bills' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-pdf-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturas emitidas', bills_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bills' && params[:action] == 'pending') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-code-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturas pendientes de pago', bills_pending_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'orders' && (params[:action] == 'select_report' || params[:action] == 'payment_report' || params[:action] == 'billing_report' || params[:action] == 'collection_report' || params[:action] == 'stores_by_month_and_year' || params[:action] == 'show_sales' || params[:action] == 'process_report')) %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-th-large other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Reportes corporativo', orders_select_report_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bills' && (params[:action] == 'partially_payed_bills' || params[:action] == 'partially_payed_bills_with_pay_bill' || params[:action] == 'select_pay_bills' || params[:action] == 'pay_cfdi_process' || params[:action] == 'pay_cfdi_process' || params[:action] == 'cancel_pay_bill')) %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-powerpoint-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Recibo electrónico de pago', bills_partially_payed_bills_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'services' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-hand-spock-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Todos los servicios', services_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Todos los productos', products_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Inventario', inventories_select_report_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para admin-desk %>

        <%# Aquí inicia el área que muestra los links para viewer %>
        <% if current_user.role.name == 'viewer' %>
          <% if params[:controller] == 'filtered_requests' && params[:action] == 'supporters_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-server other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones en proceso', filtered_requests_supporters_view_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'filtered_requests' && params[:action] == 'inactive_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-eraser other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones canceladas', filtered_requests_inactive_view_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'filtered_requests' && params[:action] == 'delivered_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-folder-open other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones entregadas', filtered_requests_delivered_view_path, class: 'text-link'  %>
            </li>


          <% if params[:controller] == 'orders' && params[:action] == 'index_for_viewers' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-dropbox other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos en proceso', orders_index_for_viewers_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'history' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-calendar-check-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Historial de Pedidos', orders_history_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'cancelled' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-calendar-times-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Pedidos cancelados', orders_cancelled_path, class: 'text-link'  %>
          </li>

          <% if params[:controller] == 'delivery_services' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-plane other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Servicios de Mensajería', delivery_services_select_report_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Inventario', inventories_select_report_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'bills' && params[:action] == 'form' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-wpforms other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Formulario de factura cliente', bills_form_path, class: 'text-link'%>
            </li>


          <% if params[:controller] == 'bills' && params[:action] == 'global_form' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-folder-open other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Formulario Fact Global', bills_global_form_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'bills' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-pdf-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturas emitidas', bills_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para viewer %>

      </ul>
    </div>
  </nav>
<% end %>
<%-# Aquí termina el área que muestra links si hay usuario conectado  %>
