<%-# Aquí inicia el área que muestra la barra vertical solo si hay usuario conectado  %>
<% if current_user %>
  <nav class="vertical-nav">
<% else%>
  <nav class="vertical-nav hidden">
<% end %>
    <ul class="nav-list">
      <%-# Esta validación evita que se carguen los links si no hay current_user  %>
      <% if current_user %>
          <p class="username">
          <i class="fa fa-user-circle icon-user" aria-hidden="true"></i>
          <%= current_user.first_name %>
          <%= current_user.last_name %>,
          <%= current_user.role.name %>
        </p>

        <%-# Aquí inicia el área que muestra los links para manager o director %>
        <% if current_user.role.name == 'manager' || current_user.role.name == 'director' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

          <% if params[:action] == 'unassigned_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-briefcase other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones sin asignar', filtered_requests_unassigned_view_path, class: 'text-link' %>
            </li>

          <% if params[:action] == 'assigned_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-tags other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones asignadas a mi', filtered_requests_assigned_view_path, class: 'text-link'  %>
            </li>

          <% if current_user.role.name == 'director' %>
            <% if params[:action] == 'other_users_view' %>
            <%-# Aplica formato si está seleccionada %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
                <i class="fa fa-eye other-nav-icons" aria-hidden="true"></i>
                <%= link_to 'Cotizaciones asignadas a otros', filtered_requests_other_users_view_path, class: 'text-link'  %>
              </li>
          <% end %>
            <%-# Aquí termina el área que muestra los links solo para director %>

        <% end %>
        <%-# Aquí termina el área que muestra los links para manager o director %>

        <%-# Aquí inicia el área que muestra los links para store o store-admin %>
        <% if current_user.role.name == 'store' || current_user.role.name == 'store-admin' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
          <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-send-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Nuevo pedido', new_store_order_path(current_user.store), class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Pedidos en espera', store_orders_path(current_user.store), class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'orders' && params[:action] == 'history' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-book other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Historial de pedidos', orders_history_path(current_user.store), class: 'text-link'  %>
            </li>

          <% if params[:action] == 'current_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-window-restore other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones activas', filtered_requests_current_view_path, class: 'text-link'  %>
            </li>

          <% if params[:action] == 'saved_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-file-text other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones guardadas', filtered_requests_saved_view_path, class: 'text-link'  %>
            </li>

          <% if params[:action] == 'inactive_view' %>
            <%-# Aplica formato si está seleccionada %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
            <% end %>
              <i class="fa fa-snowflake-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Cotizaciones inactivas', filtered_requests_inactive_view_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Alta de prospectos', new_business_group_prospect_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if params[:controller] == 'prospects' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de prospectos', business_group_prospects_path(current_user.store.business_unit.business_group), class: 'text-link'  %>
            </li>

          <% if (params[:controller] == 'products' && params[:action] == 'new' && params[:request_id].nil?)   %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cube other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear nuevo producto', new_product_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Lista de productos', products_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'inventories' && (params[:action] == 'index' || params[:action] == 'order_suggestions')  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Inventario', inventories_index_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'bills' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-file-pdf-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Facturación', bills_select_data_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para store o store-admin %>

        <% if current_user.role.name == 'designer' || current_user.role.name == 'designer-admin' %>
        <%# Aquí inicia el área que muestra los links para designer o designer-admin %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

          <% if params[:action] == 'unassigned_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-briefcase other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Solicitudes sin asignar', filtered_requests_unassigned_view_path, class: 'text-link' %>
            </li>

          <% if params[:action] == 'assigned_view' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tags other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Solicitudes asignadas', filtered_requests_assigned_view_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para designer o designer-admin %>

        <%# Aquí inicia el área que muestra los links para product-staff o product-admin %>
        <% if current_user.role.name == 'product-staff' || current_user.role.name == 'product-admin' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

          <% if (params[:controller] == 'products' && params[:action] == 'new' && params[:request_id].nil?)   %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cube other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear nuevo producto', new_product_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Todos los productos', products_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'products' && params[:action] == 'catalogue'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-barcode other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Productos de línea', products_catalogue_path, class: 'text-link' %>
            </li>

            <% if params[:controller] == 'products' && params[:action] == 'special'  %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-tag other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Productos especiales', products_special_path, class: 'text-link' %>
              </li>

          <% if ((params[:controller] == 'filtered_requests' && params[:action] == 'product_view') || params[:request_id].present?)  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-pencil-square-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Crear producto especial', filtered_requests_product_view_path, class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'suppliers' && params[:action] == 'new')  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-address-book-o other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Alta de proveedor', new_business_group_supplier_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if (params[:controller] == 'suppliers' && params[:action] == 'index')  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-address-card other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Lista de proveedores', business_group_suppliers_path(current_user.store.business_unit.business_group), class: 'text-link' %>
            </li>

          <% if params[:controller] == 'movements' && params[:action] == 'index'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-money other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Costos de producción', warehouse_index_path, class: 'text-link' %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para product-staff o product-admin %>

        <%-# Aquí inicia el área que muestra los links para warehouse-staff o warehouse-admin %>
        <% if current_user.role.name == 'warehouse-staff' || current_user.role.name == 'warehouse-admin' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_own_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-industry other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía producción', warehouse_new_own_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'new_supplier_entry'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-truck other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Entrada mercancía terceros', warehouse_new_supplier_entry_path, class: 'text-link' %>
            </li>

          <% if params[:controller] == 'warehouse' && params[:action] == 'remove_inventory'  %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
          <i class="fa fa-tag other-nav-icons" aria-hidden="true"></i>
          <%= link_to 'Baja de mercancía', warehouse_remove_inventory_path, class: 'text-link' %>
            </li>

            <% if params[:controller] == 'warehouse' && (params[:action] == 'orders' || params[:action] == 'prepare_order')  %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-cubes other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Pedidos con disponibilidad', warehouse_orders_path, class: 'text-link' %>
              </li>

            <% if params[:controller] == 'warehouse' && (params[:action] == 'pending_orders' || params[:action] == 'pending_products')  %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-calendar-times-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Pedidos sin disponibilidad', warehouse_pending_orders_path, class: 'text-link' %>
              </li>

            <% if params[:controller] == 'warehouse' && (params[:action] == 'waiting_orders' || params[:action] == 'waiting_products')  %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-hand-paper-o other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Pedidos en espera', warehouse_waiting_orders_path, class: 'text-link' %>
              </li>

            <% if params[:controller] == 'inventories' && (params[:action] == 'index' || params[:action] == 'order_suggestions')  %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
            <i class="fa fa-sliders other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Inventario', inventories_index_path, class: 'text-link' %>
              </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para warehouse-staff o warehouse-admin %>

        <%# Aquí inicia el área que muestra los links para platform-admin %>
        <% if current_user.role.name == 'platform-admin' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'admin_users' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-user-plus other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear usuario', new_user_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'admin_users' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-users other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de usuarios', users_path, class: 'text-link'  %>
            </li>

            <% if params[:controller] == 'warehouses' && params[:action] == 'new' %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
              <i class="fa fa-archive other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear almacén', new_business_unit_warehouse_path(current_user.store.business_unit), class: 'text-link'  %>
            </li>

            <% if params[:controller] == 'warehouses' && params[:action] == 'index' %>
              <li class="vertical-link actual-vertical-link">
            <% else %>
              <li class="vertical-link">
            <% end %>
              <i class="fa fa-file-text-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Lista de almacenes', warehouses_path, class: 'text-link'  %>
            </li>

          <% if params[:controller] == 'stores' && params[:action] == 'new' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-address-book-o other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Crear tienda', new_store_path, class: 'text-link'  %>
            </li>

          <% if (params[:controller] == 'stores' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-book other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Lista de tiendas', stores_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_units' && params[:action] == 'new') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-cog other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Crear empresa', new_business_unit_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_units' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-server other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Lista de empresas', business_units_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_groups' && params[:action] == 'new') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-cogs other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Crear grupo de negocio', new_business_group_path, class: 'text-link'  %>
          </li>

          <% if (params[:controller] == 'business_groups' && params[:action] == 'index') %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
            <i class="fa fa-building other-nav-icons" aria-hidden="true"></i>
            <%= link_to 'Grupos de negocio', business_groups_path, class: 'text-link'  %>
          </li>

        <% end %>
        <%# Aquí termina el área que muestra los links para platform-admin %>

        <%# Aquí inicia el área que muestra los links para admin-desk %>
        <% if current_user.role.name == 'admin-desk' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para admin-desk %>

        <%# Aquí inicia el área que muestra los links para viewer %>
        <% if current_user.role.name == 'viewer' %>

          <% if params[:controller] == 'pages' && params[:action] == 'index' %>
            <li class="vertical-link actual-vertical-link">
          <% else %>
            <li class="vertical-link">
          <% end %>
              <i class="fa fa-home other-nav-icons" aria-hidden="true"></i>
              <%= link_to 'Inicio', root_path, class: 'text-link'  %>
            </li>

        <% end %>
        <%-# Aquí termina el área que muestra los links para viewer %>

      </ul>
    </div>
  </nav>
<% end %>
<%-# Aquí termina el área que muestra links si hay usuario conectado  %>
