<body class="<%= params[:controller] %> <%= params[:action] %>">

  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.messages.values.each do |msg| %>
        <%msg.each do  |m| %>
          <li><%= m %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <%= form_for [@request, @product] do |f| %>

    <h2 class="info-title">Crear Producto: Solicitud <%=@request.id%> </h2>

    <div class="form-container">

      <div class="form-inside-style">
        <%= f.label :código_anterior %>
        <%= f.text_field :former_code, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :código_único %>
        <%= f.text_field :unique_code, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :descripción %>
        <%= f.text_field :description, class: 'form-inside', size: 65 %>
      </div>

      <div class="form-inside-style">
        <%= f.label :tipo_de_producto %>
        <%= f.text_field :product_type, value: value_of_product_type(@request), class: 'form-inside' %>
      </div>

      <div class="form-inside-style field hidden">
        <%= f.label :línea_de_producto %>
        <%= f.select :line, options_for_select([['seleccione', ''], ['hogar'], ['alimentos y regalos'], ['oficina'], ['empaque y embalaje'], ['ecológica'],['exhibidores'], ['diseños especiales']], selected: 'diseños especiales') %>)
      </div>

      <div class="form-inside-style">
        <%= f.label :clasificación %>
        <%= f.select :classification, options_for_select([['especial']], selected: 'especial')  %>
      </div>

      <h3>Medidas</h3>

        <% if @request.what_measures == '1' || @request.what_measures == '3' %>
          <h4>Medidas Externas</h4>
          <div id="outer" class="outer">
        <% else %>
          <div id="outer" class="outer hidden" >
        <% end %>

        <div class="form-inside-style">
          <%= f.label :largo %>
          <%= f.text_field :outer_length, value: @request.outer_length, class: 'form-inside' %>
        </div>

        <div class="form-inside-style">
          <%= f.label :ancho %>
          <%= f.text_field :outer_width, value: @request.outer_width, class: 'form-inside' %>
        </div>

        <div class="form-inside-style">
          <%= f.label :alto %>
          <%= f.text_field :outer_height, value: @request.outer_height, class: 'form-inside' %>
        </div>
    </div>

      <% if @request.what_measures == '2' || @request.what_measures == '3' %>
        <h4>Medidas Internas</h4>
        <div id="inner" class="inner">
      <% else %>
        <div id="inner" class="inner hidden">
      <% end %>

      <div class="form-inside-style">
        <%= f.label :largo %>
        <%= f.text_field :inner_length, value: @request.inner_length, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :ancho %>
        <%= f.text_field :inner_width, value: @request.inner_width, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :alto %>
        <%= f.text_field :inner_height, value: @request.inner_height, class: 'form-inside' %>
      </div>
    </div>

      <% if @request.product_type == 'bolsa' %>
        <div class="bolsa">
      <% else %>
        <div class="bolsa hidden">
      <% end %>

        <div class="form-inside-style">
          <%= f.label :largo %>
          <%= f.text_field :bag_length, value: @request.bag_length, class: 'form-inside' %>
          cm
        </div>

        <div class="form-inside-style">
          <%= f.label :fuelle %>
          <%= f.text_field :bag_width, value: @request.bag_width, class: 'form-inside' %>
          cm
        </div>

        <div class="form-inside-style">
          <%= f.label :alto %>
          <%= f.text_field :bag_height, value: @request.bag_height, class: 'form-inside' %>
          cm
        </div>
      </div>

      <% if @request.product_type == 'exhibidor' %>
        <div class="exhibidor">
      <% else %>
        <div class="exhibidor hidden">
      <% end %>

        <div class="form-inside-style">
          <%= f.label :altura %>
          <%= f.text_field :exhibitor_height, value: @request.exhibitor_height, class: 'form-inside' %>
          cm
        </div>

        <div class="form-inside-style">
          <%= f.label :cantidad_de_charolas %>
          <%= f.text_field :tray_quantity, value: @request.tray_quantity, class: 'form-inside' %>
        </div>

        <div class="form-inside-style">
          <%= f.label :largo_de_la_charola %>
          <%= f.text_field :tray_length, value: @request.tray_length, class: 'form-inside' %>
          cm
        </div>

        <div class="form-inside-style">
          <%= f.label :ancho_de_la_charola %>
          <%= f.text_field :tray_width, value: @request.tray_width, class: 'form-inside' %>
          cm
        </div>

        <div class="form-inside-style">
          <%= f.label :número_de_divisiones_de_las_charolas %>
          <%= f.text_field :tray_divisions, value: @request.tray_divisions, class: 'form-inside' %>
        </div>
      </div>

      <h3>Material y Resistencia</h3>

      <div class="form-inside-style">
        <%= f.label :material %>
        <%= f.select :main_material, options_for_select([['seleccione', ''],
        ['caple', class: "resistance main caja"],
        ['sulfatada', class: "resistance main caja"],
        ['multicapa', class: "resistance main caja"],
        ['reverso blanco', class: "resistance main caja"],
        ['reverso gris', class: "resistance main caja"],
        ['liner', class: "resistance main caja"],
        ['single face', class: "resistance main caja"],
        ['microcorrugado', class: "resistance main caja"],
        ['corrugado', class: "resistance main caja"],
        ['rígido', class: "resistance main caja"],
        ['papel kraft', class: "resistance main bolsa"],
        ['papel bond', class: "resistance main bolsa"],
        ['sugerir material']], selected: @request.main_material) %>
      </div>

      <div class="form-inside-style">
        <%= f.label :resistencia_del_material %>
        <%= f.select :resistance_main_material, options_for_select([["seleccione" ,""],
        ['Buscar resistencia', 'buscar'],
        ["12 PTS", class: "main plegadizo"],
        ["14 PTS", class: 'main plegadizo'],
        ["16 PTS", class: 'main plegadizo'],
        ["18 PTS", class: 'main plegadizo'],
        ["20 PTS", class: 'main plegadizo'],
        ["22 PTS", class: 'main plegadizo'],
        ["24 PTS", class: 'main plegadizo'],
        ["170 grs", class: 'main liner'],
        ["180 grs", class: 'main liner'],
        ["275 grs", class: 'main liner'],
        ["300 grs", class: 'main liner'],
        ["SG - 20 ECT", class: 'main corrugado'],
        ["7kg - 23 ECT", class: 'main corrugado'],
        ["9kg - 26 ECT", class: 'main corrugado'],
        ["11kg - 29 ECT", class: 'main corrugado'],
        ["12kg - 32 ECT", class: 'main corrugado'],
        ["14kg - 40 ECT", class: 'main corrugado'],
        ["16kg - 44 ECT", class: 'main corrugado'],
        ["18kg - 51 ECT", class: 'main corrugado'],
        ["No aplica", class: 'main otros'],
        ["12kg - 36 ECT", class: 'main doble_corrugado'],
        ["14kg - 42 ECT", class: 'main doble_corrugado'],
        ["19kg - 48 ECT", class: 'main doble_corrugado'],
        ["225kg - 51 ECT", class: 'main doble_corrugado'],
        ["28kg - 61 ECT", class: 'main doble_corrugado'],
        ["35kg - 71 ECT", class: 'main doble_corrugado'],
        ["42kg - 82 ECT", class: 'main doble_corrugado'],
        ["Sugerir resistencia"]], selected: @request.resistance_main_material) %>
      </div>

      <h3>Color e impresión</h3>

      <div class="impresssion-div">
        <div class="form-inside-style">
          <% @value = false %>
          <% if @request.impression == 'si' %>
            <% @value = true %>
          <% end %>
          <%= f.label :¿lleva_impresión? %>
          <%= label :impression, 'Sí' %>
          <p class="hidden" id="impression_value"><%=@request.impression%></p>
          <%= f.radio_button :impression, 'si', value: true, checked: @value %>
          <%= label :impression, 'No' %>
          <%= f.radio_button :impression, 'no', value: false, checked: !@value %>
        </div>
      </div>

      <div class="impresssion-second-div">

      <div class="form-inside-style">
        <%= f.label :color_exterior_del_cartón %>
        <%= f.select :exterior_material_color, options_for_select([['kraft'], ['bond']], selected: @request.exterior_material_color) %>
      </div>

      <div class="form-inside-style">
        <%= f.label :color_interior_del_cartón %>
        <%= f.select :interior_material_color, options_for_select([['kraft'], ['bond']], selected: @request.interior_material_color) %>
      </div>

      <div class="form-inside-style">
        <%= f.label :color_o_diseño %>
        <%= f.text_field :exterior_color_or_design, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :tipo_de_armado %>
        <%= f.text_field :design_type, value: @request.design_like, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :número_de_piezas %>
        <%= f.number_field :number_of_pieces, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :kit_de_accesorios %>
        <%= f.text_field :accesories_kit, class: 'form-inside' %>
      </div>
    </div>

    <h3>Otros</h3>

    <div class="otros">

      <div class="form-inside-style">
        <%= f.label :empresa %>
        <%= f.select :business_unit, options_for_select(current_user.store.business_unit.business_group.business_units.collect{|bu| [bu.name, bu.id]}) %>
      </div>

      <div class="form-inside-style">
        <%= f.label :piezas_por_paquete %>
        <%= f.number_field :pieces_per_package, min: 0, max: 200, class: 'form-inside' %>
      </div>

      <div class="form-inside-style">
        <%= f.label :almacén %>
        <%= f.select :warehouse_id, options_for_select(current_user.store.business_unit.warehouses.collect{|w| [w.name, w.id]}, selected: @product.warehouse_id) %>
      </div>

      <div class="form-inside-style">
        <%= f.label :imágenes %><br>
        <%= f.file_field :image, multiple: true %>
      </div>
    </div>

      <div class="button-container">
        <div class="actions">
          <%= f.submit :Confirmar, class: 'main-button button-margin' %>
        </div>
      </div>

    </div>

  <% end %>

</body>
