<% if @products.length >= 1 %>
  <table id="products-table">
    <thead>
      <tr class="table-titles">
        <th>Código</th>
        <th>Descripción</th>
        <th>Color/Diseño</th>
        <th>Línea de producto</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="col-md-1"> <%= product.unique_code %></td>
          <td class="col-md-2"> <%= product.description %></td>
          <td class="col-md-1"> <%= product.exterior_color_or_design&.capitalize %></td>
          <td class="col-md-2"> <%= product.line&.capitalize %></td>
          <% if (current_user.role.name == 'store' || current_user.role.name == 'store-admin') %>
            <td class="col-md-1"> <%= number_to_currency(product.product_price) %></td>
          <% else %>
            <td class="col-md-1"> <%= number_to_currency(product.price) %></td>
          <% end %>
          <td class="col-md-1">
            <%= link_to product do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true"  data-toggle="tooltip" data-placement="left" title="Ver"></i>
            <% end %>
            <% if (((current_user.role.name == 'product-admin' || current_user.role.name == 'product-staff') && product.store_id == nil) || (current_user.role.name == 'store-admin' && product.store_id == current_user.store_id)) %>
              <%= link_to edit_product_path(product) do %>
                <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay productos dados de alta </p>
<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts' %>
  <%= javascript_include_tag 'datatables.min' %>
  <%= javascript_include_tag 'products' %>
<% end %>
