<% if @products.count >= 1 %>
  <table id="products-table">
    <thead>
      <tr class="table-titles">
        <th>Código</th>
        <th>Descripción</th>
        <th>Color/Diseño</th>
        <th>Línea de producto</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td class="col-md-1"><%= product.unique_code %></td>
          <td class="col-md-2"><%= product.description %></td>
          <td class="col-md-1"><%= product.exterior_color_or_design %></td>
          <td class="col-md-2"><%= product.line %></td>
          <td class="col-md-1"><%= number_to_currency(show_price_with_overprice(product)) %></td>
          <td class="col-md-1">
            <%= link_to product do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
            <% end %>

              <% role = current_user.role.name %>
              <% user_bg = current_user.store.business_unit.business_group %>
              <% product_bg = product.business_unit.business_group %>
              <% if (((role == 'product-admin' || role == 'product-staff') && product.shared == true) || current_user.role.name == 'store-admin' && product.store == current_user.store) %>
                <%= link_to edit_product_path(product) do %>
                  <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true"></i>
                <% end %>
              <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay productos dados de alta </p>
<% end %>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts' %>
  <%= javascript_include_tag 'datatables.min' %>
  <%= javascript_include_tag 'products' %>
<% end %>
