<%= form_tag({ controller: 'products', action: 'change_price_process' }, method: 'post', class: 'form-data-tables', multipart: true) do %>

<div class="form-container">

  <h2> Elija un archivo de lista de precios en formato csv </h2>

  <div class="form-inside-style">
    <%= label_tag :lista_de_productos %>
    <%= file_field_tag :product_list, accept: '.csv' %>
  </div>

  <div class="form-inside-style">
    <%= label_tag :lista_de_piezas_por_paquete %>
    <%= file_field_tag :product_pieces, accept: '.csv' %>
  </div>

  <div class="form-inside-style">
    <%= label_tag :lista_de_proveedores %>
    <%= file_field_tag :supplier_list, accept: '.csv' %>
  </div>

  <div class="form-inside-style">
    <%= label_tag :productos_que_fabrica_patria %>
    <%= file_field_tag :patria_products, accept: '.csv' %>
  </div>

  <% Store.where(store_type: StoreType.find_by_store_type('corporativo')).each do |store| %>
    <div class="form-inside-style">
      <%= label_tag "clientes tienda #{store.store_name}" %>
      <%= file_field_tag "clientes_tienda#{store.id}", accept: '.csv' %>
    </div>
  <% end %>

  <% Store.where(store_type: StoreType.find_by_store_type('corporativo')).each do |store| %>
    <div class="form-inside-style">
      <%= label_tag "cambios tienda #{store.store_name}" %>
      <%= file_field_tag "cambios_tienda#{store.id}", accept: '.csv' %>
    </div>
  <% end %>

  <div class="form-inside-style">
    <%= label_tag :productos_especiales %>
    <%= file_field_tag :special_products, accept: '.csv' %>
  </div>

  <div class="form-inside-style">
    <%= label_tag :migración_de_inventario %>
    <%= file_field_tag :migrate_inventory, accept: '.csv' %>
  </div>

</div>

  <div class="actions">
    <%= submit_tag 'Cambiar precios', {data: {confirm:'¿Está seguro que desea subir el cambio de precios?', disable_with: "Por favor espere mientras se procesa su solicitud..."}, class: 'main-button'} %>
  </div>
  <br /><br />

<% end %>
