<div class="show-container" id="products-container">

  <h2 class="info-title">Detalles del Producto</h2>

  <% if @product.former_code.present? %>
    <p> <strong>Código anterior: </strong>
      <%= @product.former_code %>
    </p>
  <% end %>

  <p> <strong>Código único: </strong>
    <%= @product.unique_code %>
  </p>

  <p> <strong>Descripción: </strong>
    <%= @product.description %>
  </p>

  <p> <strong>Tipo de producto: </strong>
    <%= @product.product_type %>
  </p>

  <p> <strong>Línea de producto: </strong>
    <%= @product.line %>
  </p>

  <p> <strong>Clasificación: </strong>
    <%= @product.classification %>
  </p>


  <p> <strong>Color exterior del cartón: </strong>
    <%= @product.exterior_material_color %>
  </p>


  <p> <strong>Color interior del cartón: </strong>
    <%= @product.interior_material_color %>
  </p>

  <h3>Color e Impresión</h3>

  <p> <strong>Lleva impresión?: </strong>
    <% if @product.impression == true %>
      Sí
    <% else %>
      No
    <% end %>
  </p>

  <p> <strong>Color o diseño: </strong>
    <%= @product.exterior_color_or_design %>
  </p>

  <p> <strong>Material: </strong>
    <%= @product.main_material %>
  </p>

  <p> <strong>Resistencia: </strong>
    <%= @product.resistance_main_material %>
  </p>

  <h4>Medidas Internas</h4>

  <p> <strong>Largo: </strong>
    <%= @product.inner_length %> cm
  </p>


  <p> <strong>Ancho: </strong>
    <%= @product.inner_width %> cm
  </p>

  <p> <strong>Alto: </strong>
    <%= @product.inner_height %> cm
  </p>


  <h4>Medidas Externas</h4>

  <p> <strong>Largo: </strong>
    <%= @product.outer_length %> cm
  </p>

  <p> <strong>Ancho: </strong>
    <%= @product.outer_width %> cm
  </p>


  <p> <strong>Alto: </strong>
    <%= @product.outer_height %> cm
  </p>

  <h4>Diseño e Información Adicional</h4>

  <p> <strong>Tipo de armado: </strong>
    <%= @product.design_type %>
  </p>

  <p> <strong>Piezas: </strong>
    <%= @product.number_of_pieces %>
  </p>

  <p> <strong>Accesorios: </strong>
    <%= @product.accesories_kit %>
  </p>

  <p> <strong>Precio de venta: </strong>
    <%= number_to_currency(@product.price) %>
  </p>

  <% unless (current_user.role.name == 'product-staff' || unless current_user.role.name == 'product-admin' || (current_user.role.name == 'store-admin' && current_user.store.business_unit == @product.business_unit)) %>
    <p> <strong>Costo: </strong>
      <%= number_to_currency(@product.cost) %>
    </p>

  <p> <strong>Unidad de negocio: </strong>
    <% if @product.business_unit %>
      <%= @product.business_unit.name %>
    <% end %>
  </p>

  <p> <strong>Almacén: </strong>
    <%= @product.warehouse.name %>
  </p>


  <%= render 'images' %>
</div>
