<div class="show-container" id="products-container">

  <h2 class="info-title">Detalles del Producto</h2>

  <% if @product.former_code.present? %>
    <p> <strong>Código anterior: </strong>
      <%= @product.former_code %>
    </p>
  <% end %>

  <p> <strong>Código único: </strong>
    <%= @product.unique_code %>
  </p>

  <p> <strong>Descripción: </strong>
    <%= @product.description %>
  </p>

  <p> <strong>Tipo de producto: </strong>
    <%= @product.product_type %>
  </p>

  <p> <strong>Línea de producto: </strong>
    <%= @product.line %>
  </p>

  <p> <strong>Clasificación: </strong>
    <%= @product.classification %>
  </p>


  <p> <strong>Color exterior del cartón: </strong>
    <%= @product.exterior_material_color %>
  </p>


  <p> <strong>Color interior del cartón: </strong>
    <%= @product.interior_material_color %>
  </p>

  <h3>Color e Impresión</h3>

  <p> <strong>Lleva impresión?: </strong>
    <% if @product.impression == true %>
      Sí
    <% else %>
      No
    <% end %>
  </p>

  <p> <strong>Color o diseño: </strong>
    <%= @product.exterior_color_or_design %>
  </p>

  <p> <strong>Material: </strong>
    <%= @product.main_material %>
  </p>

  <p> <strong>Resistencia: </strong>
    <%= @product.resistance_main_material %>
  </p>

  <% if @product.outer_length.present? %>
    <h4>Medidas Externas</h4>

    <p> <strong>Largo: </strong>
      <%= @product.outer_length %> cm
    </p>

    <p> <strong>Ancho: </strong>
      <%= @product.outer_width %> cm
    </p>


    <p> <strong>Alto: </strong>
      <%= @product.outer_height %> cm
    </p>
  <% end %>

  <% if @product.inner_length.present? %>
    <h4>Medidas Internas</h4>

    <p> <strong>Largo: </strong>
      <%= @product.inner_length %> cm
    </p>


    <p> <strong>Ancho: </strong>
      <%= @product.inner_width %> cm
    </p>

    <p> <strong>Alto: </strong>
      <%= @product.inner_height %> cm
    </p>
  <% end %>

  <% if @product.product_type == 'exhibidor' %>
    <h4>Medidas del exhibidor</h4>

    <p> <strong>Alto: </strong>
      <%= @product.exhibitor_height %> cm
    </p>

    <p> <strong>Bandejas: </strong>
      <%= @product.tray_quantity %>
    </p>

    <p> <strong>Bandejas: </strong>
      <%= @product.tray_length %>
    </p>

    <p> <strong>Alto: </strong>
      <%= @product.tray_width %> cm
    </p>

    <p> <strong>Alto: </strong>
      <%= @product.tray_divisions %>
    </p>

  <% elsif @product.product_type == 'bolsa' %>

    <h4>Medidas de la bolsa</h4>

    <p> <strong>Largo: </strong>
      <%= @product.bag_length %> cm
    </p>


    <p> <strong>Fuelle: </strong>
      <%= @product.bag_width %> cm
    </p>

    <p> <strong>Alto: </strong>
      <%= @product.bag_height %> cm
    </p>

  <% end %>

  <h4>Diseño e Información Adicional</h4>

  <p> <strong>Tipo de armado: </strong>
    <%= @product.design_type %>
  </p>

  <p> <strong>Piezas: </strong>
    <%= @product.number_of_pieces %>
  </p>

  <p> <strong>Accesorios: </strong>
    <%= @product.accesories_kit %>
  </p>

  <% unless @product.price.blank? %>
    <p> <strong>Precio de venta: </strong>
      <%= number_to_currency(@product.price) %>
    </p>
  <% end %>

  <% unless (current_user.role.name == 'product-staff' || current_user.role.name == 'product-admin' || (current_user.role.name == 'store-admin' && current_user.store.business_unit == @product.business_unit)) %>
    <p> <strong>Costo: </strong>
      <%= number_to_currency(@product.cost) %>
    </p>
  <% end %>

  <p> <strong>Empresa: </strong>
    <% if @product.business_unit %>
      <%= @product.business_unit&.name %>
    <% end %>
  </p>

  <p> <strong>Almacén: </strong>
    <% if @product.warehouse %>
      <%= @product.warehouse&.name %>
    <% end %>
  </p>

  <p> <strong> Clave SAT: </strong>
    <%= @product.sat_key.sat_key %>
  </p>

  <p> <strong> Unidad SAT: </strong>
    <%= @product.sat_unit_key.unit %>
  </p>

  <%= render 'images' %>
</div>
<br /><br /><br />
