<%= form_tag({ controller: 'warehouse', action: 'save_own_product' }, method: 'post') do %>

<h2> Seleccione los productos para la entrada de mercancía </h2>

<table class="wide-selector">
  <tbody>
    <tr>
      <td> <%= text_field_tag 'unique_code[]', nil, {class: 'select-product form-control unique_code searh-products-form', placeholder: 'Seleccione un producto'} %> </td>
    </tr>
  </tbody>
</table>

<table class="table" id="productsList">
  <thead>
    <tr class="head-blue">
      <th> </th>
      <th> Producto </th>
      <th> Cantidad </th>
      <th class="weightKg hidden"> Peso </th>
      <th> Motivo / Folio </th>      
    </tr>
  </thead>

  <tbody id="fields_for_warehouse_entries">
  </tbody>
  </table>

  <% if current_user.store.id == 1 %>
    <p class="hidden"><%= text_field_tag :corporate_store, 1 %></p>
  <% else %>
    <p class="hidden"><%= text_field_tag :corporate_store, 2 %></p>
  <% end %>

  <div class="actions">
    <%= submit_tag 'Entrada de Mercancía', class: 'main-button', id: 'generateEntry', data: { disable_with: "Espere mientras se procesa su solicitud..." } %>
  </div><br /><br />

  <% end %>

<table class="hidden">
<tbody id="newRowTableBody">
  <tr class="newRow">
    <%= render partial: "row_own_entry", locals: { supplier: false } %>
  </tr>
</tbody>
</table>

<div class="hidden" id="action"><%= params[:action] %></div>

<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'formValidation.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'jquery.autocomplete.min' %>
  <%= javascript_include_tag 'jquery.mask.min' %>
  <%= javascript_include_tag 'jquery.maskMoney.min' %>
  <%= javascript_include_tag 'form_validation_pack.min' %>
  <%= javascript_include_tag 'ups_and_downs' %>
<% end %>
