<tr>
  <td>
    <div class="form-group">
      <%= label_tag :medidas %>
      <%= text_field_tag 'measure[]', nil, {class: 'form-control center-text'} %>
    </div>
  </td>
  <td>
    <div class="form-group">
      <%= label_tag :peso %>
      <%= text_field_tag 'weight[]', nil, {class: 'form-control center-text'} %>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div class="form-group">
      <%= label_tag :contenido %>
      <%= text_field_tag 'content[]', nil, {class: 'form-control center-text'} %>
    </div>
  </td>
</tr>
