<td>
  <a href="javascript:;" class="close-icon" id="close_icon_">
  </a>
  <p>
    <%= text_field_tag 'id[]', nil, {class: 'form-control ids hidden'} %>
  </p>
</td>
<td id="description_" class="center-text"></td>
<td> <%= text_field_tag 'quantity[]', nil, {class: 'form-control quantity center-input'} %> </td>
<td> <%= text_field_tag 'reason[]', nil, {class: 'form-control reason center-input'} %> </td>
<td id="kg_field_" class="hidden"> <%= text_field_tag 'kg[]', nil, {class: 'form-control kg center-input hidden'} %> </td>
<td class="">
  <a href="#" data-toggle="modal" data-id="" data-target="#supplierModal" id='vincularSupplier' class='btn btn-primary'>Proveedor</a>
</td>
<td> <%= text_field_tag 'supplier[]', nil, {class: 'form-control folio supplier hidden'} %> </td>
<td> <%= text_field_tag 'folio[]', nil, {class: 'form-control folio hidden'} %> </td>
<td> <%= date_field_tag 'date_of_bill[]', nil, {class: 'form-control date_of_bill hidden'} %> </td>
<td> <%= text_field_tag 'total_amount[]', nil, {class: 'form-control total_amount hidden'} %> </td>
<td> <%= text_field_tag 'taxes_rate[]', nil, {class: 'form-control taxes_rate hidden'} %> </td>
<td> <%= text_field_tag 'subtotal[]', nil, {class: 'form-control subtotal hidden'} %> </td>
  
