<div class="modal fade" id="supplierModal" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="ModalLabel">Vincular proveedor</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= form_tag({ controller: 'warehouse', action: 'save_supplier_product'}, method: 'post') do %>

          <%= text_field_tag 'suppliersAutocomplete', nil, {class: 'select-product form-control', placeholder: 'Por favor seleccione un proveedor'} %>

          <input type="hidden" id="productId" />

          <div class="form-group hidden">
            <%= label_tag :proveedor %>
            <%= text_field_tag :supplierId, nil, {class: 'form-control center-text'} %>
          </div>

          <div class="form-group hidden toShowOnSelect">
            <%= label_tag :proveedor %>
            <%= text_field_tag :supplierName, nil, {class: 'form-control center-text', readonly:true} %>
          </div>

          <div class="form-group">
            <%= label_tag :folio %>
            <%= text_field_tag :supplier_folio, nil, {class: 'form-control center-text'} %>
          </div>

          <div class="form-group">
            <%= label_tag :fecha %>
            <%= date_field_tag :supplier_date_of_bill, nil, {max: Date.today, class: 'form-control center-text'} %>
          </div>

          <div class="form-group">
            <%= label_tag :total %>
            <%= text_field_tag :supplier_total_amount, nil, {class: 'form-control center-text'} %>
          </div>

          <div class="form-group">
            <%= label_tag :descuento %>
            <%= text_field_tag :supplier_discount, nil, {class: 'form-control center-text'} %>
          </div>

          <div class="form-group">
            <%= label_tag :subtotal %>
            <%= text_field_tag :supplier_subtotal_with_discount, nil, {class: 'form-control center-text', disabled: true} %>
          </div>

          <div class="form-group">
            <%= label_tag 'IVA', nil, class: 'uppercase' %>
            <%= text_field_tag :supplier_taxes_rate, nil, {class: 'form-control center-text'} %>
            
            <label>
              <%= check_box_tag :checkPercent, nil, checked: true %>
              %
            </label>
          </div>

          <div class="form-group">
            <%= label_tag :subtotal_con_descuento%>
            <%= text_field_tag :supplier_subtotal, nil, {class: 'form-control center-text', disabled: true} %>
          </div>

        <% end %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="addSupplierToForm">Guardar</button>
      </div>
    </div>
  </div>
</div>
