<table>
  <thead>
    <tr class="table-titles">
      <th class="col-md-1">Folio</th>
      <th class="col-md-1">Producto</th>
      <th class="col-md-2">Color / Diseño</th>
      <th class="col-md-1">Cantidad</th>
      <th class="col-md-1">Fecha</th>
      <th class="col-md-1">Costo</th>
    </tr>
  </thead>
  <tbody>
    <tr class="no-shadow">
      <td> <%= @entry.id %> </td>
      <td> <%=  @entry.product.unique_code %> </td>
      <td> <%=  @entry.product.exterior_color_or_design %> </td>
      <td> <%=  number_with_delimiter(@entry.movement.quantity) %> </td>
      <td> <%= I18n.l @entry.created_at.to_date %> </td>

      <%= form_for @movement, url: form_for_movement_path(@movement) do |f| %>
        <td class="col-md-2">
          <div class="field">
            <%= f.text_field :cost, size: 6 %>
            <%= f.submit :Guardar, name: 'Guardar', class: 'main-button-small' %></td>
          </div>
            <% end %>
        </td>
    </tr>
  </tbody>
</table>
