<%= content_for :stylesheet do %>
  <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<% end %>

<%= content_for :javascript do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <%= javascript_include_tag 'warehouse' %>
<% end %>

<table class='datatables'>
  <thead>
    <tr class="table-titles">
      <th class="col-md-1">Folio</th>
      <th class="col-md-1">Producto</th>
      <th class="col-md-2">Color / Diseño</th>
      <th class="col-md-1">Cantidad</th>
      <th class="col-md-1">Fecha</th>
      <td class='hidden'></th>
    </tr>
  </thead>
  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td> <%= entry.id %> </td>
      <td> <%=  entry.product.unique_code %> </td>
      <td> <%=  entry.product.exterior_color_or_design %> </td>
      <td> <%=  entry.quantity %> </td>
      <td> <%= I18n.l entry.created_at.to_date, format: :short %> </td>
      <td class="col-md-1">
        <%= link_to warehouse_edit_entry_path(entry) do %>
          <i class="fa fa-money link-to-details" aria-hidden="true"></i>
          <span>Costo</span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
