<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'jquery.dataTables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'underscore.min' %>
  <%= javascript_include_tag 'jquery.dataTables.min' %>
  <%= javascript_include_tag 'warehouse' %>
<% end %>

<table class='datatables'>
  <thead>
    <tr class="table-titles">
      <th class="col-md-1">Folio</th>
      <th class="col-md-1">Producto</th>
      <th class="col-md-1">Color / Diseño</th>
      <th class="col-md-1">Cantidad</th>
      <th class="col-md-1">Fecha</th>
      <td class='hidden'></th>
    </tr>
  </thead>
  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td> <%= entry.id %> </td>
      <td> <%=  entry.product.unique_code %> </td>
      <td> <%=  entry.product.exterior_color_or_design %> </td>
      <td> <%=  number_with_delimiter(entry.quantity) %> </td>
      <td> <%= I18n.l entry.created_at.to_date, format: :short %> </td>
      <td class="col-md-1">
        <% if current_user.role.name == 'product-admin' || current_user.role.name == 'product-staff' %>
          <%= link_to warehouse_edit_entry_path(entry) do %>
            <i class="fa fa-money link-to-details" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
