<table>
  <thead>
    <tr class="table-titles">
      <th class="col-md-1">Orden</th>
      <th class="col-md-1">Producto</th>
      <th class="col-md-2">Color / Diseño</th>
      <th class="col-md-1">Paquetes</th>
      <th class="col-md-1">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td> <%= request.order.id %> </td>
        <td> <%= request.product.unique_code %> </td>
        <td> <%= request.product.exterior_color_or_design %> </td>
        <td> <%= number_with_delimiter(request.quantity / request.product.pieces_per_package) %> </td>
        <td> <%= I18n.l request.created_at.to_date, format: :short %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
