<% if @orders.count >= 1 %>
  <table>
    <thead>
      <tr class="table-titles">
        <th class="col-md-1">Pedido</th>
        <th class="col-md-3">Tienda</th>
        <th class="col-md-1">Tipo</th>
        <th class="col-md-1">Productos</th>
        <th class="col-md-1">Piezas</th>
        <th class="col-md-1">Estatus</th>
        <th class="col-md-1">Asignado</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= order.store.store_code %> - <%= order.store.store_name %> </td>
          <td> <%= order.category %> </td>
          <td> <%= order.product_requests.count %> </td>
          <td> <%= number_with_delimiter(sum_quantity(order)) %> </td>
          <td> <%= order.status %> </td>
          <td> <%= warehouse_name(order) %> </td>
          <td class="col-md-1">
            <%= link_to warehouse_prepare_order_path(order) do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
              <span>Ver</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay pedidos en espera.</p>
<% end %>
