<% if @orders.count >= 1 %>
  <table class="tableFive">
    <thead>
      <tr class="table-titles">
        <th>Pedido</th>
        <th> Fecha </th>
        <th class="col-md-3"> Cliente / Tienda </th>
        <th> Tipo </th>
        <th> Productos </th>
        <th> Piezas </th>
        <th> Estatus </th>
        <th> Colaborador </th>
        <% if current_user.role.name == 'admin-desk' %>
          <th> Factura </th>
        <% end %>
        <th> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= l order.created_at.to_date, format: :short %> </td>
          <td> <%= show_non_blank_field(order.prospect&.legal_or_business_name) %> </td>
          <% if order.category == 'de línea' %>
              <td>
                <span class="label label-primary">
                  <%= order.category %>
                </span>
              </td>
            <% elsif order.category == 'especial' %>
              <td>
                <span class="label label-success">
                  <%= order.category %>
                </span>
              </td>
            <% end %>
          <td> <%= order.product_requests.where.not(status: 'cancelada').count %> </td>
          <td> <%= number_with_delimiter(sum_quantity_order(order)) %> </td>
          <td>
            <% if order.status == 'mercancía asignada' %>
              <span class="label label-warning">
                <%= order.status %>
              </span>
              <% elsif order.status == 'preparando' %>
                <span class="label label-info">
                  <%= order.status %>
                </span>
            <% elsif order.status == 'en espera' %>
              <span class="label label-warning">
                <%= order.status %>
              </span>
            <% elsif (order.status == 'preparado' || order.status == 'en ruta') %>
              <span class="label label-primary">
                <%= order.status %>
              </span>
            <% elsif order.status == 'entregado' %>
              <span class="label label-success">
                <%= order.status %>
              </span>
            <% elsif order.status == 'cancelado' %>
              <span class="label label-danger">
                <%= order.status %>
              </span>
            <% end %>
          </td>
          <td> <%= warehouse_name(order) %> </td>
          <% if current_user.role.name == 'admin-desk' %>
            <% if (order.bill != nil && order.bill.status != 'cancelada') %>
              <td> <%= order.bill.folio %> </td>
            <% else %>
              <td> Pendiente </td>
            <% end %>
          <% end %>
          <td class="col-md-1">
            <%= link_to warehouse_prepare_order_path(order), class: 'link-extra-space' do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver pedido"></i>
            <% end %>
            <% if current_user.role.name == 'admin-desk' %>
              <% if (current_user.role.name == 'admin-desk' && (order.bill == nil || order.bill.status == 'cancelada')) %>
                <%= link_to edit_discount_path(order), class: 'link-extra-space' do %>
                  <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar descuento"></i>
                <% end %>
              <% end %>
              <%= link_to delete_order_path(order), class: 'link-extra-space', data: { confirm: "Desa cancelar el pedido #{order.id}?. Esta acción no se puede deshacer." } do %>
                <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Borrar pedido"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay pedidos en espera.</p>
<% end %>

<br /><br />
  <%= render 'links_for_orders' %>
<br/><br/><br/>

<%= render 'dataTables'%>
