<table>
  <thead>
    <tr class="table-titles">
      <th class="col-md-1">Folio</th>
      <th class="col-md-1">Productos</th>
      <th class="col-md-1">Piezas</th>
      <th class="col-md-1">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= order.id %> </td>
        <% @requests = order.product_requests.where('product_requests.status' => 'asignado') %>
        <td> <%= @requests.count %> productos</td>
        <td> <%= sum_quantity(@requests) %> piezas</td>
        <td> <%= I18n.l order.created_at.to_date, format: :short %> </td>
        <td class="col-md-1">
          <%= link_to warehouse_order_products_path(order) do %>
            <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
            <span>Ver</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
