<% if @orders.count >= 1 %>
  <table class="dataTable">
    <thead>
      <tr class="table-titles">
        <th>Pedido</th>
        <th class="col-md-3"> Cliente / Tienda </th>
        <th>Tipo</th>
        <th>Productos</th>
        <th>Piezas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td> <%= order.id %> </td>
          <td> <%= show_non_blank_field(order.prospect&.legal_or_business_name) %> </td>
          <% if order.category == 'de línea' %>
              <td>
                <span class="label label-primary">
                  <%= order.category %>
                </span>
              </td>
            <% elsif order.category == 'especial' %>
              <td>
                <span class="label label-success">
                  <%= order.category %>
                </span>
              </td>
            <% end %>
          <td> <%= order.product_requests.where.not(status: 'cancelada').count %> </td>
          <td> <%= number_with_delimiter(sum_quantity_order(order)) %> </td>
          <td class="col-md-1">
            <%= link_to warehouse_pending_products_path(order) do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
              <span>Ver</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay pedidos en espera.</p>
<% end %>

<br /><br />
  <%= render 'links_for_orders' %>
<br/><br/><br/>

<%= render 'dataTables'%>
