<%= form_tag({ controller: 'warehouse', action: 'complete_preparation' }, method: 'post') do %>
<table class="table dataTableNoPagination">
  <thead>
    <% identify_kg_products(@order) %>
    <tr class="table-titles">
      <th> Producto </th>
      <th> Color </th>
      <th> Paquetes </th>
      <th> Piezas </th>
      <% if @has_kg_products %>
        <th class="col-md-1"> Peso(s) </th>
      <% end %>
      <th> Estatus </th>
      <th> ¿Armado? </th>
      <th> Almacén </th>
      <th> Ubicación </th>
      <th> Notas </th>
      <th> Acciones </th>
      <th class="hidden"></th>
    </tr>
  </thead>
  <tbody>
    <% if (@order.users.count > 1 && (@order.users.include?(current_user) || current_user.role.name == 'warehouse-admin') && @order.status != 'preparado') %>
      <tr>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes"></td>
        <td class="boxes align-rigth">
            <div class="flex-inline">
              <strong>
                Cajas:
              </strong>
              <%= text_field_tag :boxes, nil, {id: 'boxesQuantity', class: 'form-control'} %>
            </div>
        </td>
        <td></td>
        <td class="hidden">
          <%= text_field_tag :order, params[:id], {class: 'form-control hidden'} %>
        </td>
      </tr>
    <% end %>
    <% @order.product_requests.where(status: 'asignado').each do |product_request| %>
      <tr>
        <td> <%= product_request.product.unique_code %> <%= product_request.product.description %> </td>
        <td> <%= show_non_blank_field(product_request.product.exterior_color_or_design) %> </td>
        <td> <%= number_with_delimiter(product_request.quantity / product_request.product.pieces_per_package) %> </td>
        <td> <%= number_with_delimiter(product_request.quantity) %> </td>
        <% if @has_kg_products %>
          <% if @has_kg_products && product_request.product.group %>
            <td> <%= select_tag :kg, options_for_select(@kg_options[product_request.product.id]), class: 'form-control' %> </td>
          <% else %>
            <td> N/A </td>
          <% end %>
        <% end %>
        <td>
          <% if product_request.status == 'asignado' %>
          <span class="label label-info">
            <%= product_request.status%>
          </span>
          <% elsif product_request.status == 'sin asignar' %>
            <span class="label label-warning">
              <%= product_request.status%>
            </span>
          <% elsif product_request.status == 'entregado' %>
            <span class="label label-success">
              <%= product_request.status%>
            </span>
          <% end %>
        </td>
        <td> <%= product_request.armed ? 'Sí' : 'No' %> </td>
        <td> <%= show_non_blank_field(product_request.product&.warehouse&.name) %> </td>
        <% if (product_request.product.rack.blank? && product_request.product.level.blank?) %>
          <td class="center-text"> - </td>
        <% else %>
          <td class="center-text"> Estante: <%= product_request.product.rack %> Nivel: <%= product_request.product.level %></td>
        <% end %>
        <td>
          <% if (@order.users.count > 1 && (@order.users.include?(current_user) || current_user.role.name == 'warehouse-admin') && @order.status != 'preparado') %>
            <a href="#" id="iconLink_<%= product_request.id %>">
              <i class="fa fa-warning red-icon" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Notas"></i>
            </a>
            <div id="myWrapper_<%= product_request.id %>" class="hidden">
              <div class="input-group">
                <%= text_field_tag 'alert[]', nil, {class: 'form-control'} %>
                <span class="input-group-btn">
                  <button class="btn" id="redAddOn_<%= product_request.id %>">Ocultar</button>
                </span>
              </div>
            </div>
          <% end %>
        </td>
        <td>
          <% if current_user.role.name == 'admin-desk' && product_request.status != 'cancelada' %>
            <%= link_to delete_product_from_order_path(product_request), class: 'deleteProduct', data: { confirm: "Desa borrar el producto #{product_request.product.unique_code}, #{product_request.product.description} del pedido?. Esta acción no se puede deshacer." } do %>
              <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cancelar"></i>
            <% end %>
          <% end %>
        </td>
        <td class="hidden">
          <%= text_field_tag 'pr[]', product_request.id, {class: 'form-control'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br /> <br />
<% if (@order.users.count > 1 && (@order.users.include?(current_user) || current_user.role.name == 'warehouse-admin') && @order.status != 'preparado') %>
    <div class="actions">
      <%= submit_tag 'Completar ', class: 'main-button', data: { disable_with: "Espere mientras se procesa su solicitud..." } %>
    </div><br /><br />
  <% end %>
<% end %>

<% if @order.users.count <= 1 %>

  <% if current_user.role.name == 'warehouse-staff' %>

    <%= form_for(@order, url: assign_warehouse_staff_path(@order)) do |f| %>
      <div class="hidden">
        <%= f.text_field :status, value: @order.status %>
      </div>
      <%= f.submit :asignar, name: 'asignar', class: 'main-button capitalize' %>
    <% end %>

  <% elsif current_user.role.name == 'warehouse-admin' %>
    <%= form_for(@order, url: assign_warehouse_admin_path(@order)) do |f| %>
      <%= f.select :user_ids, options_for_select(User.joins(:role).where('roles.name' => ['warehouse-staff', 'warehouse-admin']).where(store_id: current_user.store.id).collect{|u| [u.first_name+" "+u.last_name, u.id]})  %>
      <%= f.submit :guardar, name: 'guardar', class: 'main-button-small capitalize' %>
    <% end %>
  <% end %>

<% else %>
  <p>
    Este pedido está siendo atendido por <%= warehouse_name(@order) %>
  </p>

<% end %>

<table class="hidden">
  <tbody>
    <tr>
      <td id="date"> <%= l Date.today, format: :short %> </td>
      <td id="store"> <%= @order.store.store_name.capitalize %> </td>
      <td id="hour"> <%= Time.now.strftime("%H:%M") %> </td>
      <td id="user"> <%= warehouse_name(@order) %> </td>
      <td id="orderNumber"> <%= @order.id %> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br /> <br />

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'tableLoader' %>
  <%= javascript_include_tag 'prepareOrder' %>
<% end %>
