<%= form_tag({ controller: 'warehouse', action: 'assign_driver' }, method: 'post', class: 'form-data-tables') do %>

  <table class="table dataTableNoPagination">
    <thead>
      <tr class="table-titles">
        <th> Producto </th>
        <th> Color </th>
        <th> Paquetes </th>
        <th> Almacén </th>
        <th> Ubicación </th>
        <th> Notas </th>
        <% if (current_user.role.name == 'admin-desk' && @order.delivery_attempt == nil) %>
          <th> Asignar chofer </th>
        <% elsif (current_user.role.name == 'admin-desk' && @order.delivery_attempt != nil) %>
          <th> Chofer </th>
        <% elsif ((current_user.role.name == 'warehouse-admin' || current_user.role.name == 'warehouse-staff') && @order.delivery_attempt != nil) %>
          <th> Chofer </th>
        <% end %>
        <th> Acciones </th>
      </tr>
    </thead>
    <tbody>
      <% @order.product_requests.where(status: 'asignado').each do |product_request| %>
        <tr>
          <td><%= product_request.product.unique_code %> <%= product_request.product.description %> <%= product_request.product.only_measure %> </td>
          <td><%= show_non_blank_field(product_request.product.exterior_color_or_design) %></td>
          <td><%= number_with_delimiter(product_request.quantity/product_request.product.pieces_per_package) %></td>
          <td><%= show_non_blank_field(product_request.product&.warehouse&.name) %></td>
          <% if (product_request.product.rack.blank? && product_request.product.level.blank?) %>
            <td class="center-text"> - </td>
          <% else %>
            <td class="center-text"> Estante: <%= product_request.product.rack %> Nivel: <%= product_request.product.level %></td>
          <% end %>
          <td> <%= product_request.alert %> </td>
          <% if (current_user.role.name == 'admin-desk' && @order.delivery_attempt == nil) %>
            <td>
              Por confirmar
            </td>
          <% elsif (current_user.role.name == 'admin-desk' && @order.delivery_attempt != nil) %>
            <td> <%= @order.delivery_attempt.driver&.first_name %> <%= @order.delivery_attempt.driver&.last_name %> </td>
          <% elsif ((current_user.role.name == 'warehouse-admin' || current_user.role.name == 'warehouse-staff') && @order.delivery_attempt != nil) %>
            <td>
              <%= @order.delivery_attempt.driver&.first_name %> <%= @order.delivery_attempt.driver&.last_name %>
              <%= text_field_tag :id, params[:id], {class: 'hidden'} %>
            </td>
          <% end %>
          <td>
            <% if current_user.role.name == 'admin-desk' && product_request.status != 'cancelada' %>
              <%= link_to delete_product_from_order_path(product_request), class: 'deleteProduct', data: { confirm: "Desa borrar el producto #{product_request.product.unique_code}, #{product_request.product.description} del pedido?. Esta acción no se puede deshacer." } do %>
                <i class="fa fa-minus-square link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Cancelar"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="hidden" id="orderNumber"><%= @order.id %></p>
  <p class="hidden" id="prospect"><%= @order.prospect.legal_or_business_name %></p>
  <p class="hidden" id="date"><%= l Date.today %></p>
  <p class="hidden" id="hour"><%= Time.now.strftime('%H:%M') %></p>
  <p class="hidden" id="user"><%= order_warehouse_user(@order) %></p>

<br /> <br />

  <% if (current_user.role.name == 'admin-desk') %>
    <div class="actions">
      <br />
      <%= select_tag :driver, options_for_select(driver_names, selected: @order.delivery_attempt.driver_id), class: 'form-control center-text width-reduced' %>
      <%= text_field_tag :id, params[:id], {class: 'hidden'} %>
      <br />
    </div>
    <div class="actions">
      <%= submit_tag 'Asignar', class: 'main-button' %>
    </div>
    <br /><br />
  <% elsif ((current_user.role.name == 'warehouse-admin' || current_user.role.name == 'warehouse-staff') && (@order.delivery_attempt != nil && @order.status != 'en ruta')) %>
    <div class="actions">
      <%= submit_tag 'Confirmar entrega a chofer', class: 'main-button' %>
    </div>
    <br /><br />
  <% end %>

<% end %>

  <p>
    Este pedido fue preparado por <%= warehouse_name(@order) %>
  </p>

<br /> <br />
<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'tableLoader' %>
  <%= javascript_include_tag 'prepareOrder' %>
<% end %>
