<table class="table" id="productsList">
  <thead>
    <tr>
      <th>Codigo unico</th>
      <th>Descripcion</th>
      <th>Image</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @movements.each do |movement| %>
      <tr id="trForProduct<%= movement.product.id %>">
        <td><%= movement.product.unique_code %></td>
        <td><%= movement.product.description %></td>
        <td><%= image_tag image(movement), alt: movement.product.description %></td>
        <td><%= number_with_delimiter(movement.quantity) %></td>
        <td>
          <%= link_to 'Eliminar', warehouse_delete_entry_path(movement.warehouse_entry, @codes), class: 'btn btn-danger', method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Confirmar', warehouse_confirm_path(@codes), class: 'btn btn-primary', method: 'post' %>
<br /> <br /> <br /> <br /> <br />
