<table class="table">
  <thead>
    <tr class="table-titles">
      <th>Código</th>
      <th>Color</th>
      <th>Imagen</th>
      <th>Paquetes</th>
      <th>Almacén</th>
      <th>Ubicación</th>
      <th>Urgencia</th>
      <th>Entregar</th>
    </tr>
  </thead>
  <tbody>
    <% @order.product_requests.where(status: 'en espera').each do |product_request| %>
      <tr>
        <td><%= product_request.product.unique_code %></td>
        <td><%= product_request.product.exterior_color_or_design %></td>
        <td><%= image_tag image(product_request), alt: product_request.product.description %></td>
        <td><%= number_with_delimiter(product_request.quantity/product_request.product.pieces_per_package) %></td>
        <td><%= product_request.product.warehouse.name %></td>
        <% if (product_request.product.rack.nil? && product_request.product.level.nil?) %>
          <td> - </td>
        <% else %>
          <td> Estante: <%= product_request.product.rack %> Nivel: <%= product_request.product.level %></td>
        <% end %>
        <td><%= product_request.urgency_level %></td>
        <% if product_request.maximum_date.present? %>
          <td><%= l product_request.maximum_date %></td>
        <% else %>
          <td> - </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br /> <br />
