<table class="table dataTableNoPagination">
  <thead>
    <tr class="table-titles">
      <th> Producto </th>
      <th> Color </th>
      <th> Paquetes </th>
      <th> Almacén </th>
      <th> Estatus </th>
      <th> Ubicación </th>
    </tr>
  </thead>
  <tbody>
    <% @order.product_requests.where.not(status: 'cancelada').each do |product_request| %>
      <tr>
        <td><%= product_request.product.unique_code %> <%= product_request.product.description %></td>
        <td><%= show_non_blank_field(product_request.product.exterior_color_or_design) %> </td>
        <td><%= number_with_delimiter(product_request.quantity/product_request.product.pieces_per_package) %></td>
        <td><%= show_non_blank_field(product_request.product&.warehouse&.name) %></td>
        <td>
          <% if product_request.status == 'asignado' %>
          <span class="label label-info">
            <%= product_request.status%>
          </span>
          <% elsif product_request.status == 'sin asignar' %>
            <span class="label label-warning">
              <%= product_request.status%>
            </span>
          <% elsif product_request.status == 'entregado' %>
            <span class="label label-success">
              <%= product_request.status%>
            </span>
            <% elsif product_request.status == 'cancelada' %>
              <span class="label label-danger">
                <%= product_request.status%>
              </span>
          <% end %>
        </td>
        <% if (product_request.product.rack.blank? && product_request.product.level.blank?) %>
          <td class="center-text"> - </td>
        <% else %>
          <td class="center-text"> Estante: <%= product_request.product.rack %> Nivel: <%= product_request.product.level %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br /> <br />

<table class="hidden">
  <tbody>
    <tr>
      <td id="date"> <%= l Date.today, format: :short %> </td>
      <td id="store"> <%= @order.store.store_name.capitalize %> </td>
      <td id="hour"> <%= Time.now.strftime("%H:%M") %> </td>
      <td id="user"> <%= warehouse_name(@order) %> </td>
      <td id="orderNumber"> <%= @order.id %> </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br /> <br />
<%= content_for :stylesheet do %>
  <%= stylesheet_link_tag 'datatables.min' %>
<% end %>

<%= content_for :javascript do %>
  <%= javascript_include_tag 'pdfmake.min' %>
  <%= javascript_include_tag 'vfs_fonts.js' %>
  <%= javascript_include_tag 'datatables.min.js' %>
  <%= javascript_include_tag 'tableLoader' %>
<% end %>
