<% if @unassigned.count >= 1 %>
  <table class="dataTableFour">
    <thead>
      <tr class="table-titles">
        <th class="col-md-1">Folio</th>
        <th class="col-md-2">Tienda</th>
        <th class="col-md-2">Tipo de solicitud</th>
        <th class="date col-md-1">Solicitada</th>
        <th class="status col-md-2">Estatus</th>
        <th class="status col-md-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @unassigned.each do |request| %>
        <tr>
          <td> <%= request.id %> </td>
          <td> <%= request.request.store.store_name %>
          <td> <%= request.design_type %></td>
          <% @days = (Date.today - request.created_at.to_date).to_i %>
          <% if @days < 1 %>
            <td class="date-created">
              <span class="label label-success">
                hoy
              </span>
            </td>
          <% elsif @days == 1 %>
            <td class="date-created">
              <span class="label label-warning">
                1 día
              </span>
            </td>
          <% else @days > 1 %>
            <td class="date-created">
              <span class="label label-danger">
                <%= @days %> días
              </span>
            </td>
          <% end %>
          <td> <%= request.status.capitalize %></td>
          <td class="col-md-1">
            <%= link_to design_request_path(request) do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
              <span>Ver</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p class="individual-font">No hay solicitudes activas</p>
  <% end %>
