<p id="notice"><%= notice %></p>

<% @assigned.each do |request| %>
      <table>
        <thead>
          <tr>
            <th>Tipo de solicitud</th>
            <th>creada hace</th>
            <th>tienda</th>
            <th>estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <%= request.design_type %></td>
            <%= render 'created_at' %>
            <td><%= request.request.store_code %> - <%= request.request.store_name %> </td>
            <td> <%= request.status %></td>
            <td> <%= link_to 'detalles', design_request_path(request) %> </td>
          </tr>
        </tbody>
      </table>
    <% end %>
