<% if @assigned.count >= 1 %>
  <table>
    <thead>
      <tr class="table-titles">
        <th class="col-md-1">Folio</th>
        <th class="col-md-2">Tienda</th>
        <th class="quantity col-md-1">Cantidad</th>
        <th class="product col-md-1">Producto</th>
        <th class="product col-md-1">Material</th>
        <th class="date col-md-1">Solicitada</th>
        <th class="delivery-date col-md-1">Entregar</th>
        <th class="status col-md-2">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <% @assigned.each do |request| %>
        <tr>
          <td> <%= request.id %> </td>
          <td> <%= request.store.store_code %> - <%= request.store.store_name %> </td>
          <td><%= number_with_delimiter(request.quantity) %></td>
          <td>
            <% if request.product_type == 'otro'%>
              <%= request.name_type %>
            <% elsif request.product_type != 'otro'%>
              <%= request.product_type %>
            <% end %>
          </td>
          <td> <%= request.main_material %> </td>
          <% @days = (Date.today - request.created_at.to_date).to_i %>
          <% if @days < 1 %>
            <td> hoy </td>
          <% elsif @days == 1 %>
            <td> 1 día </td>
          <% else @days > 1 %>
            <td> <%= @days %> días </td>
          <% end %>
          <% if request.delivery_date.present? %>
            <td> <%= I18n.l request.delivery_date, format: :short %></td>
          <% else %>
          <td> - </td>
            <% end %>
          <td> <%= request.status %></td>
          <% if request.internal_price.blank? %>
            <td class="col-md-1">
              <%= link_to manager_requests_path(request) do %>
                <i class="fa fa-calculator link-to-price" aria-hidden="true"></i>
                <span class="link-to-price">Cotizar</span>
              <% end %>
          </td>
          <% elsif request.sensitive_fields_changed %>
            <td class="col-md-1">
              <%= link_to manager_view_requests_path(request) do %>
                <i class="fa fa-pencil-square-o link-to-price" aria-hidden="true"></i>
                <span class="link-to-price">Recotizar</span>
              <% end %>
            </td>
          <% else %>
            <td class="col-md-1">
              <%= link_to request do %>
                <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
                <span>Ver</span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay solicitudes activas</p>
<% end %>
