
  <table>
    <thead>
      <tr class="table-titles">
        <th class="col-md-2">Tienda</th>
        <th class="quantity col-md-1">Cantidad</th>
        <th class="product col-md-1">Producto</th>
        <th class="date col-md-1">Solicitada</th>
        <th class="delivery-date col-md-1">Entregar</th>
        <th class="status col-md-2">Estatus</th>
      </tr>
    </thead>
    <tbody>
    <% @unassigned.each do |request| %>
      <tr>
        <td> <%= request.store.store_code %> - <%= request.store.store_name %> </td>
        <td><%= request.quantity %></td>
        <td>
          <% if request.product_type == 'otro'%>
            <%= request.name_type %>
          <% elsif request.product_type != 'otro'%>
            <%= request.product_type %>
          <% end %>
        </td>
        <% @days = (Date.today - request.created_at.to_date).to_i %>
        <% if @days < 1 %>
          <td> hoy </td>
        <% elsif @days == 1 %>
          <td> 1 día </td>
        <% else @days > 1 %>
          <td> <%= @days %> días </td>
        <% end %>
        <% if request.delivery_date.present? %>
          <td> <%= I18n.l request.delivery_date, format: :short %></td>
        <% else %>
        <td> - </td>
          <% end %>
        <td> <%= request.status %></td>
        <td class="col-md-1">
          <%= link_to manager_requests_path(request) do %>
            <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
            <span>Detalles</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
