<% if params[:action] == 'current_view' %>
  <% @object = @store_active %>
<% elsif params[:action] == 'inactive_view' %>
  <% @object = @store_inactive %>
<% elsif params[:action] == 'saved_view' %>
  <% @object = @store_saved %>
<% elsif params[:action] == 'index' %>
  <% @object = @requests %>
<% end %>

<% if @object.count >= 1 %>
  <table class="dataTableFour">
    <thead>
      <tr class="table-titles">
        <th class="folio col-md-1">Folio</th>
        <th class="quantity col-md-1">Cantidad</th>
        <th class="product col-md-1">Producto</th>
        <th class="prospect col-md-3">Prospecto</th>
        <th class="date-created col-md-1">Solicitada</th>
        <th class="delivery-date col-md-1">Entregar</th>
        <th class="status col-md-2">Estatus</th>
        <th class="status col-md-2">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @object.each do |request| %>
        <tr>
          <td class="folio"> <%= request.id %></td>
          <td class="quantity"><%= number_with_delimiter(request.quantity) %></td>
          <td class="product">
            <% if request.product_type == 'otro'%>
              <%= request.name_type.capitalize %>
            <% elsif request.product_type != 'otro'%>
              <%= request.product_type.capitalize %>
            <% end %>
          </td>
          <% if request.prospect.present? %>
            <td class="prospect"><%= request.prospect.legal_or_business_name %></td>
          <% end %>
          <% @days = (Date.today - request.created_at.to_date).to_i %>
          <% if @days < 1 %>
            <td class="date-created">
              <span class="label label-success">
                hoy
              </span>
            </td>
          <% elsif @days == 1 %>
            <td class="date-created">
              <span class="label label-warning">
                1 día
              </span>
            </td>
          <% else @days > 1 %>
            <td class="date-created">
              <span class="label label-danger">
                <%= @days %> días
              </span>
            </td>
          <% end %>
          <% if request.delivery_date.present? %>
            <td class="delivery-date"> <%= I18n.l request.delivery_date, format: :short %></td>
          <% else %>
          <td class="delivery-date"> - </td>
            <% end %>
          <td class="status">
            <% if request.status == 'precio asignado' %>
              <span class="label label-primary">
                <%= request.status.capitalize %>
              </span>
            <% elsif (request.status == 'solicitada' || request.status == 'modificada') %>
              <span class="label label-danger">
                <%= request.status.capitalize %>
              </span>
            <% elsif request.status == 'costo asignado' %>
              <span class="label label-warning">
                <%= request.status.capitalize %>
              </span>
            <% elsif request.status == 'autorizada' %>
              <span class="label label-success">
                <%= request.status.capitalize %>
              </span>
            <% elsif request.status == 'cancelada' %>
              <span class="label label-default">
                <%= request.status.capitalize %>
              </span>
              <% elsif (request.status == 'mercancía asignada' || request.status == 'código asignado') %>
                <span class="label label-info">
                  <%= request.status.capitalize %>
                </span>
            <% end %>
          </td>
          <td class="text-left">
            <%= link_to request do %>
              <i class="fa fa-plus-square link-to-details extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver detalles"></i>
            <% end %>
          <% if request.status == 'costo asignado'  %>
            <%= link_to requests_price_path(request) do %>
              <i class="fa fa-calculator link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Asignar Precio"></i>
            <% end %>
          <% elsif request.status == 'precio asignado' || request.status == 'confirmada' %>
              <%= link_to request_estimate_path(format: :pdf, id: request), target: '_blank' do %>
                <i class="fa fa-file-pdf-o link-to-details extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver cotización"></i>
              <% end %>
              <%= link_to send_estimate_mail_path(request) do %>
                <i class="fa fa-send link-to-details extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Enviar cotización"></i>
              <% end %>
              <%= link_to request_authorisation_path(format: :pdf, id: request), target: '_blank' do %>
                <i class="fa fa-file-pdf-o link-to-price extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver pedido"></i>
              <% end %>
              <%= link_to send_authorisation_mail_path(request) do %>
                <i class="fa fa-send-o link-to-price extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Enviar pedido"></i>
              <% end %>
              <%= link_to confirm_requests_path(request) do %>
                <i class="fa fa-check-circle link-to-confirm extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Confirmar pedido"></i>
               <% end %>
          <% elsif request.status == 'devuelta'  %>
              <%= link_to edit_request_path(request) do %>
               <i class="fa fa-pencil link-to-confirm extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar cotización"></i>
             <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>
  <div>
    <% unless params[:action] == 'current_view' %>
      <%= link_to filtered_requests_current_view_path, class: 'space-between-links' do  %>
        Cotizaciones activas
        <i class="fa fa-window-restore" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <% unless params[:action] == 'saved_view' %>
      <%= link_to filtered_requests_saved_view_path, class: 'space-between-links' do  %>
        Cotizaciones guardadas
        <i class="fa fa-file-text" aria-hidden="true"></i>
      <% end %>
    <% end %>

    <% unless params[:action] == 'inactive_view' %>
      <%= link_to filtered_requests_inactive_view_path, class: 'space-between-links' do  %>
        Cotizaciones inactivas
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
  <br/><br/><br/>

<% else %>
  <p class="individual-font">No hay solicitudes en esta bandeja</p>
<% end %>
