<% if @assigned_to_others.count >= 1 %>
    <table class="dataTableFour">
      <thead>
        <tr class="table-titles">
          <th class="col-md-1">Folio</th>
          <th class="col-md-2">Tienda</th>
          <th class="quantity col-md-1">Cantidad</th>
          <th class="product col-md-1">Producto</th>
          <th class="product col-md-1">Material</th>
          <th class="date col-md-1">Solicitada</th>
          <th class="delivery-date col-md-1">Entregar</th>
          <th class="col-md-1">Cotiza</th>
          <th class="status col-md-2">Estatus</th>
          <th class="status col-md-2">Acciones</th>
        </tr>
        </tr>
      </thead>
      <tbody>
      <% @assigned_to_others.each do |request| %>
        <tr>
          <td> <%= request.id %> </td>
          <td> <%= request.store.store_name %> </td>
          <td> <%= number_with_delimiter(request.quantity) %></td>
          <td>
            <% if request.product_type == 'otro'%>
              <%= request.name_type.capitalize %>
            <% elsif request.product_type != 'otro'%>
              <%= request.product_type.capitalize %>
            <% end %>
          </td>
          <td> <%= request.main_material.capitalize %> </td>
          <% @days = (Date.today - request.created_at.to_date).to_i %>
          <% if @days < 1 %>
            <td> hoy </td>
          <% elsif @days == 1 %>
            <td> 1 día </td>
          <% else @days > 1 %>
            <td> <%= @days %> días </td>
          <% end %>
          <% if request.delivery_date.present? %>
            <td> <%= I18n.l request.delivery_date, format: :short %></td>
          <% else %>
          <td> - </td>
          <% end %>
          <td>
            <% find_manager(request) %>
            <%= @follower.first_name %>
            <%= @follower.last_name %>
          </td>
          <td> <%= request.status.capitalize %></td>
          <td class="col-md-1">
            <%= link_to request do %>
              <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
              <span>Ver</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay solicitudes activas</p>
<% end %>
<%= render 'dataTables' %>
