<% if @confirmed.count >= 1 %>
  <table>
    <thead>
      <tr class="table-titles">
        <th class="col-md-2">Tienda</th>
        <th class="quantity col-md-1">Cantidad</th>
        <th class="product col-md-1">Producto</th>
        <th class="date col-md-1">Solicitada</th>
        <th class="delivery-date col-md-1">Entregar</th>
        <th class="status col-md-1">Estatus</th>
      </tr>
    </thead>
    <tbody>
    <% @confirmed.each do |request| %>
      <tr>
        <td> <%= request.store.store_name %> </td>
        <td> <%= number_with_delimiter(request.quantity) %></td>
        <td>
          <% if request.product_type == 'otro'%>
            <%= request.name_type %>
          <% elsif request.product_type != 'otro'%>
            <%= request.product_type %>
          <% end %>
        </td>
        <% @days = (Date.today - request.created_at.to_date).to_i %>
        <% if @days < 1 %>
          <td> hoy </td>
        <% elsif @days == 1 %>
          <td> 1 día </td>
        <% else @days > 1 %>
          <td> <%= @days %> días </td>
        <% end %>
        <% if request.delivery_date.present? %>
          <td> <%= I18n.l request.delivery_date, format: :short %></td>
        <% else %>
        <td> - </td>
          <% end %>
          <td> <%= request.status.capitalize %></td>
        <td class="col-md-1">
          <%= link_to new_request_product_path(request) do %>
            <i class="fa fa-book link-to-confirm" aria-hidden="true"></i>
            <span class="link-to-confirm">Nuevo</span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay solicitudes activas</p>
<% end %>
