<% if @confirmed.count >= 1 %>
  <table class="dataTableFour">
    <thead>
      <tr class="table-titles">
        <th class="col-md-1">Folio</th>
        <th class="col-md-2">Tienda</th>
        <th class="quantity col-md-1">Cantidad</th>
        <th class="product col-md-1">Producto</th>
        <th class="product col-md-1">Material</th>
        <th class="date col-md-1">Solicitada</th>
        <th class="delivery-date col-md-1">Entregar</th>
        <th class="status col-md-1">Estatus</th>
        <th class="status col-md-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @confirmed.each do |request| %>
        <tr>
          <td> <%= request.id %> </td>
          <td> <%= request.store.store_name %> </td>
          <td> <%= number_with_delimiter(request.quantity) %></td>
          <td>
            <% if request.product_type == 'otro'%>
              <%= request.name_type.capitalize %>
            <% elsif request.product_type != 'otro'%>
              <%= request.product_type.capitalize %>
            <% end %>
          </td>
          <td> <%= request.main_material.capitalize %> </td>
          <% @days = (Date.today - request.created_at.to_date).to_i %>
          <% if @days < 1 %>
            <td class="date-created">
              <span class="label label-success">
                hoy
              </span>
            </td>
          <% elsif @days == 1 %>
            <td class="date-created">
              <span class="label label-warning">
                1 día
              </span>
            </td>
          <% else @days > 1 %>
            <td class="date-created">
              <span class="label label-danger">
                <%= @days %> días
              </span>
            </td>
          <% end %>
          <% if request.delivery_date.present? %>
            <td> <%= I18n.l request.delivery_date, format: :short %></td>
          <% else %>
            <td> - </td>
            <% end %>
          <td class="status">
            <% if request.status == 'precio asignado' %>
              <span class="label label-primary">
                <%= request.status.capitalize %>
              </span>
            <% elsif (request.status == 'solicitada' || request.status == 'modificada') %>
              <span class="label label-danger">
                <%= request.status.capitalize %>
              </span>
            <% elsif request.status == 'costo asignado' %>
              <span class="label label-warning">
                <%= request.status.capitalize %>
              </span>
            <% elsif request.status == 'autorizada' %>
              <span class="label label-success">
                <%= request.status.capitalize %>
              </span>
            <% elsif request.status == 'cancelada' %>
              <span class="label label-default">
                <%= request.status.capitalize %>
              </span>
              <% elsif (request.status == 'mercancía asignada' || request.status == 'código asignado') %>
                <span class="label label-info">
                  <%= request.status.capitalize %>
                </span>
            <% end %>
          </td>
          <td class="col-md-1">
            <%= link_to new_request_product_path(request), class: 'link-extra-space' do %>
              <i class="fa fa-book link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Crear producto"></i>
            <% end %>
            <% request.documents.where(document_type: ['pedido', 'printcard', 'pago']).each do |document| %>
              <% if request.documents != [] %>
                <% if document.document_type == 'printcard' %>
                  <%= link_to document.document_url, {class: 'link-extra-space',  target: '_blank'} do %>
                    <i class="fa fa-archive link-to-details" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver printcard"></i>
                  <% end %>
                <% elsif document.document_type == 'pago' %>
                  <%= link_to document.document_url, {class: 'link-extra-space', target: '_blank'} do %>
                    <i class="fa fa-money link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver ficha de depósito"></i>
                  <% end %>
                <% else %>
                  <%= link_to document.document_url, {class: 'link-extra-space', target: '_blank'} do %>
                    <i class="fa fa-briefcase link-to-price" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver Pedido"></i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if request.documents.where(document_type: 'pago') == [] %>
              <%= link_to request_authorisation_path(format: :pdf, id: request), {class: 'link-extra-space', target: '_blank'} do %>
                <i class="fa fa-file-pdf-o link-to-price extra-padding" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Ver pedido en blanco"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="individual-font">No hay solicitudes activas</p>
<% end %>
<%= render 'dataTables' %>
