<%= form_tag({ controller: 'bill_receiveds', action: 'attach_payment'}, multipart: true) do %>
  <% if @bills.count >= 1 %>
    <table id="bills">
      <thead>
        <tr class="table-titles">
          <th> Folio </th>
          <th class="col-md-1"> Fecha </th>
          <th class="col-md-2"> Proveedor </th>
          <th class="col-md-1"> Subtotal </th>
          <th class="col-md-1"> Descuento </th>
          <th class="col-md-1"> IVA </th>
          <th class="col-md-1"> Total </th>
          <th> Vencimiento </th>
          <th class="col-md-1"> Saldo / Pagos </th>
          <th> Estatus </th>
          <th> Acciones </th>
          <th> Pago </th>
        </tr>
      </thead>
      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td> <%= number_with_delimiter(bill[0]) %> </td>
            <td> <%= l bill[1].to_date, format: :short %> </td>
            <td> <%= bill[2].to_s %> </td>
            <td> <%= number_to_currency(bill[3]) %> </td>
            <td> <%= number_to_currency(bill[4]) %> </td>
            <td> <%= number_to_currency(bill[5]) %> </td>
            <td id="balance_<%= bill[10] %>"> <%= number_to_currency(bill[6]) %> </td>
            <td> <%= l (bill[1].to_date + bill[8].days), format: :short %> </td>
            <td> <%= number_to_currency(bill[7]) %> </td>
            <% if Date.today > bill[1].to_date %>
              <td>
                <span class="label label-warning">
                  Vencida
                </span>
              </td>
            <% else %>
              <td>
                <span class="label label-success">
                  Al corriente
                </span>
              </td>
            <% end %>
            <td>
              <% if bill[9] == 'BillReceived' %>
                <%= link_to bill_receiveds_edit_path(Bill.find(bill[10])) do %>
                  <i class="fa fa-pencil-square link-to-confirm" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Modificar factura"></i>
                <% end %>
              <% end %>
            </td>
            <td class="col-md-1">
              <%= text_field_tag 'payments[]', nil, {id: "payments_#{bill[10]}", class: 'form-control center-text'} %>
              <%= text_field_tag 'id[]', bill[10], {class: 'form-control center-text hidden'} %>
              <%= text_field_tag 'type[]', bill[9], {class: 'form-control center-text hidden'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="form-inside-style center-field file-field">
      <div class="ind-form form-inside-style">
        <%= label_tag :comprobante %>
        <%= file_field_tag :image %><br>
      </div>

      <div class="ind-form form-inside-style">
        <%= label_tag :fecha_de_pago %>
        <%= date_field_tag :date, nil, {class: 'form-control center-text', max: Date.today} %>
      </div>

      <div class="ind-form form-inside-style">
        <%= label_tag :total_comprobante %>
        <%= text_field_tag :total_payment, nil, {class: 'form-control center-text', readonly: true} %><br>
      </div>

      <div class="ind-form form-inside-style">
        <%= label_tag :forma_de_pago %>
        <%= select_tag :payment_form, options_for_select(payment_forms), {class: 'form-control center-text'} %>
      </div>
    </div>

    <div class="actions">
      <%= submit_tag 'Confirmar pago(s)', class: 'main-button' %>
    </div><br />

  <% else %>
    <p class="individual-font"> No hay facturas pendientes de pago </p>
  <% end %>
<% end %>

<br/>
<div>
  <%= link_to bill_receiveds_new_path, class: 'space-between-links' do %>
    Nueva factura
    <i class="fa fa-plus-square link-to-details" aria-hidden="true"></i>
  <% end %>

  <% unless params[:action] == 'history' %>
    <%= link_to bill_receiveds_history_path, class: 'space-between-links' do  %>
      Facturas pagadas
      <i class="fa fa-folder-open" aria-hidden="true"></i>
    <% end %>
  <% end %>

  <% unless params[:action] == 'index' %>
    <%= link_to bill_receiveds_index_path, class: 'space-between-links' do  %>
      Facturas por pagar
      <i class="fa fa-wpforms" aria-hidden="true"></i>
    <% end %>
  <% end %>
</div>
<br/>

<%= render 'data_tables_another' %>
<%= content_for :javascript do %>
  <%= javascript_include_tag 'bills_data_tables' %>
  <%= javascript_include_tag 'limitQuantity' %>
<% end %>
