<!DOCTYPE html>
<html>
<head>
  <title>Sistema DC</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans:300,400', media: 'all' %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all' %>
  <%= stylesheet_link_tag    'navigation', media: 'all' %>
  <%= stylesheet_link_tag    'style', media: 'all' %>
  <%= stylesheet_link_tag    'autocomplete', media: 'all' %>
  <%= stylesheet_link_tag    'requests', media: 'all' %>

  <%= content_for :stylesheet %>

  <%= favicon_link_tag 'Mosaic-tech-cuadros.png' %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex"
</head>

<% if params[:controller] == 'devise/sessions' %>
  <body class=" background-img">
<% else %>
  <body>
<% end %>

  <%= render 'navbar' %>

  <% if notice %>
    <div class="notice">
      <%= notice %>
      <button type="button" class="close" data-dismiss="notice" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert">
      <%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>

  <% if current_user %>
    <%= render 'vertical_navbar' %>
    <div class="flex">
      <div class="centered">
        <%= yield %>
      </div>
  <% else %>
    <div class="centered-without-margin">
      <%= yield %>
    </div>
  <% end %>
    </div>
  </body>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'bootstrap' %>
<%= content_for :javascript %>
</html>
